<div class="todo">
  <app-add-form></app-add-form>
  <app-task-list></app-task-list>
  <app-edit></app-edit>
  <!--

  <div class="todo-list">
    <div class="overlay" [class.active]="openEditBlock"></div>

    <div class="filter-btns">
      <button class="all-filter"
              [class.active]="currentFilter === 'all'"
              (click)="currentFilter = 'all'">
        All
      </button>
      <button class="progress-filter"
              [class.active]="currentFilter === 'progress'"
              (click)="currentFilter = 'progress'">
        In progress
      </button>
      <button class="done-filter"
              [class.active]="currentFilter === 'done '"
              (click)="currentFilter = 'done'">
        Done
      </button>
    </div>


  </div>-->
</div>
