@media  (max-width: 1200px) {

  .wrapper {
    max-width: 1024px;
  }
  .header-submenu li{
    //width: 23.35%;
    margin-left:10px;
  }
}

@media  (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
  }
  .menu a {
    display: none;
  }
  a.icon-menu {
    float: right;
    display: block;
  }

}

@media (max-width: 768px) {
  .wrapper {
    max-width: 425px;
  }
  .menu a {
    display: none;
  }
  a.icon-menu {
    float: right;
    display: block;
  }
  .header-submenu li{
    width: 43.35%;
    margin-left: 5px;
  }
}

@media (max-width: 425px) {
  .wrapper {
    max-width: 320px;
  }
  .header-submenu li{
    width: 80.35%;
    margin-left: 5px;
  }
}