@media (max-width: 1200px) {

  .wrapper {
    max-width: 1024px;
  }

  header nav {
    position: relative;
  }
  .header-submenu li {
    //width: 23.35%;
    margin-left: 18px;
  }
  .header-title h2 {
    font-size: 67px;
  }
  .header-title h1 {
    font-size: 120px;
  }
  .statistic .wrapper {
    max-width: 1200px;
  }
  .about-photo {

    width: 31%;

  }
  .accordion-panel {
    //padding: 0 18px;

    height: 72px;
  }

}

@media (max-width: 1024px) {

  .wrapper {
    max-width: 768px;
  }
  .menu a {
    display: none;
  }
  a.icon-menu {

    display: block;
  }
  .responsive {
    background-color: #e4c77f;
    top: 45px;

  }
  .responsive li {
    display: block;
    text-align: left;
    margin-left: 0;
    padding: 10px 10px;
cursor: pointer;
    border-bottom: 1px solid orange;
  }
  .responsive li:first-child {
    border-top: 1px solid orange;

  }

  .responsive a {
    display: block;
    margin: 0;
  }
  .responsive {
    float: none;
    position: absolute;
    width: 100%;
  }
  .responsive a:not([class*="icon"]):hover {
    color: #fff;
    border-bottom: none;
    padding-bottom: 0;
  }
  .responsive .icon-search .icon-search {
padding-left: 30px;
  }

  .header-title h2 {
    font-size: 60px;
    margin-top: 105px;
  }
  .header-title h1 {
    font-size: 120px;
    margin-top: 70px;
  }
  .header-submenu span {
    font-size: 18px;
  }
  .header-submenu {
    margin-top: 120px;
  }
  .header-submenu li {
    margin-left: 47px;
    width: 20%;
  }
  .header-submenu a {
    font-size: 18px;
  }
  .about {
    padding-top: 40px;
    padding-bottom: 70px;
  }
  .about-photos-grid {
    margin-top: 60px;
  }
  .about-photo {

    width: 31%;
  }
  .statitstic-cell {
    padding: 65px 30px 55px 30px;
  }
  .statitstic-cell p:nth-child(2n+1) {

    margin-bottom: 17px;
    font-size: 50px;
  }

  .statitstic-cell p:nth-child(2n ) {
    font-size: 12px;

  }
  .statistic .wrapper {
    max-width: 1200px;
  }
  .services .wrapper {
    max-width: 1200px;
  }
  .about .wrapper {
    max-width: 1200px;
  }
  .services-description {
    width: 62%;
  }
  .services-description p {
    font-size: 12px;
    padding-top: 10px;
  }
  .services-cell img {
    padding-right: 10px;
  }
  .services-cell h5 {
    font-size: 12px;
  }
  .ipad {
    height: 500px;

  }
  .iphone {
    height: 370px;
    margin-top: -301px;
    margin-left: 388px;

  }
  .about-photo {

    width: 30%;
  }
  .activity-image {
    width: 100%
  }
  .accordion {
    width: 100%;
  }

}

@media (max-width: 768px) {
  .wrapper {
    max-width: 425px;
  }
  .responsive {
    float: none;
    position: absolute;

  }

  .header-submenu li {
    width: 100%;
    margin-left: 0;
    margin-right: 10px;
  }
  //.header-submenu li:nth-child(even){
  //  margin-left: 10px;
  //}
  .header-submenu a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header-title h1 {
    font-size: 66px;
    margin-top: 15px;
  }
  .header-title h2 {
    font-size: 52px;
    margin-top: 75px;

  }
  .header-submenu {
    margin-top: 67px;
    margin: 67px 20px 0 20px;
  }
  .header-submenu span {
    font-size: 14px;
  }
  .header-submenu a {
    font-size: 14px;
  }
  .section-title h4 {
    font-size: 18px;;
  }
  .section-title h3 {
    font-size: 25px;
  }
  .section-info {
    font-size: 12px;
  }
  .statitstic-cell {
    padding: 50px 11px 35px 11px;
  }
  .statitstic-cell p:nth-child(2n+1) {
    margin-bottom: 15px;
    font-size: 45px;

  }
  .statitstic-cell p:nth-child(2n) {
    font-size: 11px;

  }
  .statistic .wrapper {
    max-width: 1200px;
  }
  .services .wrapper {
    max-width: 1200px;
  }
  .services-cell img {
    float: none;
    padding: 0 0 27px 0;
    display: block;
    /* margin: auto; */
    /* text-align: center; */
  }
  .services-description {
    float: none;
    text-align: center;
  }
  .ipad {
    height: 400px;

  }
  .iphone {
    height: 270px;
    margin-top: -221px;
    margin-left: 308px;

  }
  .about-photo {
    //margin-right: 5px;
    //margin-left: 5px;
    //margin:0 auto;

    width: 29%;
  }
  .work-column {

    width: 50%;
  }
}

@media (max-width: 630px) {
  .about-photo {
    width: 70%;
  }
  .about-photo {
    width: 90%;
  }
  .services-cell img {
    float: left;
    padding-right: 27px;
    //display: block;
    /* margin: auto; */
    /* text-align: center; */
  }
  //.services-description {
  //  float: left;
  //  text-align: right
  //}
  .services-cell {
    border-bottom: 1px solid #e5e5e5;
  }
  .services-description {
    float: left;
    text-align: left;
  }
  .services-cell {
    padding-left: 15px;
    display: block;
    width: 100%;

  }
  .services-description {
    width: 80%;
  }

}

@media (max-width: 425px) {
  .wrapper {
    max-width: 320px;
  }
  .header-submenu li {
    width: 100%;
    margin-bottom: 15px;
  }
  .header-title h1 {
    font-size: 50px;
  }
  .header-title h2 {
    font-size: 45px;
    margin-top: 40px
  }
  .about-photo {

  }
  .statitstic-cell {
    padding: 50px 11px 35px 11px;
  }
  .statitstic-cell:first-child {
    border: none;
    border-bottom: 1px solid #b5eae0;
  }

  .statitstic-cell {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #b5eae0;
  }
  .statistic .wrapper {
    max-width: 1200px;
  }
  .statistic-table {
    display: block;
  }
  .services-cell {
    //    width: 85%;
  }
  //.services-cell img {
  //
  //
  //  display: inline;
  //  /* margin: auto; */
  //  /* text-align: center; */
  //}

  .ipad {
    height: 260px;

  }
  .iphone {
    height: 177px;
    margin-top: -144px;
    margin-left: 155px;

  }

}