.reviews-wrapper {
	background: url("../images/reviews/reviews-back.png") center center no-repeat;
	background-size: cover;
}

.reviews {
	padding-top: 110px;
	padding-bottom: 60px;

	.title {
		padding-bottom: 88px;
	}
}

.review {
  	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 49%;
	display: inline-block;
	padding-bottom: 64px;
	padding-left: 3.4%;
	vertical-align: top;

	&:nth-child(2n) {
		padding-left: 50px;
	}

	.review-image {
		width: 20%;
		float: left;
		border-radius: 50%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.review-image::before {
		content: '';
		display: block;
		padding-top: 100%;
		width: 100%;
	}

	.review-content {
		float: left;
		width: 70%;
		padding-left: 28px;

		h5 {
			color: $color-dark-grey;
			font-family: $font-montserrat;
			font-size: 14px;
			font-weight: 500;
			margin: 0;
			text-transform: uppercase;
			padding-top: 9px;
			padding-bottom: 11px;
		}

		h6 {
			color: #585858;
			font-family: $font-roboto;
			font-size: 15px;
			font-style: italic;
			font-weight: 300;
			margin: 0;
			padding-bottom: 17px;
		}

		p {
			color: $color-light-grey;
			font-family: $font-roboto;
			font-size: 15px;
			font-weight: 400;
			line-height: 1.6;
			margin: 0;
			padding-left: 2px;
		}

		p::before {
			content: '';
			display: block;
			width: 60px;
			border-top: 3px solid $color-red;
			padding-bottom: 20px;
		}
	}
}

@media screen and(max-width: 1023px) {
	.reviews {
		padding-top: 60px;
		padding-bottom: 20px;

		.title {
			padding-bottom: 50px;
		}
	}

	.review {
		text-align: center;

		&:nth-child(2n) {
		    padding-left: 0; 
		}

		.review-image {
			float: none;
			margin: 0 auto;
		}

		.review-content {
			float: none;
			width: auto;
			padding-left: 0;
		}
	}

	.review-content p::before {
		margin: 0 auto;
	}
}

@media screen and(max-width: 460px) {
	.reviews {
		padding-top: 30px;
		padding-bottom: 30px;

		.title {
			padding-bottom: 30px;
		}
	}

	.review {
		width: 100%;
		padding: 20px 10px;
		margin: 0 auto;

		&:nth-child(2n) {
			padding-left: 10px;
		}

		.review-content {

			h5 {
				font-size: 13px;
			}

			h4 {
				font-size: 13px;
			}

			p {
				line-height: 1.5;
				font-size: 13px;
			}
		}
	}
}
