/*380 60*/
.email-form__input {
    padding: 20px 185px 20px 8px;
    border: 0;
    color: #c8c8c8;
    font-weight: 200;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
}