.choose-buttons {
  text-align: center;
  padding: 20px 0;

  button {
    background-color: #00aba9;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
    padding: 5px 20px;
    transition: all .4s;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #2d89ef;
      border: 1px solid #2d89ef;
    }
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  color: #333;
  font-family: 'Helvetica', sans-serif;

  p {
    font-size: 18px;
    color: #333;
    text-align: center;
    padding-bottom: 20px;
  }
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
  overflow: hidden;
}

.slider {
  display: none;

  .section-switch {
    float: left;
    margin: 0 0 0 15%;

    .image-section {
      background-color: #00aba9;
      border: 1px solid #fff;
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 15px;
      padding: 25px 35px;
      text-decoration: none;
      transition: all .4s;

      &:hover {
        background-color: #2d89ef;
        border: 1px solid #2d89ef;
      }
    }
  }

  .image-title-list {
    float: left;
    width: 30%;
    margin: 0 5%;
    background: #eff4ff;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        cursor: pointer;
        display: inline-block;
        font-size: 20px;
        padding: 20px 0;
        transition: background .4s;
        width: 100%;

        &:hover {
          background: #2d89ef;
          color: #fff;
        }
      }
    }
  }

  .image-slider {
    float: left;
    position: relative;
    padding: 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        div {
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          position: relative;
          width: 400px;

          &:before {
            content: '';
            display: block;
            width: 100%;
            padding-top: 70%;
          }
        }
      }
    }
  }
}

.css-slider {
  @mixin slider-margin($id, $margin) {
    a#{$id}:target ~ ul {
      margin-left: $margin;
    }
  }

  @mixin section-margin($id, $margin) {
    input#{$id}:checked ~ .image-title-list ul {
       margin-top: $margin;
     }
  }

  $image-width: 400px;
  $slide-1-margin: 0;
  $slide-2-margin: -$image-width;
  $slide-3-margin: -2 * $image-width;
  $slide-4-margin: -3 * $image-width;
  $slide-5-margin: -4 * $image-width;
  $slide-6-margin: -5 * $image-width;
  $slide-7-margin: -6 * $image-width;
  $slide-8-margin: -7 * $image-width;
  $slide-9-margin: -8 * $image-width;

  display: none;

  .section-switch {
    float: left;
    width: 40%;
    text-align: left;
    margin: 0 0 0 15%;

    .image-section-radio {
      display: none;
    }

    .image-section-label {
      background-color: #00aba9;
      border: 1px solid #fff;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 15px;
      padding: 25px 35px;
      text-align: center;
      transition: all .4s;

      &:hover {
        background-color: #2d89ef;
        border: 1px solid #2d89ef;
      }
    }

    @include section-margin('#first-section', 0);
    @include section-margin('#second-section', -190px);
    @include section-margin('#third-section', -380px);

    .image-title-list {
      float: right;
      text-align: center;
      margin: -303px 0 0 60px;
      width: 340px;
      height: 190px;
      overflow-y: hidden;

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        transition: margin .4s;
        background: #eff4ff;

        li a {
          padding: 20px 0;
          display: block;
          font-size: 20px;
          cursor: pointer;
          transition: background .4s;
          text-decoration: none;
          color: #333;

          &:hover {
            background: #2d89ef;
            color: #fff;
          }
        }
      }
    }
  }
  .image-slider {
    float: left;
    position: relative;
    padding: 0;
    width: 400px;
    overflow-x: hidden;
    margin: 0 5%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 3600px;
      transition: margin .4s;

      li {
        float: left;

        div {
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          position: relative;
          width: 400px;

          &:before {
            content: '';
            display: block;
            width: 100%;
            padding-top: 70%;
          }
        }
      }
    }

    @include slider-margin('#image0', $slide-1-margin);
    @include slider-margin('#image1', $slide-2-margin);
    @include slider-margin('#image2', $slide-3-margin);
    @include slider-margin('#image3', $slide-4-margin);
    @include slider-margin('#image4', $slide-5-margin);
    @include slider-margin('#image5', $slide-6-margin);
    @include slider-margin('#image6', $slide-7-margin);
    @include slider-margin('#image7', $slide-8-margin);
    @include slider-margin('#image8', $slide-9-margin);
  }
}
