.about {
	background: #fff;
	padding: 90px 0 110px;
    text-align: center;
}

.about-gallery{
	margin-top: 100px;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
    	margin: 0;

    	.overlay {
    		width: 380px;
    		height: 250px;
    		background: $primary-color;

    		> * {
				transition: 0.3s;
			}

    		&:hover > * {
				@include transform(-10px);
	    	}
    	}
    }

	.gallery-content {
		span {
 			position: absolute;
		 	top: 50%;
		 	left: 50%;	
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			font-weight: 700;
			color: #fff;
			text-transform: uppercase;
			@include transform (-50%);
		}

		.users-icon::before {
    	content: '';
    	display: block;
    	margin: 0 auto 10px;
    	@include sprite($users-icon);
    	}
	}

}