.about {
	background: #fff;
	padding: 90px 0 110px;
    text-align: center;
}



.about-gallery{
	margin-top: 100px;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
    	width: 380px;
    	height: 250px;
    	margin: 0;
    }

	.gallery-content {
		span {
 			position: absolute;
		 	top: 50%;
		 	left: 50%;	
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			font-weight: 700;
			color: #fff;
			text-transform: uppercase;
			@include transform (-50%);
		}
	}
}