.blog {
	padding: 110px 0 115px;
	background: #fff;
}

.blog-list {
	margin-top: 45px;
	font-size: 0;
	text-align: left;

	li {
		display: inline-block;
		width: 31.66%;
		margin-right: 2.5%;
		vertical-align: top;

		&:last-child {
			margin-right: 0;
		}
	}

	.blog-img {
		position: relative;
		display: block;

		img {
			display: block;
			width: 100%;
		}

		.blog-date {
			position: absolute;
			bottom: 10px;
			left: -10px;
			width: 60px;
			height: 70px;
			padding: 12px 0;
			background: #95e1d3;
			font-size: 15px;
			font-weight: 300;
			font-style: italic;
			color: #fff;
			text-align: center;
		}

		p {
			font-family: 'Montserrat', sans-serif;
			font-size: 30px;
			font-weight: 700;
			font-style: normal;
		}
	}

	.blog-info {
		padding: 19px 0;
		text-align: left;
		border-bottom: 1px solid #e5e5e5;

		h3 {
			margin-bottom: 11px;
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
			font-weight: 400;
			color: #333;
			text-transform: uppercase;
		}

		p {
			font-size: 15px;
			font-weight: 400;
			color: #999;
			line-height: 24px;
		}
	}

	.blog-comments {
		margin-top: 15px;
		font-size: 15px;
		font-weight: 300;
		font-style: italic;
		text-align: left;

		.views, .comments {
			display: inline-block;
			vertical-align: middle;
			color: #999;
		}

		.views {
			margin-right: 12px;

			&::before {
				content: '';
				display: inline-block;
				margin-right: 7px;
				vertical-align: middle;
				@include sprite($view-icon);
			}
		}
		.comments {

			&::before {
				content: '';
				display: inline-block;
				margin-right: 7px;
				vertical-align: middle;
				@include sprite($comment-icon);
			}
		}

		span {
			vertical-align: middle;
		}
	}
}