footer {
	background: #f8f8f8;
}

.footer-top {
	.content{
		padding: 65px 0;
		font-size: 0;
	}
}

.social-column, .blog-column, .instagram-column {
	float: right;
}
/******************************* SOCIAL COLUMN *******************/
.social-column {
	width: 42.5%;
	padding-right: 45px;

	h2 {
		margin-bottom: 30px;
		font-family: 'Montserrat', sans-serif;
		font-size: 46px;
		font-weight: 700;
		color: #ccc;	
	}

	.description {
		margin-bottom: 45px;
		font-size: 15px;
		color: #999;
		line-height: 24px;
	}

	.followers {
		margin-bottom: 17px;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 400;
		color: #333;

		span {
			font-size: 18px;
			font-weight: 700;
		}

		&::after {
			margin-top: 17px;
			content: '';
			display: block;
			height: 1px;
			background: #e5e5e5;
		}
	}

	.social {
		margin-bottom: 37px;
		font-size: 0;

		span {
			display: inline-block;
			margin-right: 20px; 
			font-size: 15px;
			font-weight: 300;
			font-style: italic;
			color: #999;
		}

		.social-list {
			display: inline-block;

			li {
				display: inline-block;
				margin-right: 16px;
				vertical-align: middle;
			}

			a {
				display: inline-block;
			}
			
			.facebook {
				@include sprite($facebook);
			}

			.twitter {
				@include sprite($twitter);
			}

			.instagram {
				@include sprite($instagram);
			}
			
			.pinterest {
				@include sprite($pinterest);
			}
			
			.google-plus {
				@include sprite($google-plus);
			}
			
			.youtube {
				@include sprite($youtube);
			}
			
			.dribble {
				@include sprite($dribble);
			}

			.tumbl {
				@include sprite($tumbl);
			}

		}

		span, .social-list {
			vertical-align: middle;
		}
	}

	.subscription {

		input[type="email"] {
			display: inline-block;
			margin-right: -4px;
			padding: 10px 10px 10px 12px;
			font-size: 15px;
			font-weight: 300;
			font-style: italic;
			color: #333;
			background: #fff;
			border-top: 1px solid #e7e7e7;
			border-bottom: 1px solid #e7e7e7;
			border-left: 1px solid #e7e7e7;
			vertical-align: top;
		}

		@include placeholder(#ccc);

		input[type="submit"] {
			display: inline-block;
			padding: 13px 33px;
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
			font-weight: 700;
			background: $primary-color;
			color: #fff;
			text-transform: uppercase;
			cursor: pointer;
			vertical-align: top;
		}
	}
}
/******************************* SOCIAL COLUMN END ***************/

/******************************* BLOG COLUMN *******************/
.blog-column {
	width: 35%;
	padding-top: 11px;

	h3 {
		margin-bottom: 36px;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 400;
		color: #333;
		text-transform: uppercase;
	}
}

.footer-blog-list {

	li {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}

		&:nth-child(1)>a{
			background-image: url(../img/footer-blog-1.jpg);
		}

		&:nth-child(2)>a{
			background-image: url(../img/footer-blog-2.jpg);
		}

		&:nth-child(3)>a{
			background-image: url(../img/footer-blog-3.jpg);
		}
	}

	li>a {
		float: left;
		width: 28.6%;
		height: 80px;
		margin-right: 4.76%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	img {
		display: block;
		width: 100%;
	}

	.blog-info {
		float: left;
		max-width: 47.66%;
		padding-top: 18px;

		a {
			display: block;
			margin-bottom: 2px;
			font-size: 12px;
			font-weight: 400;
			color: #333;
			line-height: 1.5em;
			text-transform: uppercase;
		}

		span {
			font-size: 13px;
			font-weight: 300;
			font-style: italic;
			color: #999;
		}
	}
}

/******************************* BLOG COLUMN END ***************/

/******************************* INSTAGRAM COLUMN *******************/
.instagram-column {
	width: 22.5%;
	padding-top: 11px;

	h3 {
		margin-bottom: 36px;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 400;
		color: #333;
		text-transform: uppercase;
	}

}

.instagram-gallery{
	font-size: 0;
	text-align: center;
	
	li {
		display: inline-block;
		width: 33.3%;
		height: 88px;
		padding: 0 1px 1px 1px;
		vertical-align: middle;

		&:nth-child(1) a {
			background-image: url(../img/instagram-gallery-1.jpg)
		}

		&:nth-child(2) a {
			background-image: url(../img/instagram-gallery-2.jpg)
		}

		&:nth-child(3) a {
			background-image: url(../img/instagram-gallery-3.jpg)
		}

		&:nth-child(4) a {
			background-image: url(../img/instagram-gallery-4.jpg)
		}

		&:nth-child(5) a {
			background-image: url(../img/instagram-gallery-5.jpg)
		}

		&:nth-child(6) a {
			background-image: url(../img/instagram-gallery-6.jpg)
		}

		&:nth-child(7) a {
			background-image: url(../img/instagram-gallery-7.jpg)
		}

		&:nth-child(8) a {
			background-image: url(../img/instagram-gallery-8.jpg)
		}

		&:nth-child(9) a {
			background-image: url(../img/instagram-gallery-9.jpg)
		}
	}

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}
.instagram-viewmore {
	display: inline-block;
	margin-top: 20px;
	font-size: 13px;
	font-weight: 300;
	font-style: italic;
	color: #333;
}
/******************************* INSTAGRAM COLUMN END ***************/

/******************************* COPYTIGHT *******************/
.footer-copyright {
	padding: 25px 0;
	border-top: 1px solid #e5e5e5;
}

.copyright {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	text-align: center;

	a {
		color: #f38181;
	}
}
/******************************* COPYTIGHT END ***************/
