.banner {
	padding: 27px 0 25px;
	background: -moz-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%), url(../img/header-bg.jpg) no-repeat center;
	background: -webkit-linear-gradient(top, rgba(243,129,129,0.9) 0%,rgba(252,227,138,0.9) 100%), url(../img/header-bg.jpg) no-repeat center;
	background: linear-gradient(to bottom, rgba(243,129,129,0.9) 0%,rgba(252,227,138,0.9) 100%), url(../img/header-bg.jpg) no-repeat center;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f38181', endColorstr='#e6fce38a',GradientType=0 ), url(../img/header-bg.jpg) no-repeat center;
	background-size: cover;
}

.navigation-container{
	font-family: 'Montserrat', sans-serif;
}

/******************************* LOGO *******************/
.site-logo {
	float: left;
	width: 20%;
}

.site-logo { 
	a {
		font-size: $logo-size;
		font-weight: 700;
		color: #fff;
		line-height: 1;
	}
}
/******************************* LOGO END ***************/

/******************************* NAV *******************/
.navigation {
	float: right;
	display: block;
	width: 80%;
	padding-top: 8px;
}

.navigation-list {
	float: right;

	ul {
		font-weight: 400;
		text-transform: uppercase;
	}

	li {
		display: inline-block;
		margin-right: 0;
		margin-left: 53px;
		vertical-align: middle;

		&:first-child {
		margin-left: 0;
		}
	}

	a {
		font-size: 14px;
		padding-bottom: 9px;
		color: #fff;
		border-bottom: 3px solid transparent;
	}

	li:hover a {
		color: #fce38a;
		border-bottom: 3px solid #fce38a;
	}
}
/******************************* NAV END ***************/

/******************************* ICONS *******************/
.navigation-icons {
	float: right;

	li {
		display: inline-block;
		margin-right: 0;
		margin-left: 37px;
		vertical-align: middle;

		&:first-child {
			margin-left: 50px;
		}
	}

	a {
		display: inline-block;
	}
	
	.search-icon {
		@include sprite($search-icon);
	}

	.shop-icon {
		@include sprite($shop-icon);
	}
}

/******************************* ICONS END ***************/

/******************************* RESPONSIVE NAV *******************/
.responsive-nav {
	float: right;
	display: none;

	.burger-icon {
		@include sprite($hamburger-icon);
		cursor: pointer;
	}
}

.responsive-nav-list {
	display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 260px;
    padding-top: 20px;
    background-color: #e78582;
    overflow-x: hidden;
    z-index: 10;
    
	
	li {
		border-bottom: 1px solid #f1bbba;
	}

	a {
		display: block;
		padding: 18px 15px;
		font-size: 17px;
		font-weight: 400;
		color: #fff;
		text-transform: uppercase;
	}

	.close-icon {
			margin: 0;
			@include sprite($close-icon);
			background-repeat: no-repeat;
	}
}
/******************************* RESPONSIVE NAV END ***************/

/******************************* TITLE *******************/
.banner-title {
	margin-top: 170px;

	.title-container {
		text-align: center;

		&::after {
		content: '';
		display: inline-block;
		margin-top: 50px;
		width: 60px;
		height: 3px;
		background: #fff;
		}
	}

	.styled-title {
		@extend .styled-font;
		font-size: 72px;
		color: #fff;
		margin-bottom: 50px;
	}

	.normal-title {
		@extend .normal-font;
		font-size: 150px;
		color: #fff;
		max-width: 80%;
		line-height: 140px;
	}	

	.learn-more {
		margin-top: 45px;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 1px;
	}

	.btn {
		display: inline-block;
		padding: 11px 31px;
		color: #fff;
		border: 3px solid #fff;

		&:hover {
			color: #f38181;
			background: #fff;
			transition: all 0.2s ease;
		}
	}
}

/******************************* TITLE END ***************/

/******************************* SLIDER *******************/
.banner-slider {
	margin-top: 155px;

	ul {
		font-size: 0;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
	}

	li {
		display: inline-block;
		width: 23.33%;
		margin-right: 2.22%;
		opacity: 0.5;
		cursor: pointer;

		&:last-child {
		margin-right: 0;
		}
	}

	.progress-bar {
		position: relative;
		margin-bottom: 23px;
		height: 3px;
		background: #fff;
	}

	.progress-bar::after {
		content: '';
		display: none;
		height: 3px;
		position: absolute;
		top: 0;
		left: 0;
		background: #f38181;
	}

	li:hover, .active {
		opacity: 1;
	}

	li:hover .progress-bar::after, li.active .progress-bar::after {
		display: block
	}

	li:nth-child(1) .progress-bar::after {
		width: 25%;
	}

	li:nth-child(2) .progress-bar::after {
		width: 50%;
	}

	li:nth-child(3) .progress-bar::after {
		width: 75%;
	}

	li:nth-child(4) .progress-bar::after {
		width: 100%;
	}

	.banner-slider-desc {
		font-size: 18px;
		font-weight: 400;
		color: #fff;

		span {
			font-size: 24px;
			font-weight: 700;
		}
	}
}
/******************************* SLIDER END ***************/