.services {
	padding: 110px 0 120px;
}

.services-list {
	margin-top: 100px;
	display: table;
	width: 100%;
}

.services-row {
	display: table-row;
	width: 100%;
}

.services-cell {
	display: table-cell;
	width: 33.3%;
	color: #000;
}