.works {
	padding-top: 110px;
	background: #fff;
}

.works-gallery {
	margin-top: 100px;
	column-count: 4;
	column-gap: 0;

	.gallery-content {
	}

	li {
		break-inside: avoid;
	}

	.info {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform (-50%);

		&::before {
			content: '';
			display: block;
			margin: 0 auto;
			padding-bottom: 16px;
			@include sprite($works-icon);
		}
	}

	.info h4 {
		margin-bottom: 12px;
		font-family: 'Motserrat', sans-serif;
		font-size: 14px;
		font-weight: 400;
		color: #fff;
		text-transform: uppercase;
	}

	.info p {
		font-size: 15px;
		font-weight: 300;
		font-style: italic;
		color: #fff;
	}
	
}

