.about {
	padding-top: 91px;
	padding-bottom: 110px;

	.description {
		padding-top: 4px;
	}
}

.pics {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
	padding-top: 78px;

	.image-wrapper {
		position: relative;
		margin-right: 2.5%;
		margin-top: 1.66%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		width: 31.666%;
		transition: .4s;
	}

	.image-wrapper::before {
		content: '';
		display: block;
		width: 100%;
		padding-top: 65.789%;
	}

	.image-wrapper:nth-child(3) {
		margin-right: 0;
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		opacity: 0;
		background: -moz-linear-gradient(90deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
		background: -webkit-linear-gradient(90deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
		background: -o-linear-gradient(90deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
		background: -ms-linear-gradient(90deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
		background: linear-gradient(0deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
		transition: .4s;

		img {
			position: absolute;
			box-shadow: none;
			top: 41.5%;
			left: 45.7%;
		}

		h6 {
			font-family: $font-montserrat;
			font-size: 18px;
			text-transform: uppercase;
			margin: 0;
			padding-top: 35.5%;
			color: $color-white;
			text-align: center;
		}
	}

	.image-wrapper:hover {
		cursor: pointer;
		transform: translate(-10px, -10px);
		box-shadow: 10px 10px #95e1d3;

		.overlay {
	  		opacity: 0.9;
		}

		.overlay-text {
			opacity: 1;
		}

		.overlay-text img {
			/*box-shadow: none;*/
		}
	}
}

@media screen and(max-width: 1200px) {
	.about {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding-left: 10px;
		padding-right: 10px;

		.pics {
			padding-top: 40px;
		}
	}
}

@media screen and(max-width: 1024px) {
	.about {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

@media screen and(max-width: 900px) {
	.pics .overlay {
		img {
			width: 12%;
		}

		h6 {
			font-size: 15px;
		}
	}
}

@media screen and(max-width: 600px) {
	.pics {
		.image-wrapper {
			width: 90%;
			margin-right: 0;
		}

		.overlay {
			img {
				width: 10%;
			}

			h6 {
				font-size: 18px;
			}
		}
	}
}

@media screen and(max-width: 460px) {
	.about {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.pics {
		padding-top: 30px;
	}
}

@media screen and(max-width: 340px) {
	.pics .overlay h6 {
		font-size: 15px;
	}
}
