.map {
	background-image: url("../images/map/map-back.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
	font-size: 0;
	padding: 57px 0;

	a {
		text-decoration: none;

		&:hover {
			h6 {
				color: $color-dark-grey;
			}

			h6::after {
				border-bottom: 3px solid $color-dark-grey;
			}

			.map-marker {
				background: url("../images/map/map-marker-gray.png");
			}
		}
	}

	h6 {
		margin: 0;
		font-family: 'Montserrat', sans-serif;
		font-size: 24px;
		text-transform: uppercase;
		color: $color-red;
		padding-top: 13px;
		transition: .4s;
	
		&::after {
			content: '';
			width: 60px;
			display: block;
			margin: 0 auto;
			border-bottom: 3px solid $color-red;
			padding-top: 17px;
			transition: .4s;
		}
	}
}

.map-marker {
	background-image: url("../images/map/map-marker.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 26px;
	width: 20px;
	margin: 0 auto;
	transition: .4s;
}

@media screen and(max-width: 460px) {
	.map {
		padding: 30px 0;
	}
}
