.services-2 {
	padding: 55px 0 120px;

	.description {
		padding-top: 5px;
	}

	.table {
		padding-top: 89px;
	}

	.table-cell {
		vertical-align: top;
	}

	.services-2-image {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		width: 45.5%;

		&::before {
			content: '';
			display: block;
			width: 100%;
			padding-top: 66.6%;
		}
	}

	.table-cell.accordion {
		width: 50%;
		padding-left: 2.4%;
	}

}


.accordion-item {
	margin-top: 9px;
	border-left: 1px solid $color-separator;
	border-right: 1px solid $color-separator;
	border-top: 1px solid $color-separator;

	&:first-child {
		margin-top: 0;
	}

	.panel {
		color: #a6a6a6;
		max-height: 0;
		overflow: hidden;
		font-family: $font-roboto;
		font-size: 15px;	
		font-style: italic;
		font-weight: lighter;
		line-height: 1.6;
		margin: 0 25px 0 20px;
		&:hover .simplebar-track {
			opacity: 1;
		}

		.simplebar-track {
			border-radius: 10px;
			background-color: #f5f5f5;
			width: 6px;
			opacity: 0;
			transition: opacity .4s;


			&.horizontal {
				display: none;
			}

			.simplebar-scrollbar {
				width: 5px;
				background: #95e1d3;
				left: 1px;
			}
		}

		.simplebar-content {
			width: 100%;
		}
	}

	.accordion-btn {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		display: inline-block;
		background: $color-white;
		border-style: none;
		border-bottom: 1px solid $color-separator;
		color: $color-dark-grey;
		font-family: $font-montserrat;
		font-size: 14px;
		font-weight: 600;
		text-align: left;
		text-decoration: none;
		text-transform: uppercase;
		transition: .5s;
		padding: 14px 14px 12px 14px;
		width: 100%;

		&:focus {
			outline: 0;
		}

		&:after {
			content: url('../images/services-2/arrow-up.png');
			transform: rotate(180deg);
			float: right;
			margin-top: 8px;
			margin-right: 6px;
		}

		&.active-btn:after {
			transform: rotate(0deg);
		}

		&:hover {
			cursor: pointer;
		}

		img {
			vertical-align: middle;
			padding-right: 10px;
		}
	}

	.border-wrapper {
		border: 1px solid $color-separator;
	}
}

@media screen and(max-width: 1200px) {
	.services-2 {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and(max-width: 1024px) {
	.services-2 {
		padding: 40px 10px 80px;

		.panel .simplebar-content {
			max-width: 95%;
		}
	}
}

@media screen and(max-width: 948px) {
	.services-2 {
		.table {
			display: block;
		}

		.table-cell {
			display: block;
			width: 90%;
			margin: 0 auto;
			text-align: center;

			&.accordion {
				width: 90%;
				padding: 20px 0 0;
			}
		}

		.services-image {
			width: 90%;
		}

		.description {
			max-width: 450px;
		}

		.accordion-item .panel .simplebar-content {
		    width: 95%;
		}
	}
}

@media screen and(max-width: 460px) {
	.services-2 {
		padding: 30px 0 30px;
	}

	.accordion-btn {
		font-size: 13px;
		padding: 10px 5px;

		&:after {
			margin-top: 3px;
			margin-right: 3px;
			height: 12px;
			width: 10px;
		}

		&.active-btn:after {
			margin-top: 3px;
			margin-right: 18px;
		}

		img {
			height: 17px;
			width: 17px;
			padding-right: 8px;
		}
	}
}
