.team {
	padding-top: 100px;
	padding-bottom: 115px;

	.description {
		padding-top: 5px;
	}
}

.team-gallery {
	padding-top: 90px;

	.person {
		float: left;
		width: 31.666%;
		text-align: center;
		padding-left: 2.5%;
		position: relative;

		&:first-child {
			padding-left: 0;
		}

		&:hover {
			cursor: pointer;

			.image-wrapper {
				transform: translate(-10px, -10px);
				box-shadow: 10px 10px #95e1d3;
			}

			.overlay {
				opacity: 0.93;
				z-index: 1;
			}

			.overlay-buttons {
				opacity: 1;
				z-index: 2;
			}
		}
		
		.image-wrapper {
			font-size: 0;
			position: relative;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			transition: .4s;
		
			&::before {
				content: '';
				display: block;
				width: 100%;
				padding-top: 123.684%;
			}
		}

		h4 {
			font-family: $font-montserrat;
			font-size: 14px;
			text-transform: uppercase;
			color: $color-dark-grey;
			margin: 0;
			padding-top: 27px;
		}

		p {
			font-family: $font-roboto;
			font-style: italic;
			font-size: 15px;
			font-weight: 300;
			color: #acacac;
			margin: 0;
			padding-top: 11px;
		}

		.overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			opacity: 0;
			background: -moz-linear-gradient(90deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
			background: -webkit-linear-gradient(90deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
			background: -o-linear-gradient(90deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
			background: -ms-linear-gradient(90deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
			background: linear-gradient(0deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
			transition: .4s;
			z-index: -1;
		}

		.overlay-buttons {
			position: absolute;
			background: $color-yellow;
			top: 44%;
			left: 16.59%;
			font-size: 0;
			opacity: 0;
			transition: .4s;
			
			a {
				border-left: 1px solid #f9bd87;
				display: inline-block;
				text-decoration: none;
				transition: .4s;
				padding: 15px 0;
				width: 56px;
				vertical-align: top;

				&:hover {
					& {
						background: $color-red;
					}

					i {
						color: $color-white;
					}

					.instagram-social::before {
						background-image: url('../images/team/instagram-icon-hover.png');
					}
				}
			}

			a:first-child {
				border-left: none;
			}

			.instagram-social::before {
				background-image: url('../images/team/instagram-icon.png');
				background-repeat: no-repeat;
				background-position: center center;
				position: relative;
				display: block;
				content: '';
				width: 26px;
				padding-top: 26px;
				padding-left: 28px;
			}

			i {
				color: $color-red;
				font-size: 26px;
			}
		}
	}
}

@media screen and(max-width: 1200px) {
	.team {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media screen and(max-width: 1024px) {
	.team {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.person {
		.overlay-buttons {
			left: 22%;

			a {
				padding: 10px;
		    	width: 20px;

				i {
					font-size: 18px;
				}
			}

			.instagram-social::before {
				width: 16px;
				background-size: 16px;
				padding-left: 0;
				padding-top: 18px;
			}
		}
	}
}

@media screen and(max-width: 768px) {
	.person .overlay-buttons a {
    	width: 12px;
	}
}

@media screen and(max-width: 620px) {
	.team-gallery .person {
		width: 70%;
		float: none;
		margin: 0 auto;
		padding-bottom: 20px;	
	}

	.person {
		.overlay-buttons {
			a {
				padding: 15px 0;
		    	width: 56px;

				i {
					font-size: 26px;
				}
			}

			.instagram-social::before {
				width: 26px;
			}
		}
	}
}

@media screen and(max-width: 460px) {
	.team {
		padding-top: 30px;
		padding-bottom: 0;
	}

	.team-gallery {
		padding-top: 40px;

		.person {
			width: 80%;
			padding-bottom: 40px;

			h4 {
				padding-top: 10px;
			}

			p {
				padding-top: 10px;
			}

			.overlay-buttons {
				a {
					padding: 8px 0;
			    	width: 40px;

					i {
						font-size: 18px;
					}
				}

				.instagram-social::before {
					width: 10px;
					background-size: 18px;
					padding-top: 18px;
					padding-left: 25px;
				}
			}
		}
	}
}

@media screen and(max-width: 320px) {
	.overlay-buttons {
		left: 10%;
	}
}
