.testimonial {
	padding-top: 30px;
	padding-bottom: 67px;


	.slide-wrapper {
		.slick-prev {
			left: -6%;
		}

		.slick-next {
			right: -13.5%;
		}

		.slide {
			.slide-content {
			    width: 75%;
			    padding-left: 2.9%;
			    padding-top: 3.3%;
			}	
			
			.testimonial-image {
				width: 22%;
			}
		}
	
	}
}

@media screen and(max-width: 1024px) {
	.testimonial {
		padding-top: 0;
		padding-bottom: 0;

		.slide-wrapper {
			.slick-prev {
				left: -9%;
			}

			.slick-next {
				right: -9%;
			}
		}
	}
}

@media screen and(max-width: 560px) {
	.testimonial .slide-wrapper .slide .slide-content {
		width: 100%;
		padding-left: 0;
		padding-top: 10px;
	}
}

@media screen and(max-width: 460px) {
	/*.testimonial .slide-wrapper .slick-prev {
		left: -15%	;
	}*/
}
