.testimonial {
	padding-top: 30px;
	padding-bottom: 67px;


	.slide-wrapper {
		max-width: 75%;

		.slick-prev {
			left: -6%;
		}

		.slick-next {

		}

		.slide {
			.slide-content {
			    width: 75%;
			    padding-left: 2.8%;
			    padding-top: 2.9%;
			}	
			
			.testimonial-image {
				width: 21%;
			}
		}
	
	}
}

@media screen and(max-width: 1024px) {
	.testimonial {
		padding-top: 0;
		padding-bottom: 0;

		.slide-wrapper {
			.slick-prev {
				left: -9%;
			}

			.slick-next {
				right: -9%;
			}
		}
	}
}

@media screen and(max-width: 560px) {
	.testimonial .slide-wrapper .slide .slide-content {
		width: 100%;
		padding-left: 0;
		padding-top: 10px;
	}
}
