<div class="quote">
	<div class="content">
		<div class="carousel">
			<button class="arrow prev"></button>
			<ul class="carousel-list quote-list">
				<li>
					<div class="quote-img" style="background-image: url(img/quote.png);"></div>
					<div class="quote-content">
						<p class="quote-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
						<p class="quote-author"><span>Jon Doe</span></p>
					</div>
				</li>
				<li>
					<div class="quote-img" style="background-image: url(img/quote.png);"></div>
					<div class="quote-content">
						<p class="quote-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<p class="quote-author"><span>Meet our team</span></p>
					</div>
				</li>
				<li>
					<div class="quote-img" style="background-image: url(img/quote.png);"></div>
					<div class="quote-content">
						<p class="quote-text">“Lalalalal Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, eius.”</p>
						<p class="quote-author"><span>Who we are</span></p>
					</div>
				</li>
			</ul>
			<button class="arrow next"></button>
		</div>
	</div>
</div>