<section class="what-we-do">
	<div class="content">
		<div class="section-title">
			<p>Service</p>
			<h2>what we do</h2>
		</div>
		<div class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		<div class="what-we-do-content">
			<div class="what-we-do-img">
				<div class="image"></div>
			</div>
			<div id="accordion" class="what-we-do-accordion">
				<div class="accordion-item">
					<div class="button active">
						<span class="photography-icon"></span>
						<span>Photography</span>
					</div>
					<div class="panel">
					  <p data-simplebar>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit illo vero sit est incidunt natus laudantium voluptas! Velit reiciendis sequi itaque animi impedit accusantium sit suscipit totam ullam pariatur iusto officia, cupiditate, voluptate, iure, voluptatem eum molestiae! Tempora soluta quod placeat esse, ipsa id itaque tempore, facilis nam iusto debitis.</p>

					</div>
				</div>
				<div class="accordion-item">
					<div class="button">
						<span class="creativity-icon"></span>
						<span>creativity</span>
					</div>
					<div class="panel">
					  <p data-simplebar>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem fugiat ut amet omnis molestias facilis, deserunt incidunt accusantium vero? Officia provident voluptas illum impedit ullam maxime laboriosam, neque iure rerum consectetur laborum consequatur repellendus quisquam, doloribus tempora, ipsa excepturi aliquam minus voluptatem. Distinctio voluptatum impedit delectus at reiciendis voluptatibus doloremque omnis expedita eveniet nisi temporibus, adipisci laborum, quis facere. Voluptatibus eum officia voluptas reiciendis iusto consequuntur minus. Iste alias veritatis nostrum ipsa facere necessitatibus.</p>
					</div>
				</div>
				<div class="accordion-item">
					<div class="button">
						<span class="web-design-icon"></span>
						<span>web design</span>
					</div>
					<div class="panel">
					  <p data-simplebar>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem fugiat ut amet omnis molestias facilis, deserunt incidunt accusantium vero? </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>