/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 25, ../sass/main.scss */
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

/* line 31, ../sass/main.scss */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
}

/* line 38, ../sass/main.scss */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 10.5em;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 170px;
}

/* line 49, ../sass/main.scss */
h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 72px;
  color: #ffffff;
}

/* line 57, ../sass/main.scss */
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
}

/* line 67, ../sass/main.scss */
h4 {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  color: #333333;
}

/* line 75, ../sass/main.scss */
h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

/* line 84, ../sass/main.scss */
p {
  color: #999999;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

/* line 93, ../sass/main.scss */
.dash:after {
  content: "";
  height: 3px;
  width: 60px;
  display: block;
  margin: 0 auto;
  background-color: yellow;
}

/* line 103, ../sass/main.scss */
.pointer {
  width: 12px;
  height: 22px;
}

/* line 108, ../sass/main.scss */
.button {
  display: inline-block;
  border: 3px solid #ffffff;
  color: #ffffff;
}

/* line 120, ../sass/main.scss */
.header-box {
  line-height: 1.5;
}
/* line 122, ../sass/main.scss */
.header-box:after {
  content: "";
  height: 3px;
  width: 60px;
  display: block;
  margin: 0 auto;
  background-color: rgba(243, 129, 129, 0.8);
  margin: 35px auto;
}

/* line 134, ../sass/main.scss */
.gradient-hover {
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.8) 0%, rgba(243, 129, 129, 0.8) 100%), url("../img/banner-bg.png");
}
/* line 136, ../sass/main.scss */
.gradient-hover .content {
  hidden: true;
}

/* line 144, ../sass/main.scss */
.banner {
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.8) 0%, rgba(243, 129, 129, 0.8) 100%), url("../img/banner-bg.png");
  background-size: cover;
  padding-bottom: 25px;
  background-position: center;
}
/* line 151, ../sass/main.scss */
.banner .top-navbar {
  margin: 0 auto;
  padding-top: 23px;
  max-width: 62.5%;
}
/* line 157, ../sass/main.scss */
.banner .top-navbar:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
}
/* line 165, ../sass/main.scss */
.banner .top-navbar h3 {
  color: #ffffff;
  float: left;
  text-transform: none;
}
/* line 172, ../sass/main.scss */
.banner .top-navbar ul {
  display: flex;
  width: 52.16%;
  text-transform: uppercase;
  float: right;
  margin-top: 10px;
}
/* line 179, ../sass/main.scss */
.banner .top-navbar ul li {
  margin-right: 6%;
  display: inline;
}
/* line 182, ../sass/main.scss */
.banner .top-navbar ul li:last-child {
  margin-right: 0px;
}
/* line 186, ../sass/main.scss */
.banner .top-navbar ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
}
/* line 191, ../sass/main.scss */
.banner .top-navbar ul li a:hover {
  border-bottom: 2px solid rgba(252, 227, 138, 0.8);
}
/* line 200, ../sass/main.scss */
.banner header.dash {
  padding-top: 7.81%;
}
/* line 202, ../sass/main.scss */
.banner header.dash h1 {
  padding-top: 20px;
  line-height: 1;
}
/* line 207, ../sass/main.scss */
.banner header.dash:after {
  height: 3px;
  width: 60px;
  display: block;
  margin: 49px auto;
  background-color: #ffffff;
}
/* line 216, ../sass/main.scss */
.banner a.banner-button {
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
  margin-bottom: 2.63%;
}
/* line 221, ../sass/main.scss */
.banner a.banner-button:hover {
  background: rgba(243, 129, 129, 0.8);
  font-color: #ffffff;
}
/* line 229, ../sass/main.scss */
.banner ul li {
  text-transform: uppercase;
  display: inline-block;
  text-align: left;
  width: 14.58%;
  margin-right: 1.5625%;
}
/* line 236, ../sass/main.scss */
.banner ul li:last-child {
  margin-right: 0;
}
/* line 238, ../sass/main.scss */
.banner ul li .bottom-navbar-menu {
  width: 100%;
  height: 3px;
  margin-bottom: 20px;
}
/* line 244, ../sass/main.scss */
.banner ul li .intro:hover {
  background-image: linear-gradient(to right, rgba(243, 129, 129, 0.8), rgba(243, 129, 129, 0.8) 25%, #ffffff 1%);
}
/* line 248, ../sass/main.scss */
.banner ul li .work:hover {
  background-image: linear-gradient(to right, rgba(243, 129, 129, 0.8), rgba(243, 129, 129, 0.8) 50%, #ffffff 1%);
}
/* line 252, ../sass/main.scss */
.banner ul li .about:hover {
  background-image: linear-gradient(to right, rgba(243, 129, 129, 0.8), rgba(243, 129, 129, 0.8) 75%, #ffffff 1%);
}
/* line 256, ../sass/main.scss */
.banner ul li .contacts:hover {
  background-image: linear-gradient(to right, rgba(243, 129, 129, 0.8), rgba(243, 129, 129, 0.8) 100%, #ffffff 1%);
}
/* line 260, ../sass/main.scss */
.banner ul li .default {
  background: #ffffff;
}
/* line 267, ../sass/main.scss */
.banner ul li a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  text-align: left;
}
/* line 273, ../sass/main.scss */
.banner ul li a span {
  font-size: 18px;
  color: #ffffff;
  display: inline-block;
}

/* line 290, ../sass/main.scss */
.about-us {
  text-align: center;
  padding-top: 95px;
  padding-bottom: 105px;
}
/* line 296, ../sass/main.scss */
.about-us p {
  padding-bottom: 110px;
  width: 51.04%;
  margin: 0 auto;
  line-height: 1.5;
}
/* line 305, ../sass/main.scss */
.about-us .content {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0;
}
/* line 316, ../sass/main.scss */
.about-us .content .photo {
  font-size: 0;
  background: #95e1d3;
  background-size: cover;
  flex-direction: row;
  background: #95e1d3;
  width: 31.6%;
  height: 250px;
}
/* line 325, ../sass/main.scss */
.about-us .content .photo a {
  position: relative;
  float: left;
  background: rgba(243, 129, 129, 0.8);
}
/* line 330, ../sass/main.scss */
.about-us .content .photo a span {
  display: none;
  background: linear-gradient(to top, rgba(252, 227, 138, 0.8) 0%, rgba(243, 129, 129, 0.8) 100%), url("../img/icons/") no-repeat;
  width: 380px;
  height: 250px;
  position: absolute;
  left: -10px;
  top: -10px;
}
/* line 340, ../sass/main.scss */
.about-us .content .photo a span img {
  position: absolute;
  left: 50%;
  top: 100px;
}
/* line 346, ../sass/main.scss */
.about-us .content .photo a span p {
  position: absolute;
  left: 45%;
  top: 115px;
  font-size: 18px;
  color: #ffffff;
}
/* line 358, ../sass/main.scss */
.about-us .content .photo a:hover {
  display: block;
}
/* line 368, ../sass/main.scss */
.about-us .photo:hover a {
  background-position: -20px -20px;
}

/* line 376, ../sass/main.scss */
.facts {
  width: 100%;
  height: 270px;
  background-color: #95e1d3;
  margin: 0 auto;
  text-align: center;
}
/* line 384, ../sass/main.scss */
.facts .dire {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
/* line 389, ../sass/main.scss */
.facts .dire .fact {
  width: 12.5%;
  vertical-align: top;
  height: 100%;
  background: #95e1d3;
  display: inline-block;
  border-right: 1px solid #ffffff;
}
/* line 397, ../sass/main.scss */
.facts .dire .fact .fact-information {
  position: relative;
  top: 26%;
}
/* line 401, ../sass/main.scss */
.facts .dire .fact .fact-information .number {
  color: #ffffff;
  font-size: 72px;
  font-weight: bold;
}
/* line 407, ../sass/main.scss */
.facts .dire .fact .fact-information h5 {
  display: inline-block;
}

/* line 417, ../sass/main.scss */
.service {
  padding-top: 100px;
  padding-bottom: 30px;
  text-align: center;
  margin: 0 auto;
}
/* line 424, ../sass/main.scss */
.service .container {
  padding-top: 20px;
  display: flex;
  max-width: 1185px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}
/* line 433, ../sass/main.scss */
.service .container .service {
  margin: 0;
  margin-left: 25px;
  margin-bottom: 88px;
  display: inline-block;
  max-width: 1200px;
  padding: 0px;
}
/* line 442, ../sass/main.scss */
.service .container .service img {
  display: inline-block;
  vertical-align: top;
}
/* line 448, ../sass/main.scss */
.service .container .service .service-information {
  margin-left: 30px;
  text-align: left;
  display: inline-block;
  max-width: 290px;
}
/* line 454, ../sass/main.scss */
.service .container .service .service-information h5 {
  color: #333333;
  padding-bottom: 5px;
}
/* line 459, ../sass/main.scss */
.service .container .service .service-information p {
  line-height: 2;
}

/* line 470, ../sass/main.scss */
.feature {
  background-position: center;
  padding-top: 105px;
  text-align: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/images/feature-bg.png");
  background-size: cover;
  background-color: #ffffff;
}
/* line 478, ../sass/main.scss */
.feature img {
  margin-top: -1.56%;
}
/* line 482, ../sass/main.scss */
.feature .iphone {
  position: absolute;
  margin-bottom: -2.08%;
}

/* line 495, ../sass/main.scss */
.service2 {
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
  height: 890px;
}

/* line 508, ../sass/main.scss */
.quote {
  height: 290px;
  background: #f8f8f8;
}
/* line 512, ../sass/main.scss */
.quote .quote-container {
  max-width: 1200px;
  display: flex;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  padding-top: 70px;
}
/* line 523, ../sass/main.scss */
.quote .quote-container .quote-content {
  margin-left: 80px;
}
/* line 527, ../sass/main.scss */
.quote .quote-container .quote-content .message-icon {
  display: inline-block;
  border: 3px solid #95e1d3;
  padding: 40px;
  margin-right: 60px;
}
/* line 535, ../sass/main.scss */
.quote .quote-container .quote-content .quote-mes {
  display: inline-block;
  line-height: 1.5;
}
/* line 539, ../sass/main.scss */
.quote .quote-container .quote-content .quote-mes p {
  text-align: left;
  max-width: 850px;
  color: #adadad;
  font-size: 24px;
  padding-bottom: 10px;
}
/* line 547, ../sass/main.scss */
.quote .quote-container .quote-content .quote-mes h4:after {
  content: "";
  height: 3px;
  width: 60px;
  display: block;
  margin: 0 auto;
  background-color: rgba(243, 129, 129, 0.8);
  float: left;
  margin-top: 15px;
  margin-right: 10px;
}
/* line 559, ../sass/main.scss */
.quote .quote-container .quote-content .quote-mes h4 {
  float: left;
}

/* line 574, ../sass/main.scss */
.ourteam {
  padding-top: 90px;
  padding-bottom: 115px;
}
/* line 579, ../sass/main.scss */
.ourteam p.content {
  margin: 0 auto;
  max-width: 1300px;
  margin-top: 35px;
  margin-bottom: 90px;
  line-height: 1.5;
}
/* line 589, ../sass/main.scss */
.ourteam .ourteam-photo .person {
  display: inline-block;
  margin-right: 30px;
}
/* line 593, ../sass/main.scss */
.ourteam .ourteam-photo .person:last-child {
  margin-right: 0px;
}
/* line 597, ../sass/main.scss */
.ourteam .ourteam-photo .person .photo {
  font-size: 0;
  background: #95e1d3;
  width: 380px;
  height: 470px;
}
/* line 603, ../sass/main.scss */
.ourteam .ourteam-photo .person .photo a {
  position: relative;
  float: left;
  background: rgba(243, 129, 129, 0.8);
}
/* line 608, ../sass/main.scss */
.ourteam .ourteam-photo .person .photo a span {
  width: 380px;
  height: 470px;
  display: none;
  background: linear-gradient(to top, rgba(252, 227, 138, 0.8) 0%, rgba(243, 129, 129, 0.8) 100%), url("../img/icons/") no-repeat;
  position: absolute;
  left: -10px;
  top: -10px;
}
/* line 619, ../sass/main.scss */
.ourteam .ourteam-photo .person .photo a:hover span {
  display: block;
}
/* line 621, ../sass/main.scss */
.ourteam .ourteam-photo .person .photo a:hover span img {
  position: absolute;
  left: 20px;
}
/* line 638, ../sass/main.scss */
.ourteam .ourteam-photo .person p {
  margin: 0 auto;
}
/* line 642, ../sass/main.scss */
.ourteam .ourteam-photo .person h5 {
  padding-bottom: 10px;
  padding-top: 20px;
  color: #333333;
}

/* line 658, ../sass/main.scss */
.logos {
  display: flex;
  align-items: center;
  background: #f8f8f8;
  height: 250px;
}
/* line 664, ../sass/main.scss */
.logos .logos-container {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
}

/* line 675, ../sass/main.scss */
.work {
  padding-top: 105px;
}
/* line 678, ../sass/main.scss */
.work p {
  margin: 0 auto;
  max-width: 1300px;
}
/* line 683, ../sass/main.scss */
.work img {
  float: left;
}

/* line 691, ../sass/main.scss */
.testimonial {
  clear: both;
}
/* line 694, ../sass/main.scss */
.testimonial .quote-container {
  max-width: 1200px;
  display: flex;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
}
/* line 705, ../sass/main.scss */
.testimonial .quote-container .quote-content {
  margin-left: 80px;
}
/* line 709, ../sass/main.scss */
.testimonial .quote-container .quote-content .avatar {
  margin-right: 30px;
  display: inline-block;
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
}
/* line 719, ../sass/main.scss */
.testimonial .quote-container .quote-content .quote-mes {
  display: inline-block;
  line-height: 1.5;
  vertical-align: bottom;
}
/* line 724, ../sass/main.scss */
.testimonial .quote-container .quote-content .quote-mes p {
  text-align: left;
  max-width: 850px;
  color: #adadad;
  font-size: 24px;
  padding-bottom: 10px;
}
/* line 732, ../sass/main.scss */
.testimonial .quote-container .quote-content .quote-mes h4:after {
  content: "";
  height: 3px;
  width: 60px;
  display: block;
  margin: 0 auto;
  background-color: rgba(243, 129, 129, 0.8);
  float: left;
  margin-top: 15px;
  margin-right: 10px;
}
/* line 744, ../sass/main.scss */
.testimonial .quote-container .quote-content .quote-mes h4 {
  float: left;
}

/* line 758, ../sass/main.scss */
.whatpeople {
  background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/images/whatpeoplesay-bg.png");
}
/* line 760, ../sass/main.scss */
.whatpeople h5 {
  color: #333333;
}
/* line 764, ../sass/main.scss */
.whatpeople .container {
  max-width: 1300px;
  margin: 0 auto;
}
/* line 771, ../sass/main.scss */
.whatpeople .container .row {
  min-width: 630px;
  float: left;
  margin: 0;
}
/* line 775, ../sass/main.scss */
.whatpeople .container .row .avatar {
  display: inline-block;
}
/* line 779, ../sass/main.scss */
.whatpeople .container .row .row-content {
  text-align: left;
  display: inline-block;
}
/* line 783, ../sass/main.scss */
.whatpeople .container .row .row-content p.position {
  text-align: left;
}
/* line 788, ../sass/main.scss */
.whatpeople .container .row .row-content p.review {
  max-width: 390px;
}
/* line 792, ../sass/main.scss */
.whatpeople .container .row .row-content p.review:after {
  content: "";
  height: 3px;
  width: 60px;
  display: block;
  margin: 0 auto;
  background-color: rgba(243, 129, 129, 0.8);
  float: left;
  margin-top: 15px;
  margin-right: 10px;
}
/* line 807, ../sass/main.scss */
.whatpeople .container:after {
  content: "";
  clear: both;
  display: block;
}

/* line 818, ../sass/main.scss */
.blog {
  clear: both;
}
/* line 821, ../sass/main.scss */
.blog .articles article {
  float: left;
}
/* line 824, ../sass/main.scss */
.blog .articles article .photo {
  width: 380px;
  height: 240px;
}
/* line 829, ../sass/main.scss */
.blog .articles article .date {
  width: 60px;
  height: 70px;
  background-color: #95e1d3;
}
/* line 833, ../sass/main.scss */
.blog .articles article .date p {
  color: #ffffff;
}
/* line 838, ../sass/main.scss */
.blog .articles article h5 {
  color: #333333;
}

/* line 846, ../sass/main.scss */
.map {
  width: 100%;
  clear: both;
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/images/map.png") no-repeat;
  background-size: contain;
  height: 200px;
}
/* line 853, ../sass/main.scss */
.map .header-box {
  padding-top: 2.86%;
}
/* line 854, ../sass/main.scss */
.map .header-box h5 {
  color: rgba(243, 129, 129, 0.8);
}

/* line 869, ../sass/main.scss */
.footer .container .blogs h5 {
  color: #333333;
}
