html{
    font-family: Tahoma;
    height: 100%;
    width: 100%;
}

div{
    text-align: right;
    margin-right: 60px;
}
img{
    width: 100%;
}
.layout{
    width: 30%;
    height: 50%;
    margin-left: 150px;
    margin-top: 60px;
    float: left; 
    margin: 15px; 
}
body {
    font: 14px 'Verdana';
    margin: 0;
    padding: 0;
    background-color: #FFFAF0;
}
.menu{
    background-color: #FF6347;
}
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    margin-left: 30px;
    float: left;
    position: relative;
    font-size: 15px;
    text-align: left;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background: linear-gradient(to bottom left, #8B2323, #FF4040);
    text-decoration: none;
    width: 100%
}
ul.menu > li > a:hover {
    background-color: #FF7256;
}
ul.menu > li:not(.form) {
    width: 13%
}
ul.submenu {
    display: none;
    position: absolute;
    width: 130px;
    top: 40px;
    left: 0;
    background-color: white;
    border: 1px solid red;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #FFA07A;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
.form{
float: left;
display: inline-block;  
}
.button{ 
    height: 50px;
    width: 150px;
    margin: 40px 50px 0 85px; 
    padding: 10px 0; 
    text-align: center;
    display: inline-block; 
    background-color:  #FF6347;
    border: 3px solid #af412f;
    border-radius: 10px;
}
footer{
    text-align: center;
    margin-top: 185px;
}
footer hr{
   width: 98%;
   margin-right: 10px;
   margin-left: 10px;
}
hr{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
 