.feature .tablet-wrapper {
	background-image: url('../images/feature/feature_back.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 108px;
}

.feature .tablet {
	margin-top: 9px;
	margin-right: 51px;
	background-image: url('../images/feature/feature_pad.png');
	background-repeat: no-repeat; 
	background-position: center center;
	height: 581px;
}

.feature .phone {
	background-image: url('../images/feature/feature_phone2.png');
	background-repeat: no-repeat;
	background-position: center center;
	height: 437px;
	margin-top: -383px;
	margin-left: 462px;
}

@media screen and(max-width: 688px) {
	.feature .tablet {
		background-size: 380px;
		height: 460px;
	}

	.feature .phone {
		background-size: 200px;
		margin-top: -342px;
		margin-left: 300px;
	}
}

@media screen and(max-width: 492px) {
	.feature .tablet {
		background-size: 180px;
		height: 220px;
	}

	.feature .phone {
		background-size: 90px;
		margin-top: -135px;
		margin-left: 140px;
		height: 155px;
	}
}

@media screen and(max-width: 460px) {
	.feature .tablet-wrapper {
		padding-top: 30px;
	}
}
