footer {
	background-color: #f8f8f8;
	padding-top: 65px;
}

footer h4 {
	color: #333;
	font-size: 14px;
	font-weight: 500;
	margin: 0;
	padding-bottom: 36px;
	padding-left: 1px;
	text-transform: uppercase;
}

.info-column {
	float: left;
	width: 40%;
  	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.info-column .separator {
	border-bottom: 1px solid #e5e5e5;
}

.info-column .footer-description {
	color: #999;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	margin: 0;
	padding-top: 28px;
	padding-left: 4px;
}

.info-column .followers {
	color: #333;
	font-size: 14px;
	margin: 0;
	padding-top: 44px;
	padding-left: 4px;
}

.info-column .followers span {
	font-size: 18px;
	font-weight: 700;
}

.info-column h3 {
	color: #ccc;
	font-size: 46px;
	margin: 0;
}

.separator {
	padding-top: 14px;
}

.socials {
	font-style: italic;
	color: #ababab;
	padding-top: 14px;
	padding-bottom: 37px;
}

.socials span {
	font-size: 14px;
	font-weight: 300;
	padding-right: 8px;
	padding-left: 3px;
}

.socials a {
	text-decoration: none;
	display: inline-block;
}

.socials .facebook-icon {
	margin-left: 9px;
}

.socials .twitter-icon {
	margin-left: 5px;
}

.socials .instagram-icon {
	margin-left: 10px;
}

.socials .pinterest-icon {
	margin-left: 8px;
}

.socials .google-icon {
	margin-left: 10px;
}

.socials .youtube-icon {
	margin-left: 10px;
}

.socials .dribble-icon {
	margin-left: 11px;
}

.socials .tumblr-icon {
	margin-left: 6px;
}

.blogs {
	float: left;
	padding-left: 33px;
	padding-top: 13px;
	width: 56%;
  	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.blog {
	display: inline-block;
	padding-bottom: 26px;
}

.blog .blog-image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	width: 33%;
}

.blog .blog-image::before {
	content: '';
	display: block;
	padding-top: 66.43%;
	width: 100%;
}

.blog-info {
	float: left;
	width: 61%;
	padding-left: 6%;
}

.blog-info p {
	color: #333;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.5;
	margin: 0;
	padding-bottom: 2px;
	padding-top: 18px;
	text-transform: uppercase;
}

.blog-info span {
	color: #b1b1b1;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-style: italic;
}

.instagram {
	float: left;
	width: 44%;
	padding-top: 13px;
	padding-left: 34px;
  	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.instagram-link {
	display: inline-block;
	padding-top: 17px;
}

.instagram-link a {
	color: #646464;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 12px;
	text-decoration: none;
}

.gallery-image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 1px;
	float: left;
	width: 32.8%;
}

.gallery-image::before {
	content: '';
	display: block;
	width: 100%;
	padding-top: 100%;
}

.gallery .gallery-image:nth-child(3n) {
	margin-right: 0;
}

.gallery .gallery-image:nth-child(3n + 1) {
	margin-left: 0;
}

.subscription {
	padding-left: 4px;
}

.subscription input {
	border: 1px solid #e7e7e7;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
	padding: 10.5px 12px 10.5px 11px;
}

.subscription input::-webkit-input-placeholder {
  color: #d2d2d2;
}

.subscription input::-moz-placeholder {
  color: #d2d2d2;
}

.subscription input:-ms-input-placeholder {
  color: #d2d2d2;
}

.subscription input:-moz-placeholder {
  color: #d2d2d2;
}

.form-wrapper {
	font-size: 0;
}

.subscribe-btn {
	background-color: #95e1d3;
	border: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.19;
	padding: 12px 38px;
	text-transform: uppercase;
}

.subscribe-btn:hover {
	cursor: pointer;
}

.copyright {
	margin-top: 39px;
	display: inline-block;
	border-top: 1px solid #e5e5e5;
	width: 100%;
}

.copyright p {
	color: #333;
	font-size: 14px;
	font-weight: 500;
	margin: 0 0 0 8px;
	padding: 22px 0;
	text-align: center;
}

.copyright p span {
	color: #f38181;
}

.media {
	float: right;
	width: 60%;
}

@media screen and (max-width: 1200px) {
	.footer-row {
		box-sizing: border-box;
	  	-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    padding: 2%;
	}

	.info-column {
		width: 35%;
	}

	.blogs {
		width: 55%;
		padding-left: 20px;
	}

	.blog-info {
		width: 60%;
	}

	.blog-info p {
		padding-top: 0;
	}

	.instagram {
		width: 45%;
		padding-left: 0;
	}

	.subscription input {
		width: 45%;
	}

	.subscribe-btn {
		width: 40%;
		height: 40px;
		padding: 0 5%;
	}
}

@media screen and (max-width: 1000px) {
	.media {
		float: none;
		margin: 0 auto;
	}

	.footer-row {
		padding: 10px;
		text-align: center;
	}

	.info-column {
		width: 100%;
	}

	.info-column .footer-description {
		max-width: 90%;
		margin: 0 auto;
	}

	.blogs {
		width: 100%;
	}

	.blogs .blog-info {
		text-align: left;
	}

	.instagram {
		width: 60%;
		padding-left: 0;
		margin-left: 20%;
		margin-right: 20%;
	}

	.subscription input {
		width: 30%;
	}

	.subscribe-btn {
		width: 20%;
	}
}

@media screen and(max-width: 648px) {
	.subscription input {
		width: 60%;
	}

	.subscribe-btn {
		width: 30%;
	}

	.instagram {
		width: 80%;
		padding-left: 0;
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media screen and (max-width: 468px) {
	footer {
		padding-top: 30px;
	}

	.info-column .footer-description {
		line-height: 1.5;
	}

	.blog .blog-info {
		padding-left: 4%;
	}

	.blog .blog-info p {
		line-height: 1.4;
		font-size: 11px;
	}

	.subscription .form-wrapper input {
		box-sizing: border-box;
	  	-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
		padding: 10px;
		width: 100%;
	}

	.form-wrapper .subscribe-btn {
		font-size: 12px;
		margin-top: 10px;
		width: 100%;
	}
}
