header {
  background: url('../images/header/eagle-background.png') center center no-repeat;
  background-size: cover;
}

.header-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 25px;
  width: 100%;
}

.navbar-brand {
  color: #fff;
  font-weight: 600;
  font-size: 30px;  
  text-decoration: none;
}

.navbar-nav {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 10px 3px 0 0;
}

.nav-item {
  display: inline-block;
  vertical-align: middle;
  padding-left: 58px;
}

.nav-item:nth-child(6) {
  padding-left: 52px;
}

.nav-item:nth-child(7) {
  padding-left: 37px;
}

.nav-item:firts-child {
  padding-left: 0;
}

.nav-link {
  color: #fff;
  font-weight: 350;
  font-size: 13.4px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
  padding-bottom: 8px;
}

.nav-link img {
  height: 19px;
  width: 19px;
}

.active {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
  padding-bottom: 8px;
}

.header-title {
  color: #fff;
  margin: 0 auto;
  max-width: 805px;
  width: 100%;
}

.header-title p {
  font-size: 72px;
  margin-top: 164px;
  margin-bottom: 38px;
}

.header-title h2 {
  font-size: 150px;
  line-height: 0.94;
  font-stretch: extra-condensed;
}

.header-title div {
  border-bottom: 3px solid #fff;
  background: transparent;
  padding-top: 50px;
}

.header-btn-wrapper {
  text-align: center;
  margin-top: 61px;
}

.header-btn {
  border: 3px solid #fff;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  padding: 8px 28px;
}

.header-btn:hover {
  background-color: #fff;
  color: #e98183;
}

.section-menu {
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding-bottom: 25px;
  padding-left: 0;
  margin-top: 170px;
}

.section-menu li {
  border-top: 3px solid #f8ebc5;
  display: inline-block;
  padding-top: 20px;
  margin-left: 2.1%;
  width: 23.1%;
  text-align: left;
}

.section-menu li:first-child {
  margin-left: 0;
}

.menu-link {
  color: #faf3dc;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 25px;
  font-size: 18px;
}

.menu-link span {
  color: #faf3dc;
  font-weight: 700;
  font-size: 24px;
  padding-right: 5px;
}

.active-menu {
  border-top: 3px solid #fff !important;

  .menu-link {
    border-top: 3px solid #f38181;
  }
}

.navbar-toggler {
  display: none;
}

.navbar-toggler img {
  height: 50px;
  width: 50px;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #e78582;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-nav .close-btn {
    color: #f0f0f0;
    font-size: 46px;
    margin-left: 50px;
    position: absolute;
    right: 25px;
    text-decoration: none;
    top: 0;
    display: inline-block;
}

.side-nav .close-btn:hover {
  color: #f1f1f1;
}

.side-nav-menu {
  list-style-type: none;
}

.side-nav-item {
  padding-top: 20px;
}

.side-nav-link {
  font-size: 18px !important;
}

@media screen and  (max-width: 1200px) {
  .header-wrapper {
    max-width: 1024px;
    width: 100%;
    padding-top: 13px;
  }

  .navbar-toggler {
    display: none;
  }

  .navbar-brand {
    font-size: 25px;
  }

  .navbar-nav {
    padding-top: 6px;
  }

  .nav-link {
    font-size: 12px;
  }

  .nav-link img {
    height: 16px;
    width: 16px;
  }

  .nav-item {
    padding-right: 41px;
  }

  .nav-item:nth-child(6) {
    padding-left: 42px;
  }

  .nav-item:nth-child(7) {
    padding-left: 30px;
  }

  .header-title {
    max-width: 687px;
    width: 100%;
  }

  .header-title p {
    font-size: 61px;
    margin-top: 140px;
    margin-bottom: 30px;
  }

  .header-title h2 {
    font-size: 128px;
  }

  .header-title hr {
    padding-top: 45px;
  }

  .header-btn-wrapper {
    margin-top: 52px;
  }

  .header-btn {
    font-size: 12px;
    padding: 7px 24px;
  }

  .section-menu {
    margin-top: 162px;
  }

  .section-menu li {
    /*margin-left: 22px;*/
    /*padding-right: 157px;*/
    /*width: 239px;*/
  }

  .menu-link {
    font-size: 15px;
    padding-top: 23px;
  }

  .menu-link span {
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-nav { 
    display: none;
  }

  .navbar-toggler {
    display: inline-block;
    float: right;
    font-size: 0;
    padding-right: 20px;
  }

  .navbar {
    max-width: 80%;
  }

  .navbar-brand {
    display: inline-block;  
    padding-top: 13px;
    padding-left: 20px;
  }

  .menu-link {
    padding-top: 23px;
  }
}

@media screen and (max-width: 320px) {

}
