  header {
  background: url('../images/header/eagle-background.png') center center no-repeat;
  background-size: cover;
}

.header-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 25px;
}

.navbar-brand {
  color: #fff;
  font-weight: 600;
  font-size: 30px;  
  text-decoration: none;
}

.navbar-nav {
  float: right;
  list-style-type: none;
  margin: 0;
  max-width: 620px;
  width: 100%;
  padding-top: 13px;
}

.navbar-nav .close-btn {
  display: none;
}

.nav-item {
  display: inline-block;
  vertical-align: middle;
  float: right;
}

.nav-item:nth-child(2) {
  padding-left: 6.01%;
  transform: translate(3px, 0);
}

.nav-item:nth-child(3) {
  padding-left: 8.8%;
  transform: translate(0, -3px);
}

.nav-item:nth-child(4) {
  padding-left: 9.6%;
}

.nav-item:nth-child(5) {
  padding-left: 9.6%;
}

.nav-item:nth-child(6) {
  padding-left: 9.7%;
}

.nav-item:nth-child(7) {
  padding-left: 9.23%;
}

.nav-item:nth-child(8) {
  padding-left: 0;
}

.nav-item a {
  color: #fff;
  font-weight: 350;
  font-size: 13.4px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

.nav-item a:hover {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
  padding-bottom: 9px;
}

.nav-item a img {
  height: 19px;
  width: 19px;
}

.active {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
  padding-bottom: 9px;
}

.header-title {
  color: #fff;
  margin: 0 auto;
  max-width: 802px;
  width: 100%;
}

.header-title h3 {
  font-size: 72px;
  margin-top: 165px;
  margin-bottom: 18px;
}

.header-title h2 {
  font-size: 150px;
  line-height: 0.93;  
}

.header-title:after {
  border-bottom: 3px solid #fff;
  background: transparent;
  padding-top: 54px;
}

.header-btn-wrapper {
  text-align: center;
  margin-top: 24px;
}

.header-btn {
  border: 3px solid #fff;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  transition: .4s;
  padding: 8px 28px;
}

.header-btn:hover {
  background-color: #fff;
  color: #e98183;
}

.section-menu {
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding-bottom: 73px;
  padding-left: 0;
  margin-top: 168px;
}

.section-menu li {
  display: inline-block;
  float: left;
  margin-left: 2.8%;
  text-align: left;
  position: relative;
  width: 22.9%;
}

.section-menu li::before {
  border-top: 3px solid #f8ebc5;
  content: '';
  display: block;
}

.section-menu li.active-menu::before {
    border-top: 3px solid #f38181;
    width: 25%;
    top: -3px;
    position: absolute;
}

.section-menu li:hover .menu-link, 
.section-menu li:hover .menu-link span {
  color: #fff;
}

.section-menu li:first-child:hover {
  border-top: 3px solid #fff;
  content: '';
  display: block;

  &::before {
    border-top: 3px solid #f38181;
    width: 25%;
    top: -3px;
    position: absolute;
  }
}

.section-menu li:nth-child(2):hover {
  border-top: 3px solid #fff;
  content: '';
  display: block;

  &::before {
    border-top: 3px solid #f38181;
    width: 50%;
    top: -3px;
    position: absolute;
  }
}

.section-menu li:nth-child(3):hover {
  border-top: 3px solid #fff;
  content: '';
  display: block;

  &::before {
    border-top: 3px solid #f38181;
    width: 75%;
    top: -3px;
    position: absolute;
  }
}

.section-menu li:nth-child(4):hover {
  border-top: 3px solid #fff;
  content: '';
  display: block;

  &::before {
    border-top: 3px solid #f38181;
    width: 100%;
    top: -3px;
    position: absolute;
  }
}

.section-menu li.active-menu {
    border-top: 3px solid #fff;
    content: '';
    display: block;
}

.section-menu li:first-child {
  margin-left: 0;
}

.section-menu li:hover {
  cursor: pointer;
}

.menu-link {
  color: #faf3dc;
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 20px;
  font-size: 18px;
}

.menu-link span {
  color: #faf3dc;
  font-weight: 700;
  font-size: 24px;
  padding-right: 5px;
}

.navbar-toggler {
  display: none;
}

.navbar-toggler img {
  height: 50px;
  width: 50px;
}

@media screen and(max-width: 1200px) {
  .header-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .nav-item {
    display: none;
  }

  .navbar-nav.responsive .nav-item {
    display: block;
    float: right;
    width: 80%;
    padding-top: 20px;
  }

  .navbar-nav.responsive {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #e78582;
    overflow-x: hidden;
    /*transition: 0.5s;*/
    padding: 60px 0 0;
  }

  .navbar-nav.responsive .close-btn {
    display: inline-block;
    color: #f0f0f0;
    font-size: 46px;
    margin-left: 50px;
    position: absolute;
    right: 25px;
    text-decoration: none;
    top: 0;
  }

  .navbar-nav .close-btn:hover {
    color: #f1f1f1;
  }

  .nav-item a {
    font-size: 18px;
  }

  .navbar-toggler {
    display: inline-block;
    float: right;
    font-size: 0;
    padding-right: 20px;
  }

  .navbar {
    max-width: 80%;
  }

  .navbar-brand {
    display: inline-block;  
    padding-top: 13px;
    padding-left: 20px;
  }

  .menu-link {
    padding-top: 25px;
  }
}

@media screen and(max-width: 850px) {
  .header-title p {
    font-size: 36px;
  }  

  .header-title h2 {
    font-size: 78px;
  }

  .header-title div {
    margin-top: 16px;
  }

  .section-menu li {
    padding-top: 12px;
  }

  .menu-link {
    font-size: 12px;
    padding-top: 16px;
  }

  .menu-link span {
    font-size: 18px;
  }
}

@media screen and (max-width: 460px) {
  .header-title h2 {
    font-size: 50px;
  }

  .header-btn {
    font-size: 12px;
  }

  .section-menu {
    padding-bottom: 270px;
  }

  .header-wrapper .section-menu li {
    width: 80%;
    margin: 10px 10%;
  }

  .menu-link {
    font-size: 18px;
    padding-top: 17px;
  }

  .menu-link span {
    font-size: 24px;
  }
}
