.map {
	background: url("../images/map/map-back.png") center center no-repeat;
	background-size: cover;
	text-align: center;
	font-size: 0;
	padding: 57px 0;
}

.map-marker {
	background: url("../images/map/map-marker.png") center center no-repeat;
	background-size: cover;
	height: 26px;
	width: 20px;
	margin: 0 auto;
	transition: .4s;
}

.map a {
	text-decoration: none;
}

.map a:hover {
	h6 {
		color: #333;
	}

	h6::after {
		border-bottom: 3px solid #333;
	}

	.map-marker {
		background: url("../images/map/map-marker-gray.png");
	}
}

.map h6 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	color: #f38181;
	padding-top: 13px;
	transition: .4s;
}

.map h6::after {
	content: '';
	width: 60px;
	display: block;
	margin: 0 auto;
	border-bottom: 3px solid #f38181;
	padding-top: 17px;
	transition: .4s;
}

@media screen and(max-width: 460px) {
	.map {
		padding: 30px 0;
	}
}
