.quote-wrapper {
	background-color: #f8f8f8;
}

.quote {
	margin: 0 auto;
	max-width: 980px;
	width: 100%;
}

.slide {
	display: inline-block;
	padding-bottom: 63px;
	padding-top: 70px;
}

.slide img {
	float: left;
}

.slide .quote-content {
	float: left;
	max-width: 77%;
	line-height: 1.6;	
	padding-left: 59px;
	width: 100%;
}

.slide .quote-content p {
	color: #999;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 23px;
	font-weight: 300; 
	margin: 0;
	padding-top: 1px;
}

.quote .slick-prev {
	left: -9.2%	;
}

.quote .slick-prev:before {
	content: url("../../images/quote/arrow-left.png");
}

.quote .slick-next {
	right: -9.1%;
}

.quote .slick-next:before {
	content: url("../../images/quote/arrow-right.png");
}	

.signature {
	padding-top: 10px;
	padding-left: 2px;
}

.signature .sep-line {
	background: #f38181;
  	display: inline-block;
  	height: 3px;
  	margin: 0;
	width: 60px;
	vertical-align: middle;
}

.signature span {
	color: #333;
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	margin: 0;
	padding-left: 5px;
}

@media screen and(max-width: 1110px) {
	.slide {
	}

	.slide img {
		width: 90px;
		height: 90px;
	}

	.signature span {
		font-size: 18px;
	}

	.slide .quote-content {
		padding-left: 5%;
	}

	.slide .quote-content p {
		font-size: 18px;
	}
}

@media screen and(max-width: 700px) {
	.slide {
		text-align: center;
	}

	.slide img {
		float: none;
		padding-bottom: 20px;
	}

	.slide .quote-content {
		float: none;
		margin: 0 auto;
		padding-left: 0;
	}
}

@media screen and(max-width: 455px) {
	.slide .quote-content p {
		font-size: 14px;
		max-width: 100%;
	}

	.signature span {
		font-size: 14px;
	}
}
