.quote {
	background-color: #f8f8f8;
}

.slide .quote-image {
	width: 16%;
}

.slide-wrapper .slick-prev {
	left: -9.9%	;
}

.slide-wrapper .slick-next {
	right: -14.9%;
}

@media screen and(max-width: 836px) {
	.slide .quote-image {
		width: 14%;
	}
}
