.services-2 {
	padding: 55px 0 120px;
}

.services-2 .description {
	padding-top: 5px;
}

.services-2 .table {
	padding-top: 89px;
}

.services-2 .table-cell {
	vertical-align: top;
}

.services-2 .services-2-image {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.services-2 .services-2-image::before {
	content: '';
	display: block;
	width: 100%;
	padding-top: 67.6%;
}

.services-2 .table-cell.accordion {
	width: 53%;
	padding-left: 30px;
}

.accordion .panel {
	background: #fff;
	max-height: 0;
    -webkit-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s;
	overflow-y: scroll;
	color: #a6a6a6;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;	
	font-style: italic;
	font-weight: lighter;
	line-height: 1.6;
	margin: 0 25px 0 20px;
}

.accordion .panel::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #f5f5f5;
}

.accordion .panel::-webkit-scrollbar {
	width: 5px;
	background-color: #fff;
}

.accordion .panel::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #95e1d3;
}

.accordion-btn {
	background: #fff;
	border-style: none;
	border: 1px solid #e5e5e5;
	color: #333;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	margin-top: 9px;
	text-transform: uppercase;
	text-align: left;
	transition: .5s;
	padding: 14px 14px 12px 14px;
	width: 100%;
}

.accordion-btn:focus {
	outline: 0;
}

.accordion-btn:first-child {
	margin-top: 0;
}

.accordion-btn:after {
	content: url('../images/services-2/arrow-up.png');
	transform: rotate(180deg);
	float: right;
	margin-top: 8px;
	margin-right: 6px;
}

.accordion-btn.active-btn:after {
	transform: rotate(0deg);
}

.accordion-btn:hover {
	cursor: pointer;
}

.accordion-btn img {
	vertical-align: middle;
	padding-right: 10px;
}

@media screen and(max-width: 1200px) {
	.services-2 {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and(max-width: 948px) {
	.services-2 .table {
		display: block;
	}

	.services-2 .table-cell {
		display: block;
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}

	.services-2 .services-image {
		width: 90%;
	}

	.services-2 .table-cell.accordion {
		width: 90%;
		padding: 20px 0 0;
	}

	.services-2 .description {
		max-width: 450px;
	}
}

@media screen and(max-width: 460px) {
	.services-2 {
		padding: 30px 0 30px;
	}

	.accordion-btn {
		font-size: 13px;
		padding: 10px 5px;
	}

	.accordion-btn img {
		height: 17px;
		width: 17px;
		padding-right: 8px;
	}

	.accordion-btn:after {
		margin-top: 3px;
		margin-right: 3px;
		height: 12px;
		width: 10px;
	}
}
