.services {
	padding: 108px 0 118px;
}

.services .separator {
	width: 100%;
	border-top: 1px solid #e5e5e5;
	margin-top: 47px;
	margin-bottom: 49px;
	padding: 0;
}

.services-row {
	display: flex;
	justify-content: center;
	padding-top: 48px;
}

.services-row:first-child {
	padding-top: 26px;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 47px;
}

.services-cell {
	width: 33%;
	padding-left: 30px;
}

.services-cell img {
	float: left;
	height: 32px;
	padding-top: 2px;
	padding-right: 29px;
	width: 32px;
}

.service-info {
	float: left;
	width: 74%;
}

.service-info h6 {
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 500;
	margin: 0;
	text-transform: uppercase;
}

.service-info p {
	color: #b3b3b3;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 1.58;
	margin: 0;
	padding-top: 12px;
}

@media screen and(max-width: 1024px) {
	.service-info h6 {
		font-size: 12px;
	}

	.service-info p {
		font-size: 13px;
	}
}

@media screen and(max-width: 838px) {
	.services-cell img {
		padding-bottom: 10px;
	}
}

@media screen and(max-width: 460px) {
	.services {
		padding-top: 30px;
		padding-bottom: 0;
	}

	.services-row {
		display: inline-block;
		width: auto;
		padding-top: 0;
	}

	.services-cell {
	    width: 90%;
	    margin: 0 auto;
	    padding-left: 0;
	    padding-bottom: 20px;
	    padding-top: 20px;
	    border-top: 1px solid #e5e5e5;
	}
}
