.stories {
	padding-top: 110px;
	padding-bottom: 115px;
}

.stories .container {
	font-size: 0;
}

.stories .title {
	padding-bottom: 48px;
}

.blog-image .date-1 {
	position: absolute;
    top: 66.666%;
    left: -2.631%;
}

.blog-image .date-1::before {
	content: '15';
	color: #fff;
	display: block;
	background: #95e1d3;
	width: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 30px;
	padding: 11px 15px 23px;
}

.blog-image .date-1::after {
	content: 'Jan';
	color: #fff;
	display: block;
	position: absolute;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 15px;
	top: 41px;
	left: 17px;
}

.blog-image .date-2 {
	position: absolute;
    top: 66.666%;
    left: -2.631%;
}

.blog-image .date-2::before {
	content: '14';
	color: #fff;
	display: block;
	background: #95e1d3;
	width: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 30px;
	padding: 11px 15px 23px;
}

.blog-image .date-2::after {
	content: 'Jan';
	color: #fff;
	display: block;
	position: absolute;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 15px;
	top: 41px;
	left: 17px;
}

.blog-image .date-3 {
	position: absolute;
    top: 66.666%;
    left: -2.631%;
}

.blog-image .date-3::before {
	content: '12';
	color: #fff;
	display: block;
	background: #95e1d3;
	width: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 30px;
	padding: 11px 15px 23px;
}

.blog-image .date-3::after {
	content: 'Jan';
	color: #fff;
	display: block;
	position: absolute;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 15px;
	top: 41px;
	left: 17px;
}

.blog-item {
	display: inline-block;
	width: 31.666%;
	padding-left: 2.5%;
	vertical-align: top;
}

.blog-item:first-child {
	padding-left: 0;
}

.blog-item h5 {
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0;
	padding-top: 17px;
}

.blog-item p {
	color: #999;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	margin: 0;
	padding-top: 11px;
}

.blog-item p::after {
	content: '';
	display: block;
	width: 100%;
	padding-bottom: 17px;
	border-bottom: 1px solid #e5e5e5;
}

.blog-item .stats {
	padding-top: 18px;
}

.blog-item .views {
	display: inline-block;
	color: #b3b3b3;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 15px;
	padding-right: 22px;
}

.blog-item .comments {
	display: inline-block;
	color: #b3b3b3;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 15px;
}

.blog-image {
	position: relative;
}

.blog-image::before {
	content: '';
	display: block;
	padding-top: 63.15%;
	width: 100%;
}

@media screen and(max-width: 1200px) {
	.stories .blog-item {
		display: inline-block;
		width: 25%;
		padding-left: 4%;
		padding-right: 4%;
	}
}

@media screen and(max-width: 978px) {
	.blog-image .date-1::before {
		font-size: 18px;
		width: 20px;
		padding: 7px 10px 18px;
	}

	.blog-image .date-1::after {
		font-size: 13px;
		top: 28px;
		left: 6px;
	}

	.blog-image .date-2::before {
		font-size: 18px;
		width: 20px;
		padding: 7px 10px 18px;
	}

	.blog-image .date-2::after {
		font-size: 13px;
		top: 28px;
		left: 6px;
	}

	.blog-image .date-3::before {
		font-size: 18px;
		width: 20px;
		padding: 7px 10px 18px;
	}

	.blog-image .date-3::after {
		font-size: 13px;
		top: 28px;
		left: 6px;
	}
}

@media screen and(max-width: 550px) {
	.stories .blog-item {
		display: block;
		width: 80%;
		margin: 0 auto;
	}

	.blog-image .date-1 {
		position: absolute;
	    top: 66.666%;
	    left: -2.631%;
	}

	.blog-image .date-1::before {
		width: 30px;
		font-size: 30px;
		padding: 11px 15px 23px;
	}

	.blog-image .date-1::after {
		font-size: 15px;
		top: 41px;
		left: 17px;
	}

	.blog-image .date-2 {
		position: absolute;
	    top: 66.666%;
	    left: -2.631%;
	}

	.blog-image .date-2::before {
		width: 30px;
		font-size: 30px;
		padding: 11px 15px 23px;
	}

	.blog-image .date-2::after {
		font-size: 15px;
		top: 41px;
		left: 17px;
	}

	.blog-image .date-3 {
		position: absolute;
	    top: 66.666%;
	    left: -2.631%;
	}

	.blog-image .date-3::before {
		width: 30px;
		font-size: 30px;
		padding: 11px 15px 23px;
	}

	.blog-image .date-3::after {
		font-size: 15px;
		top: 41px;
		left: 17px;
	}
}
