.team {
	padding-top: 100px;
	padding-bottom: 110px;
}

.team .description {
	padding-top: 5px;
}

.team-gallery {
	padding-top: 90px;
}

.team-gallery .person {
	float: left;
	width: 31.666%;
	text-align: center;
	padding-left: 2.5%;
	position: relative;
}

.team-gallery .person:first-child {
	padding-left: 0;
}

.person .image-wrapper {
	font-size: 0;
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	transition: .4s;
}

.person .image-wrapper::before {
	content: '';
	display: block;
	width: 100%;
	padding-top: 123.684%;
}

.team-gallery .person h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #333;
	margin: 0;
	padding-top: 23px;
}

.team-gallery .person p {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 15px;
	font-weight: 300;
	color: #acacac;
	margin: 0;
	padding-top: 11px;
}

.team-gallery .person .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	opacity: 0;
	background: -moz-linear-gradient(90deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
	background: -o-linear-gradient(90deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
	background: -ms-linear-gradient(90deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
	background: linear-gradient(0deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
	transition: .4s;
	z-index: -1;
}

.overlay-buttons {
	position: absolute;
	background: #fce38a;
	top: 44%;
	left: 16.59%;
	font-size: 0;
}

.person:hover {
	cursor: pointer;

	.image-wrapper {
		transform: translate(-10px, -10px);
		box-shadow: 10px 10px #95e1d3;
	}

	.overlay {
		opacity: 0.93;
		z-index: 1;
	}

	.overlay-buttons {
		opacity: 1;
	}
}

.person .image-wrapper {
	position: relative;
}

.person .overlay-buttons a {
	border-left: 1px solid #f9bd87;
	display: inline-block;
	text-decoration: none;
	transition: .4s;
	padding: 15px 0;
	width: 56px;
}

.person .overlay-buttons a:first-child {
	border-left: none;
}

.overlay-buttons a:hover {
	& {
		background: #f38181;
	}

	i {
		color: #fff;
	}
}

.overlay-buttons a i {
	color: #f38181;
	font-size: 26px;
}

@media screen and(max-width: 1024px) {
	.overlay-buttons {
		left: 22%;
	}

	.overlay-buttons a i {
		font-size: 18px;
	}

	.person .overlay-buttons a {
		padding: 10px;
    	width: 20px;
	}
}

@media screen and(max-width: 768px) {
	.person .overlay-buttons a {
    	width: 12px;
	}
}

@media screen and(max-width: 620px) {
	.team-gallery .person {
		width: 70%;
		float: none;
		margin: 0 auto;
		padding-bottom: 20px;	
	}

	.overlay-buttons {
		left: 16%;
	}

	.overlay-buttons a i {
		font-size: 26px;
	}

	.person .overlay-buttons a {
		padding: 15px 0;
    	width: 56px;
	}
}

@media screen and(max-width: 460px) {
	.overlay-buttons a i {
		font-size: 18px;
	}

	.person .overlay-buttons a {
		padding: 8px 0;
    	width: 40px;
	}
}

@media screen and(max-width: 320px) {
	.overlay-buttons {
		left: 10%;
	}
}
