footer {
	/*background-color: #f8f8f8;*/
	padding-top: 65px;
}

footer h4 {
	color: #333;
	font-size: 14px;
	font-weight: 500;
	margin: 0;
	padding-bottom: 36px;
	padding-left: 1px;
	text-transform: uppercase;
}

.desktop {
	display: block;
}

.mobile {
	display: none;
}

.footer-row {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.info-column {
	float: left;
	max-width: 465px;
	padding-right: 48px;
	width: 100%;
}

.info-column .separator {
	border-bottom: 1px solid #e5e5e5;
}

.info-column .description {
	color: #999;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-stretch: extra-condensed;
	line-height: 1.6;
	margin: 0;
	padding-top: 28px;
	padding-left: 4px;
}

.info-column .followers {
	color: #333;
	font-size: 14px;
	margin: 0;
	padding-top: 44px;
	padding-left: 4px;
}

.info-column .followers span {
	font-size: 18px;
	font-weight: 700;
}

.info-column h3 {
	color: #ccc;
	font-size: 46px;
	margin: 0;
}

.separator {
	padding-top: 14px;
}

.socials {
	font-style: italic;
	color: #ababab;
	padding-top: 14px;
	padding-bottom: 38px;
}

.socials span {
	font-size: 14px;
	font-weight: 300;
	padding-right: 8px;
	padding-left: 3px;
}

.social-link {
	text-decoration: none;
}

.social-link img {
	padding: 0 5px;
}

.blogs {
	float: left;
	max-width: 338px;
	padding-right: 81px;
	padding-top: 13px;
	width: 100%;
}

.blog {
	display: inline-block;
	padding-bottom: 25px;
}

.blog img {
	float: left;
	width: 120px;
}

.blog-info {
	float: left;
	width: 198px;
	padding-left: 20px;
}

.blog-info p {
	color: #333;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.5;
	margin: 0;
	padding-bottom: 2px;
	padding-top: 18px;
	text-transform: uppercase;
}

.blog-info span {
	color: #b1b1b1;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-style: italic;
}

.instagram {
	float: left;
	max-width: 268px;
	padding-top: 13px;
	width: 100%;
}

.instagram-link {
	display: inline-block;
	padding-top: 15px;
}

.instagram-link a {
	color: #646464;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 12px;
	text-decoration: none;
}

.gallery-image {
	padding: 1px;
	float: left;
	width: 88px;
}

.instagram .gallery-image:nth-child(3n + 1) {
	padding-right: 0;
}

.gallery-image:nth-child(2) {
	padding-left: 0;
}

.gallery-image:nth-child(5) {
	padding-left: 0;
}

.gallery-image:nth-child(8) {
	padding-left: 0;
}

.subscription {
	padding-left: 4px;
}

.subscription input {
	border: 1px solid #e7e7e7;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
	padding: 10.5px 12px;
}

.subscription input::-webkit-input-placeholder {
  color: #d2d2d2;
}

.subscription input::-moz-placeholder {
  color: #d2d2d2;
}

.subscription input:-ms-input-placeholder {
  color: #d2d2d2;
}

.subscription input:-moz-placeholder {
  color: #d2d2d2;
}

.form-wrapper {
	font-size: 0;
}

.subscribe-btn {
	background-color: #95e1d3;
	border: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.19;
	padding: 12px 38px;
	text-transform: uppercase;
}

.subscribe-btn:hover {
	cursor: pointer;
}

.copyright {
	margin-top: 40px;
	display: inline-block;
	border-top: 1px solid #e5e5e5;
	width: 100%;
}

.copyright p {
	color: #333;
	font-size: 14px;
	font-weight: 500;
	margin-left: 8px;
	padding: 10px;
	text-align: center;
}

.copyright p span {
	color: #f38181;
}

@media screen and (max-width: 1200px) {
	.desktop {
		display: block;
	}

	.mobile {
		display: none;
	}

	.info-column {
		max-width: 396px;
		padding-right: 41px;
		width: 100%;
	}

	.info-column h3 {
		font-size: 39px;
	}

	.blogs {
		max-width: 286px;
		padding-right: 68px;
		padding-top: 11px;
		width: 100%;
	}

	.blog {
		padding-bottom: 21px;
	}

	.blog img {
		width: 102px;
	}

	.blog-info {
		width: 167px;
		padding-left: 17px;
	}

	.instagram {
		max-width: 228px;
		padding-top: 11px;
		width: 100%;
	}

	.gallery-image {
		padding: 1px;
		width: 74px;
	}

	.blog-info p {
		font-size: 11px;
		line-height: 1.5;
		padding-top: 4px;
		padding-bottom: 0;
	}
}

@media screen and (max-width: 1024px) {
	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

	footer h4 {
		text-align: center;
	}

	.info-column {
		max-width: 60%;
		padding: 30px 20%;
		text-align: center;
	}

	.blogs {
		max-width: 60%;
		padding: 30px 20%;
	}

	.blog {
		padding-bottom: 30px;
	}

	.instagram {
		max-width: 40%;
		padding: 30px 30%;
	}

	.gallery-image {
		padding-top: 10px;
		width: 160px;
	}

	.gallery-image:nth-child(2n) {
		float: left;
		padding-left: 20px;
	}

	.gallery-image:nth-child(2n + 1) {
		float: right;
		padding-right: 20px !important;
	}

	.instagram-link {
		padding: 80px 0 0 35px;
	}

	.instagram-link a {
		font-size: 18px;
		border-bottom: 1px solid #4c4c4c;
	}
}

@media screen and (max-width: 320px) {
	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}	
}
