header {
  background: url('../../images/header/eagle-background.png') center center no-repeat;
  background-size: cover;
}

.navbar {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding-top: 16px;
}

.navbar-brand {
  color: #fff;
  font-weight: 700;
  font-size: 30px;  
  text-decoration: none;
}

.navbar-nav {
  float: right;
  list-style-type: none;
  margin: 0;
  padding-top: 7px;
}

.navbar-nav li {
  display: inline;
}

.nav-item {
  padding-right: 48px;
}

.nav-item:nth-child(7) {
  padding-right: 0;
}

.nav-link {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.nav-link:hover {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
  padding-bottom: 6px;
}

.nav-link img {
  height: 19px;
  width: 19px;
}

.active {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
  padding-bottom: 6px;
}

.header-title {
  color: #fff;
  margin: 0 auto;
  max-width: 805px;
  width: 100%;
}

.header-title p {
  font-size: 72px;
  margin-top: 164px;
  margin-bottom: 36px;
}

.header-title h2 {
  font-size: 150px;
}

.header-title hr {
  border-bottom: 3px solid #fff;
  padding-top: 53px;
}

.header-btn-wrapper {
  text-align: center;
  margin-top: 61px;
}

.header-btn {
  border: 3px solid #fff;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  padding: 8px 28px;
}

.header-btn:hover {
  color: #fce38a;
  border: 3px solid #fce38a;
}

.section-menu {
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 190px;
}

.section-menu li {
  border-top: 3px solid #f8ebc5;
  display: inline;
  padding-top: 27px;
  margin-left: 30px;
  padding-right: 185px;
}

.menu-link {
  color: #faf3dc;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 25px;
  font-size: 18px;
}

.menu-link span {
  color: #faf3dc;
  font-weight: 700;
  font-size: 24px;
  padding-right: 5px;
}

.active-menu {
  border-top: 3px solid #fff !important;

  .menu-link {
    border-top: 3px solid #f38181;
    padding-top: 25px;
    width: 70px;
  }
}

/*.navbar-toggler:active {
  .navbar-brand {
    font-size: 40px;
    color: blue; 
  }
}*/

@media screen and  (max-width: 1200px) {
  .navbar {
    max-width: 1024px;
    width: 100%;
    padding-top: 13px;
  }

  .navbar-brand {
    font-size: 25px;
  }

  .navbar-nav {
    padding-top: 6px;
  }

  .nav-link {
    font-size: 12px;
  }

  .nav-link img {
    height: 16px;
    width: 16px;
  }

  .nav-item {
    padding-right: 41px;
  }

  .header-title {
    max-width: 687px;
    width: 100%;
  }

  .header-title p {
    font-size: 61px;
    margin-top: 140px;
    margin-bottom: 30px;
  }

  .header-title h2 {
    font-size: 128px;
  }

  .header-title hr {
    padding-top: 45px;
  }

  .header-btn-wrapper {
    margin-top: 52px;
  }

  .header-btn {
    font-size: 12px;
    padding: 7px 24px;
  }

  .section-menu {
    margin-top: 162px;
  }

  .section-menu li {
    margin-left: 25px;
    padding-right: 157px;
  }

  .menu-link {
    font-size: 15px;
  }

  .menu-link span {
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-nav { 
    display: none;
  }
}

@media screen and (max-width: 320px) {

}
