header {
  background: url('../../images/header/eagle-background.png') center center no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  margin: 0 auto;
}

.navbar-brand {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.navbar-nav {
  float: right;
  list-style-type: none;
  margin: 0;
}

.navbar-nav li {
  display: inline;
}

.nav-item:nth-child(7) {
  padding-right: 0;
}

.nav-link {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
  padding-bottom: 6px;
}

.active {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
  padding-bottom: 6px;
}

.header-title {
  color: #fff;
  margin: 0 auto;
}

.header-title hr {
  border-bottom: 3px solid #fff;
}

.btn-wrapper {
  text-align: center;
}

.btn {
  border: 3px solid #fff;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover {
  color: #fce38a;
  border: 3px solid #fce38a;
}

.section-menu {
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
}

.section-menu li {
  border-top: 3px solid #f8ebc5;
  display: inline;
  padding-top: 27px;
}

.menu-link {
  color: #faf3dc;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 25px;
}

.menu-link span {
  color: #faf3dc;
  font-weight: 700;
  padding-right: 5px;
}

.active-menu {
  border-top: 3px solid #fff !important;

  .menu-link {
    border-top: 3px solid #f38181;
    padding-top: 25px;
    width: 70px;
  }
}

@media screen and (min-width: 1366px) {
  .navbar {
    max-width: 1200px;
    width: 100%;
    padding-top: 16px;
  }

  .navbar-brand {
    font-size: 30px;
  }

  .navbar-nav {
    padding-top: 7px;
  }

  .nav-link {
    font-size: 14px;
  }

  .nav-link img {
    height: 19px;
    width: 19px;
  }

  .nav-item {
    padding-right: 48px;
  }

  .header-title {
    max-width: 805px;
    width: 100%;
  }

  .header-title p {
    font-size: 72px;
    margin-top: 164px;
    margin-bottom: 36px;
  }

  .header-title h2 {
    font-size: 150px;
  }

  .header-title hr {
    padding-top: 53px;
  }

  .btn-wrapper {
    margin-top: 61px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 28px;
  }

  .section-menu {
    margin-top: 190px;
  }

  .section-menu li {
    margin-left: 30px;
    padding-right: 185px;
  }

  .menu-link {
    font-size: 18px;
  }

  .menu-link span {
    font-size: 24px;
  }
}

@media screen and (max-width: 1024px){

}

@media screen and (max-width: 767px){

}

@media screen and (max-width: 320px){

}
