html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: "Arial", sans-serif;
	line-height: 1.4;
}

a {
	text-decoration: none;
}

.slider {
    margin-top: 100px;
    width: 800px;
    height: 300px;
}

header {
	padding-top: 50px;
	width: 400px;
	text-align: center;
}

header ul {
	margin-top: 15px;
	font-size: 0;
}

header li {
	display: inline-block;
	width: 80px;
	margin-right: 15px;
	padding: 5px 0;
	font-size: 16px;
	background: #999;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
}

header li:hover {
	background: #666;
}

h2 {
	margin-bottom: 20px;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}
.css-slider {
	display: none;
}

.left-nav,
.center-slider,
.right-slider {
    display: inline-block;
    height: 100%;
    margin-right: -4px;
    vertical-align: top;
    overflow: hidden;
}

.left-nav {
    width: 30%;
    padding-right: 30px;
}

.left-nav ul {
    font-size: 18px;
    text-align: center;
}

.left-nav li {
    display: flex;
	justify-content: center;
	align-items: center;
    height: 70px;
    margin-bottom: 10px;
    background: #999;
    cursor: pointer;
    color: #fff
}

.left-nav li:hover, .left-nav li.active {
    background: #666;
}

.center-slider {
    width: 30%;
    padding-right: 30px;
}

.center-slider ul{
	font-size: 17px;
	text-align: center;
	transition: .3s;
	margin-top: 0;
}

.center-slider li {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	margin-bottom: 5px;
	background: #999;
	color: #fff;
	cursor: pointer;
}

.center-slider li:hover, .center-slider li.active {
    background: #666;
}

.right-slider {
	position: relative;
    width: 40%;
}

.right-slider ul {
    height: 100%;
}

.right-slider li {
	position: absolute;
	display: none;
	float: left;
    background: #666;
}

.right-slider li.active {
	display: block;
}

.right-slider div {
    padding: 15px;
    color: #fff;
}


.left-slider::after {
    display: table;
    content: '';
    clear: both;
}

.css-slider {
    margin-top: 100px;
    width: 800px;
    height: 300px;
}

.left-slider,
.css-right-slider {
    display: inline-block;
    height: 100%;
    margin-right: -4px;
    vertical-align: top;
    overflow: hidden;
}

.left-slider {
    width: 60%;
    padding-right: 30px;
}

.left-slider label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 70px;
    margin: 0 0 20px 0;
    background: #999;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.left-slider label:hover {
    background: #666;
}

.left-slider input {
    display: none;
}

.left-slider input#submenu-1:checked~.submenu {
    margin-top: -270px;
}

.left-slider input#submenu-2:checked~.submenu {
    margin-top: -570px;
}

.left-slider input#submenu-3:checked~.submenu {
    margin-top: -870px;
}


.submenu {
    float: right;
    width: 60%;
    margin-top: -270px;
    padding-left: 30px;
    transition: .3s;
}

.submenu li {
    margin-bottom: 5px;
    background: #999;
    color: #fff;
    cursor: pointer;
}

.submenu li:hover {
    background: #666;
}

.submenu a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    color: #fff;
}

.css-right-slider {
    width: 40%;
}

.css-right-slider ul {
    margin-left: 0;
    width: 9999px;
    height: 100%;
    font-size: 0;
    transition: 0.3s;
}

.css-right-slider li {
    font-size: 16px;
    display: inline-block;
    width: 320px;
    height: 100%;
    background: #666;
}

.css-right-slider ul div {
    padding: 15px;
    color: #fff;
}

#n1:target~ul {
    margin-left: 0;
}

#n2:target~ul {
    margin-left: -320px;
}

#n3:target~ul {
    margin-left: -640px;
}

#n4:target~ul {
    margin-left: -960px;
}

#n5:target~ul {
    margin-left: -1280px;
}

#n6:target~ul {
    margin-left: -1600px;
}

#n7:target~ul {
    margin-left: -1920px;
}

#n8:target~ul {
    margin-left: -2240px;
}

#n9:target~ul {
    margin-left: -2560px;
}

#n10:target~ul {
    margin-left: -2880px;
}

