.todo-manager {
    margin-bottom: 15px;
    text-align: center;
}
.todo-manager form {
    text-align: center;
    margin-bottom: 20px;
}
.todo-manager > input {
    background-color: bisque;
    padding: 8px;
    margin: 0 5px;
    font-size: 15px;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.5);
}
