li {
    list-style: none;
    background-color: #00acc1;
    margin: 5px;
}
li > label {
    display: inline-block;
    color:black;
    margin-left: 5px;
    vertical-align: bottom;
    margin-bottom: 5px;
    width: 247px;
    overflow: auto;
}
li > input[type="text"] {
    width: 100%;
}
li input[type=text] {
    display: none;
}


input[type=checkbox] {
    display: inline-block;
}
input[type=checkbox] + label {
    text-decoration: none;
}

input[type=checkbox]:checked + label {
    color: #f00;
    font-style: normal;
    text-decoration: line-through;
}
.edit-mode input[type=checkbox] {
    display: none;
}

.edit-mode .edit {
    padding-left: 22px;
}
li.edit-mode input[type=text] {
    display: block;
}
li.edit-mode label {
    display: none;
}
.cancel {
    display: none;
    color:black;

}
.edit-mode .cancel {
    padding:3px 28px;
    display: inline-block;
    float: right;
    margin-right: 20px;
}

.edit-mode .delete {
    display: none;
}

.completed-task {
    display: block;
}


.uncompleted-tasks li {
    display: block;
}

.uncompleted-tasks .completed-task {
    display: none;
}
.edit {
    margin-left: 20px;
    padding: 5px;
}
.delete {
    padding: 5px 7px;
    display: inline-block;

}
input[type="checkbox"]{
    -webkit-appearance:none;
    width:14px;height:14px;outline:none;margin:5px;}

input[type="checkbox"]:checked:before{content:"";display:block;width:20px;height:20px;background:url(../assets/2.png)}
input[type="checkbox"]:not(checked):before{content:"";display:block;width:20px;height:20px;background:url(../assets/minus.png)}
