<li class="task clearfix"
    [class.done]="checkTaskForDone()"
    [class.active]="checkFilter()">
  <i class="material-icons task-done-icon"
     [class.active]="_dataService.tasksArray[index].done"
     (click)="onDoneClick()">
    done
  </i>
  <p>{{_dataService.tasksArray[index].name}}</p>
  <i class="material-icons task-close-icon" (click)="onRemoveTask()">close</i>
  <button class="task-edit-btn"
          [disabled]="_dataService.tasksArray[index].done"
          (click)="onEditClick()">
    Edit
  </button>
</li>
