<form [formGroup]="editForm"
      class="edit"
      *ngIf="_dataService.openEditBlock"
      [class.active]="_dataService.openEditBlock">
  <h4>Edit task</h4>
  <input class="edit-input"
         type="text"
         [value]="_dataService.tasksArray[_dataService.currentTask].name"
         [formControl]="editForm.controls['newTaskName']" />
  <button type="submit"
          class="save-btn"
          [disabled]="!editForm.valid"
          (click)="onSaveClick($event)">
    Save
  </button>
  <i class="material-icons edit-close-icon" (click)="_dataService.openEditBlock = !_dataService.openEditBlock">close</i>
</form>
