$color-white:            #fff;
$color-black:            #000000;
$color-light-grey:       #999;
$color-white-grey:       #faf3dc;
$color-white-grey-hover: #f1f1f1;
$color-dark-grey:        #333;
$color-red:              #f38181;
$color-yellow:           #fce38a;
$color-btn-hover:        #e98183;
$color-navbar:           #e78582;

$color-white-grey-background: #f8f8f8;
$color-separator:             #e5e5e5;
