@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.clearfix:after {
  content: '';
  display: block;
  clear: both;
  overflow: hidden;
}

.todo {
  font-size: 0;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.todo .task-input {
  padding: 12px 20px;
  color: #1d1d1d;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
}

.todo .task-input:focus {
  outline: none;
}

.todo .add-task-btn {
  background: #2d89ef;
  border: 1px solid #2d89ef;
  color: #eff4ff;
  font-size: 20px;
  padding: 13px 40px;
  cursor: pointer;
  transition: background .4s;
}

.todo .add-task-btn:hover {
  background: #2b5797;
}

.todo .add-task-btn:disabled {
  background: #2d89ef;
  cursor: not-allowed;
}

.todo-list {
  width: 60%;
  margin: 0 auto;
}

.todo-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-list .task {
  background: #eff4ff;
  display: none;
  margin-top: 20px;
  padding: 5px;
  width: 100%;
}

.todo-list .task > * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.todo-list .task.active {
  display: inline-block;
}

.todo-list .task.done p {
  text-decoration: line-through;
}

.todo-list .task.done .task-edit-btn {
  cursor: not-allowed;
}

.todo-list .task.done .task-edit-btn:hover {
  color: #bbb;
}

.todo-list .task .task-done-icon,
.todo-list .task p {
  float: left;
}

.todo-list .task .task-edit-btn,
.todo-list .task .task-close-icon {
  float: right;
}

.todo-list .task .task-done-icon {
  color: #bbb;
  cursor: pointer;
  font-size: 36px;
  transition: color .4s;
  width: 7%;
}

.todo-list .task .task-done-icon:hover {
  color: #2d89ef;
}

.todo-list .task .task-done-icon.active {
  color: #2d89ef;
}

.todo-list .task .task-done-icon.active:hover {
  color: #bbb;
}

.todo-list .task p {
  color: #1d1d1d;
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 7px 10px;
  width: 71%;
  overflow-x: hidden;
}

.todo-list .task .task-edit-btn {
  color: #bbb;
  cursor: pointer;
  padding: 8px 20px;
  background: none;
  border: none;
  font-size: 18px;
  transition: color .4s;
  width: 15%;
}

.todo-list .task .task-edit-btn:focus {
  outline: none;
}

.todo-list .task .task-edit-btn:hover {
  color: #2d89ef;
}

.todo-list .task .task-close-icon {
  color: #bbb;
  cursor: pointer;
  font-size: 36px;
  transition: color .4s;
  width: 7%;
}

.todo-list .task .task-close-icon:hover {
  color: #2d89ef;
}

.edit {
  display: none;
  position: absolute;
  background: #eee;
  border: 1px solid #aaa;
  top: 10%;
  width: 30%;
  margin: 0 calc(10% - 40px);
  padding: 0 40px 40px;
  -webkit-box-shadow: 0 0 100px #333;
     -moz-box-shadow: 0 0 100px #333;
          box-shadow: 0 0 100px #333;
  z-index: 101;
}

.edit.active {
   display: block;
 }

.edit .edit-input {
  color: #1d1d1d;
  font-size: 20px;
  padding: 5px 15px;
}

.edit .edit-input:focus {
  outline: none;
}

.edit h4 {
  color: #1d1d1d;
  font-family: 'Helvetica', sans-serif;
  font-size: 22px;
  font-weight: normal;
  margin: 0;
  padding: 20px 0;
}

.edit .save-btn {
  background: #2d89ef;
  border: 1px solid #2d89ef;
  color: #eff4ff;
  cursor: pointer;
  font-size: 20px;
  padding: 6px 30px;
  transition: background .4s;
}

.edit .save-btn:hover {
  background: #2b5797;
}

.edit .save-btn:disabled {
  background: #2d89ef;
  cursor: not-allowed;
}

.edit .save-btn:disabled:hover {
  background: #2d89ef;
}

.edit .edit-close-icon {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  color: #aaa;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
  background: none;
  transition: color .4s;
}

.edit .edit-close-icon:hover {
  color: #ccc;
}

.todo-list .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: #333;
  opacity: 0.5;
  display: none;
}

.todo-list .overlay.active {
  display: block;
}

.filter-btns {
  padding-top: 20px;
  font-size: 0;
}

.filter-btns button:focus {
  outline: none;
}

.filter-btns button {
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
  background: #eff4ff;
  border: 1px solid #eff4ff;
  color: #1d1d1d;
  margin: 0 5px;
  transition: all .4s;
}

.filter-btns button:hover {
   background: #2d89ef;
   border: 1px solid #2d89ef;
   color: #eff4ff;
}

.filter-btns button.active {
   background: #2d89ef;
   border: 1px solid #2d89ef;
   color: #eff4ff;
}
