body {
  	font-size: 100%;
  	font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: ""; /* or 'content: " "; font-size: 0;' */
  clear: both; /*the most important thing*/
  height: 0;
}

/* 
	For IE6-7 support:
	* html .clearfix             { zoom: 1; }
	*:first-child+html .clearfix { zoom: 1; } 
/* 
Generally clearfix could be specified usin 'overflow: hidden | auto' applying to parent div 

You can write additional class '.clearfix' of just specify this properties in parent class '.parent:after'
	.clerfix:after {
		content: '';
		display: table | block;         //'display: table' is commonly used for maintaining IE6-7 browsers 
		clear: both;
	}

Also you could write additinal block after floatin blocks(at the bottom of parent block) with propertie:
	.clear {
		clear: both;
	}

The most moder way of clearing floats is to give to parent element 'flow-root' property:
	.parent {
		display: flow-root;
	}
*/

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.description {
	color: #999;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 1.59;
	max-width: 79.5%;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.title {
	color: #333;
	text-align: center;
	padding-bottom: 38px;
}

.title h3 {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	padding-bottom: 20px;
}

.title h2 {
	font-weight: 700;
	font-size: 30px;
	line-height: 0.95;
	margin: 0;
	text-transform: uppercase;
}

.title:after {
	margin: 0 auto;
	padding-top: 33px;
    height: 3px;
    display: block;
    width: 60px;
    border-bottom: 3px solid #f38181;
    content: '';
}

.table {
	display: table;
}

.table-cell {
	display: table-cell;
}

.facebook-icon {
	background: url('../images/footer/socials/socials-sprite.png') 0 0;
	height: 16px;
	width: 16px;
}

.twitter-icon {
	background: url('../images/footer/socials/socials-sprite.png') 193px 0;
	height: 16px;
	width: 16px;
}

.instagram-icon {
	background: url('../images/footer/socials/socials-sprite.png') 163px 0;
	height: 16px;
	width: 16px;
}

.pinterest-icon {
	background: url('../images/footer/socials/socials-sprite.png') 134px 0;
	height: 16px;
	width: 16px;
}

.google-icon {
	background: url('../images/footer/socials/socials-sprite.png') 103px 0;
	height: 16px;
	width: 16px;
}

.youtube-icon {
	background: url('../images/footer/socials/socials-sprite.png') 73px 0;
	height: 16px;
	width: 16px;
}

.dribble-icon {
	background: url('../images/footer/socials/socials-sprite.png') 43px 0;
	height: 16px;
	width: 16px;
}

.tumblr-icon {
	background: url('../images/footer/socials/socials-sprite.png') 16px 0;
	height: 16px;
	width: 16px;
}

.slide-wrapper {
	margin: 0 auto;
	max-width: 68.9%;
	width: 100%;
}

.slide {
	display: inline-block;
	padding-bottom: 63px;
	padding-top: 70px;
}

.slide:focus {
	outline: 0;
}

.slide img {
	float: left;
}

.slide .slide-image {
	width: 23%;
	float: left;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.slide .slide-image::before {
	content: '';
	display: block;
	width: 100%;
	padding-top: 100%;
}

.slide .slide-content {
	float: left;
	width: 77%;
	line-height: 1.6;	
	padding-left: 59px;
}

.slide .slide-content p {
	color: #999;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 23px;
	font-weight: 300; 
	margin: 0;
	padding-top: 1px;
}

.slide-wrapper .slick-prev {
	left: -9.2%	;
}

.slide-wrapper .slick-prev:before {
	content: url("../images/quote/arrow-left.png");
}

.slide-wrapper .slick-next {
	right: -9.1%;
}

.slide-wrapper .slick-next:before {
	content: url("../images/quote/arrow-right.png");
}	

.slide .signature {
	padding-top: 10px;
	padding-left: 2px;
}

.slide .signature .sep-line {
	background: #f38181;
  	display: inline-block;
  	height: 3px;
  	margin: 0;
	width: 60px;
	vertical-align: middle;
}

.slide .signature span {
	color: #333;
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	margin: 0;
	padding-left: 5px;
}


@media screen and(max-width: 1200px) {
	.slide .slide-content {
		width: 70%;
	}

	.slide .slide-content p {
		font-size: 18px;
	}

	.slide img {
		width: 15%;
	}
}

@media screen and(max-width: 836px) {
	.slide .slide-content {
		width: 70%;
		padding-left: 20px;
	}

	.slide .slide-content p {
		font-size: 14px;
	}

	.slide img {
		width: 12%;
	}

	.signature span {
		font-size: 18px;
	}
}

@media screen and(max-width: 560px) {
	.slide-wrapper {
		.slick-prev {
			left: -16%;
		}

		.slick-next {
			right: -16%;
		}

		.slide .slide-content {
			width: 100%;
			text-align: center;
			padding-left: 0;
			padding-top: 10px;
		}

		.slide .slide-content p {
			line-height: 1.5;
			font-size: 16px;
		}

		.slide .slide-image {
			width: 40%;
			float: none;
			margin: 0 auto;
		}
	}
}

@media screen and(max-width: 440px) {
	.slide .slide-content p {
		line-height: 1.4;
		font-size: 14px;
	}

	.slide .signature span {
		font-size: 14px;
	}

	.slide .signature .sep-line {
		width: 30px;
	}

	.slide-wrapper .slick-prev {
		left: -15%;
	}
}
