body {
  	font-size: 100%;
  	font-family: 'Montserrat', sans-serif;
}

.title {
	color: #333;
	text-align: center;
}

.title p {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	margin: 0;
	padding-bottom: 19px;
}

.title h2 {
	font-weight: 700;
	font-size: 30px;
	line-height: 0.95;
	margin: 0;
	text-transform: uppercase;
}

.title div {
  	background: #f38181;
  	height: 3px;
  	margin: 38px auto 0;
  	width: 60px;
}

.float-row {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.float-cell {
	float: left;
	width: 33.33%;
}

.table {
	display: table;
}

.table-cell {
	display: table-cell;
}

@media screen and  (max-width: 1200px) {
  .float-row {
  	max-width: 1024px;
  	width: 100%;
  }

  .float-row-column {
  	float: left;
  	width: 33.33%;
  }
}

@media screen and (max-width: 1024px) {
  .flow-row-column {
  	width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .flow-row-column {
  	width: 100%;
  }

  .table-cell {
  	display: block;
  	width: 100% !important;
  }
}