header {
  background-image: url('../images/header/eagle-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header-wrapper {
  padding-top: 25px;
}

.navbar-brand {
  color: $color-white;
  font-weight: 600;
  font-size: 30px;  
  text-decoration: none;
}

.navbar-toggler {
  display: none;
  background: url('../images/header/header-icons-sprite.png') 0 0;
  width: 30px;
  height: 40px;
  margin-right: 30px;
  margin-top: 10px;
}

.navbar-nav {
  float: right;
  list-style-type: none;
  margin: 0;
  padding-top: 9px;
  z-index: 1;

  .close-btn {
    display: none;
  }

  .search-icon a {
    display: inline-block;
    background: url('../images/header/header-icons-sprite.png') 19px -17px;
    width: 18px;
    height: 18px;
  }

  .chart-icon a {
    display: inline-block;
    background: url('../images/header/header-icons-sprite.png') 50px -15px;
    width: 18px;
    height: 18px;
  }
}

.nav-item {
  display: inline-block;
  padding-right: 52px;

  &.nav-item__last {
    padding-right: 0;
  }

  &.search-icon a:hover,
  &.chart-icon a:hover {
    border: none;
    padding-bottom: 0;
  }

  a {
    color: $color-white;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
  }

  a:hover {
    color: $color-yellow;
    border-bottom: 3px solid $color-yellow;
    padding-bottom: 9px;
  }
}

.active {
  color: $color-yellow;
  border-bottom: 3px solid $color-yellow;
  padding-bottom: 9px;
}

.header-title {
  margin: 0 auto;
  max-width: 802px;
  color: $color-light-grey;
  text-align: center;
  padding-bottom: 38px;

  &:after {
    content: '';
    margin: 0 auto;
    height: 3px;
    display: block;
    width: 60px;
    border-bottom: 3px solid $color-white;
    background: transparent;
    padding-top: 55px;
  }

  h2 {
    color: $color-white;
    margin-top: 165px;
    margin-bottom: 37px;
    font-size: 72px;
    font-family: $font-kaushan;
    font-weight: normal;
  }

  h1 {
    font-size: 150px;
    font-weight: 700;
    line-height: 0.93;
    margin: 0;
    text-transform: uppercase;  
    color: $color-white;
  }
}

.header-btn-wrapper {
  text-align: center;
  margin-top: 13px;

  .header-btn {
    display: inline-block;
    border: 3px solid $color-white;
    color: $color-white;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .4s;
    padding: 8px 28px;
  }

  .header-btn:hover {
    background-color: $color-white;
    color: $color-btn-hover;
  }
}

.section-menu {
  list-style-type: none;
  margin: 0;
  padding-bottom: 22px;
  padding-left: 0;
  padding-top: 158px;
  
  li {
    float: left;
    margin-left: 2.8%;
    text-align: left;
    position: relative;
    width: 22.9%;
  }

  li::before {
    border-top: 3px solid #f8ebc5;
    content: '';
    display: block;
  }

  li.active-menu::before {
      border-top: 3px solid $color-red;
      width: 25%;
      top: -3px;
      position: absolute;
  }

  li:hover {
    .menu-link {
      color: $color-white;

      span {
        color: $color-white;
      }
    }
  }

  li:first-child:hover {
    border-top: 3px solid $color-white;
    content: '';
    display: block;

    &::before {
      border-top: 3px solid $color-red;
      width: 25%;
      top: -3px;
      position: absolute;
    }
  }

  li:nth-child(2):hover {
    border-top: 3px solid $color-white;
    content: '';
    display: block;

    &::before {
      border-top: 3px solid $color-red;
      width: 50%;
      top: -3px;
      position: absolute;
    }
  }

  li:nth-child(3):hover {
    border-top: 3px solid $color-white;
    content: '';
    display: block;

    &::before {
      border-top: 3px solid $color-red;
      width: 75%;
      top: -3px;
      position: absolute;
    }
  }

  li:nth-child(4):hover {
    border-top: 3px solid $color-white;
    content: '';
    display: block;

    &::before {
      border-top: 3px solid $color-red;
      width: 100%;
      top: -3px;
      position: absolute;
    }
  }

  li.active-menu {
      border-top: 3px solid $color-white;
      content: '';
  }

  li:first-child {
    margin-left: 0;
  }

  li:hover {
    cursor: pointer;
  }

  .menu-link {
    color: $color-white-grey;
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 18px;

    span {
      color: $color-white-grey;
      font-weight: 700;
      font-size: 24px;
      padding-right: 5px;
    }
  }
}

@media screen and(max-width: 1200px) {
  .header-wrapper {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1024px) {
  .header-title {
    h2 {
      margin-top: 100px; 
    }
  }

  .section-menu {
    padding-top: 100px;

    .menu-link {
      padding-top: 25px;
    }
  }

  .navbar-nav.responsive {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $color-navbar;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 3;
    padding: 30px 0 0;

    .nav-item {
      display: block;
      width: 80%;
      padding-top: 20px;
      padding-left: 20px;

      &.search-icon {
        width: 10px;
        display: inline-block;
      }

      &.chart-icon {
        width: 10px;
        display: inline-block;
      }
    }

    .close-btn {
      display: inline-block;
      color: $color-white-grey;
      font-size: 46px;
      margin-left: 50px;
      position: fixed;
      right: 25px;
      text-decoration: none;
      top: 0;
    }
  }

  .navbar-nav {
    .close-btn:hover {
      color: #f1f1f1;
    }

    .nav-item{
      display: none;
      padding-top: 10px;

      a {
        font-size: 14px;
      }
    } 
  } 

  .navbar-toggler {
    display: inline-block;
    float: right;
    font-size: 0;

    /* 
      Because this is an inline-block element, it has tabulation character after it.
      That is why we use 'font-size: 0' property to get rid of it.

      If you use <ul> list you can use one of those methods: 
      1)
      <ul>
        <li>one</li><li>two</li><li>three</li>
      </ul>
      (in one line, just to delete all this whitespaces)

      2)
      <ul><!--
          --><li>one</li><!--
          --><li>two</li><!--
          --><li>three</li><!--
      --></ul>
        (using comments)
        
      3)
        <ul>
          <li>one
          <li>two
          <li>three
        </ul>
        (remove closing tags)
    */
  }

  .navbar-brand {
    display: inline-block;  
    padding-top: 13px;
    padding-left: 20px;
  }

  .header-wrapper .section-menu li {
    width: 20%;
    margin: 0 2.5%;
  }
}

@media screen and(max-width: 850px) {
  .header-title {
    p {
      font-size: 36px;
    }  

    h2 {
      font-size: 66px;
    }

    h1 {
      font-size: 76px;
    }
  }

  .section-menu {
    .menu-link {
      font-size: 12px;
      padding-top: 16px;
      
      span {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .header-wrapper {
    .header-title {
      h2 {
        margin-top: 30px;
      }
      
      h1 {
        font-size: 50px;
      }
    }

    .section-menu {
      padding-top: 60px;
      padding-bottom: 50px;

      li {
        width: 80%;
        margin: 10px 10%;
      }
    }

  }
  
  .header-btn {
    font-size: 12px;
  }

  .menu-link {
    font-size: 18px;
    padding-top: 17px;
  
    span {
      font-size: 24px;
    }
  }
}
