.counter {
	background: $primary-color;
}

.counter-list {
	font-size: 0;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;

	li {
		display: inline-block;
		width: 20%;
		padding: 79px 0 88px;
		border-right: 1px solid #b5eae0;
		vertical-align: top;

		&:first-child {
			border-left: 1px solid #b5eae0;
		}
	}

	p:first-child {
		margin-bottom: 17px;
		font-size: 72px;
		font-weight: 700;
		color: #fff;
	}

	p:last-child {
		font-size: 14px;
		font-weight: 400;
		color: #fff;
	}
}