.services {
	padding: 110px 0 120px;
}

.services-list {
	margin-top: 60px;
	display: table;
	width: 100%;
	border-collapse: collapse
}

.services-row {
	display: table-row;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;

	&:first-child .services-cell{
		padding: 0 0 50px 30px;
	}

	&:last-child .services-cell{
		padding: 50px 0 0 30px;
	}

	&:last-child {
		border-bottom: 0;
	}
}

.services-cell {
	display: table-cell;
	width: 33.3%;
	vertical-align: top;
	padding: 50px 0 50px 30px;

	img {
		float: left;
		max-width: 23%;
		margin-right: 30px;
	}
}

.services-info {
	float: left;
	max-width: 77%;

	h3 {
		margin-bottom: 10px;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 400;
		color: #333;
		text-transform: uppercase;
	}

	p {
		font-size: 15px;
		font-weight: 400;
		color: #999;
		line-height: 24px;
	}
}

