/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 22, ../sass/main.scss */
.dash {
  width: 60px;
  margin: 0 auto;
  border-bottom: 3px solid rgba(243, 129, 129, 0.8);
}

/* line 28, ../sass/main.scss */
p {
  color: #999999;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

/* line 37, ../sass/main.scss */
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

/* line 43, ../sass/main.scss */
body {
  font-family: 'Montserrat', sans-serif;
}

/* line 47, ../sass/main.scss */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 10.5em;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 170px;
}

/* line 58, ../sass/main.scss */
h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 72px;
  color: #ffffff;
}

/* line 66, ../sass/main.scss */
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #333333;
}

/* line 76, ../sass/main.scss */
h4 {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  color: #333333;
}

/* line 84, ../sass/main.scss */
h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

/* line 93, ../sass/main.scss */
.about-us .content .photo img:hover, .ourteam .person .photo img:hover {
  transform: translate(-10px, -10px);
}

/* line 100, ../sass/main.scss */
.banner {
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.8) 0%, rgba(243, 129, 129, 0.8) 100%), url("../img/banner-bg.png");
  background-size: cover;
  text-align: center;
}
/* line 108, ../sass/main.scss */
.banner header {
  margin: 0 auto;
  padding-top: 23px;
  max-width: 1200px;
}
/* line 114, ../sass/main.scss */
.banner header h3 {
  display: inline-block;
  color: #ffffff;
  float: left;
}
/* line 121, ../sass/main.scss */
.banner header ul {
  text-transform: uppercase;
  display: inline;
  float: right;
}
/* line 126, ../sass/main.scss */
.banner header ul li {
  margin-right: 44px;
  display: inline;
}
/* line 129, ../sass/main.scss */
.banner header ul li:last-child {
  margin-right: 0px;
}
/* line 133, ../sass/main.scss */
.banner header ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
}
/* line 138, ../sass/main.scss */
.banner header ul li a:hover {
  border-bottom: 2px solid rgba(252, 227, 138, 0.8);
}
/* line 147, ../sass/main.scss */
.banner .content {
  padding-top: 4.16%;
}
/* line 157, ../sass/main.scss */
.banner .content .dash {
  border-bottom: 3px solid #ffffff;
}
/* line 161, ../sass/main.scss */
.banner .content .banner-button {
  display: inline-block;
  border: 3px solid #ffffff;
}
/* line 164, ../sass/main.scss */
.banner .content .banner-button a {
  display: block;
  margin: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
/* line 180, ../sass/main.scss */
.banner .bottom-navbar li {
  text-transform: uppercase;
  display: inline-block;
}
/* line 184, ../sass/main.scss */
.banner .bottom-navbar li a {
  border-top: 3px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}
/* line 190, ../sass/main.scss */
.banner .bottom-navbar li a p {
  color: #ffffff;
  display: inline-block;
}

/*/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
*/
/* line 206, ../sass/main.scss */
.about-us {
  text-align: center;
}
/* line 211, ../sass/main.scss */
.about-us .description p {
  max-width: 600px;
}
/* line 215, ../sass/main.scss */
.about-us .description .dash {
  border-bottom: 3px solid rgba(243, 129, 129, 0.8);
}
/* line 222, ../sass/main.scss */
.about-us .content .photo {
  display: inline-block;
  background: #95e1d3;
}
/* line 227, ../sass/main.scss */
.about-us .content .photo img:hover {
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.8) 0%, rgba(243, 129, 129, 0.8) 100%), url("../img/banner-bg.png");
}

/*/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
*/
/* line 243, ../sass/main.scss */
.facts {
  width: 100%;
  background-color: #95e1d3;
  margin: 0 auto;
}
/* line 248, ../sass/main.scss */
.facts .fact {
  background: #95e1d3;
  display: inline-block;
  min-width: 200px;
}
/* line 253, ../sass/main.scss */
.facts .fact p {
  display: inline-block;
  color: #ffffff;
}
/* line 258, ../sass/main.scss */
.facts .fact h5 {
  display: inline-block;
}

/*/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
*/
/*/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
*/
/* line 280, ../sass/main.scss */
.feature {
  background: url("../img/images/feature-bg.png") no-repeat;
  background-size: cover;
}

/*/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
*/
/* line 301, ../sass/main.scss */
.quote {
  background: #f8f8f8;
}
/* line 310, ../sass/main.scss */
.quote .quote-text p {
  color: #adadad;
}

/* line 322, ../sass/main.scss */
.ourteam .person .photo {
  background: #95e1d3;
}
/* line 334, ../sass/main.scss */
.ourteam .person h5 {
  color: #333333;
}

/* line 345, ../sass/main.scss */
.testimonial .avatar {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
  background: url("../img/images/testimonial.png") no-repeat;
  background-size: cover;
  background-position: -20px -20px;
}

/* line 367, ../sass/main.scss */
.blog .articles .date {
  background-color: #95e1d3;
}
/* line 369, ../sass/main.scss */
.blog .articles .date p {
  color: #ffffff;
}
/* line 374, ../sass/main.scss */
.blog .articles h5 {
  color: #333333;
}

/* line 380, ../sass/main.scss */
.map {
  background: url("../img/images/map.png") no-repeat;
  background-size: contain;
  min-height: 400px;
}
/* line 384, ../sass/main.scss */
.map .container {
  margin: 0 auto;
  text-align: center;
}
/* line 388, ../sass/main.scss */
.map .container h5 {
  color: rgba(243, 129, 129, 0.8);
}

/* line 401, ../sass/main.scss */
.footer .container .blogs h5 {
  color: #333333;
}
