.work-section__content-text p {

    padding-bottom: 96px;
}
.work-section__content-text p:nth-child(1) {
    padding-top: 114px;
    padding-bottom: 43px;
}
.work-section__content-text {
    color: #464b4f;
    width: 860px
}
