/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
$color : #432422;
$yellow: rgba(252,227,138,0.8);
$red: 	 rgba(243,129,129,0.8);
$blue:	 #95e1d3;
$h-color:#333333;
$qoute-bg: #f8f8f8;
$p-color:   #999999;
$white:	 #ffffff;
$gradient: linear-gradient(to top, $yellow 0%,$red 100%);
$white-line : 3px solid $white;
$red-line : 3px solid $red;
$grey: #adadad;



.dash{
	width: 60px;
	margin: 0 auto;
	border-bottom: $red-line;
}

p{
	color: $p-color;
	font : {
		family: 'Roboto', sans-serif;
		size : 15px;
	}
}


*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	font-family: 'Montserrat', sans-serif;
} 

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 10.5em;
	color: $white;
	text-transform: uppercase;
	max-width: 1000px;
	margin: 0 auto;
	line-height: 170px;

}

h2{
	font : {
		family: 'Kaushan Script', cursive;
		size: 72px;
	}
	color: $white;
}

h3{
	font : {
		family: 'Montserrat', sans-serif;
		size: 30px;
		weight: bold;
	}

	color: $h-color;
}

h4{
	font : {
		family: 'Kaushan Script', cursive;
		size : 24px;
	}
	color: $h-color;
}

h5{
	font : {
		family: 'Montserrat', sans-serif;
		size: 14px;
	}
	color: $white;
	text-transform: uppercase;
}

%hover-style{
	transform: translate(-10px, -10px);
}




.banner{

	background-image: $gradient , url("../img/banner-bg.png") ;
	background-size: cover;
	text-align: center;

	

	header{

	margin: 0 auto;
	padding-top: 23px;
	max-width: 1200px;

		h3{
			    display: inline-block;
    			color: $white;
    			float: left;

		}

		ul{
			text-transform: uppercase;
			display: inline;
			float: right;
			
			li{
				margin-right: 44px;
				display: inline;
				&:last-child{
					margin-right: 0px;
				}

				a{
					font-size: 14px;
					text-decoration: none;
					color: $white;

					&:hover {
						border-bottom: 2px solid $yellow;
					}
				}
			}
		}
		
	}

	.content{
		padding-top: 4.16%;
		h1{

		}

		h2{

		}

		.dash{
			border-bottom: $white-line;
		}

		.banner-button{
			display: inline-block;
			border:$white-line;
			a{
				display: block;
    			margin: 10px 30px;
				text-transform: uppercase;
				text-decoration: none;
				color: $white;				
			}


		}


	}
	
	.bottom-navbar{
		
		li{
			text-transform: uppercase;
			display: inline-block;

			a{
				border-top: $white-line;
				text-decoration: none;
				color: $white;
				display: inline-block;

				p{
					color: $white;
					display: inline-block;
				}
			}
		}
		
	}

}

/*/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
*/

.about-us{
	text-align: center;

	.description {
		
		p {
			max-width: 600px;
		}

		.dash {
			border-bottom: $red-line;
		}
	}

	.content {
		
		.photo {
			display: inline-block;
			background: $blue;
			img {
				
				&:hover  {
					@extend %hover-style;
					background-image: $gradient , url("../img/banner-bg.png");
				}
			}
		}
	}
}



/*/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
*/

.facts {
	width: 100%;
	background-color: $blue;
	margin: 0 auto;

	.fact{
		background: $blue;
		display: inline-block;
		min-width: 200px;

		p {
			display: inline-block;
			color: $white;
		}

		h5{
			display: inline-block;
		}
	}
}

/*/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
*/

.service{


}

/*/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
*/


.feature{
	background: url("../img/images/feature-bg.png") no-repeat;
	background-size: cover;


	
}


/*/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
*/


.service2{
	
	
}


.quote{
	background: $qoute-bg;

	img{


	}

	.quote-text{
		p{
			color: $grey;
		}
	}
}


.ourteam{

	.person {
		

		.photo{

			background: $blue;

			img{
				
				&:hover{
					@extend %hover-style;
				}
			}
		}

		h5{
			color: $h-color;
		}
		
	}
}




.testimonial{
	.avatar{
			height: 200px;
			width: 200px;
			overflow: hidden;
			border-radius: 50%;
			background: url("../img/images/testimonial.png") no-repeat;
			background-size: cover;
			background-position: -20px -20px;
				
			
	}
}


.blog{

	.articles{

		.photo{

		}

		.date{
			background-color: $blue;
			p{
				color: $white;
			}
		}

		h5{
			color: $h-color;
		}
	}
}

.map{
	background: url("../img/images/map.png") no-repeat;
	background-size: contain;
	min-height: 400px;
	.container{
		margin: 0 auto;
		text-align: center;

		h5{
			color: $red;
		}
	}
}


.footer{
	.container{



	.blogs{
		h5{
			color: $h-color;
		}
	}

	}
}