.branches {
  padding: 40px 0;
  text-align: center;
}

.branches h2 {
  font-size: 32px;
  margin: 0;
  padding-bottom: 20px;
  color: #333;
}

.branches .branch {
  font-size: 22px;
  color: #333;
  padding: 10px;
  margin: 0;
}

.branches .branch span {
  font-weight: bolder;
}

