
  <!DOCTYPE html>
  <html lang ="ru">
    <head>
          <meta charset = "utf-8">
          <title>Библиотека</title>
          <link rel="stylesheet" type="text/css" href="contacts.css">
   </head>
   <body>
   <header>
        <ul class="menu">
              <img src="../../images/header_banner.jpg" alt="картинка" />
          <li><a href=#>Книги</a>
            <ul class="submenu">
          <li><a href="">По названию</a></li>
          <li><a href="">По автору</a></li>
          <li><a href="">По жанру</a></li>
              <li><a href="">По году издания</a></li>
              <li><a href="">По стране издания</a></li>
            </ul>
          </li>
          <li><a href=#>Газеты</a>
            <ul class="submenu">
              <li><a href="">За 2014 год</a></li>
              <li><a href="">За 2015 год</a></li>
              <li><a href="">За 2016 год</a></li>
            </ul>
          </li>
          <li><a href=#>Наши филиалы</a>
            <ul class="submenu">
              <li><a href="">г. Минск</a></li>
              <li><a href="">г. Гродно</a></li>
              <li><a href="">г. Витебск</a></li>
          <li><a href="">г. Могилев</a></li>
            </ul>
          </li>
          <li><a href="">Акции</a></li>
          <li><a href="">Контакты</a></li>
            <li><a href="">Заказать книгу</a></li>
        </li>
      </ul>
   </header>
   <hr color="#CD0000">
   <h1 style="text-align:center">Наши филиалы</h1>
   <form>
      <div class="content">
          <label>Г. Минск</label>
          <span>Ул. Чюрлёниса, 28, тел. 234-57-19</span>
      </div>
      <div class="content">
          <label>Г. Гродно</label>
          <span>Ул. Советская, 14, тел. 74-32-16</span>
      </div>
      <div class="content">
          <label>Г. Витебск</label>
          <span>Ул. Лазо, 54, тел. 84-12-64</span>
      </div>
      <div class="content">
          <label>Г. Могилев</label>
          <span>Пр. Мира, 32, тел. 94-34-27</span>
      </div>
   </form>
   <hr color="#CD0000">

   <footer>
      <p>
          <span>©Все права защищены, 2016 г.
              <br>Author.
          </span>
      </p>
   </footer>
  </body>
  </html>