.about {
  padding-top: 90px;
  padding-bottom: 107px;
}
.about-photos-grid {
  margin-top: 98px;
}

.about-photo {
  padding-right: 15px;
  padding-left: 15px;
  width: 30.333%;
  display: inline-block;
  //position: relative;

}

.about-photo img {
  width: 100%;
  height: 250px;
}

.about-photo:hover {
  transition: 0.3s;
  transform: translate(-10px, -10px);
  box-shadow: inset -10px -10px #95e1d3;
  //animation: about-photo-animation 1s linear infinite;

}

