
.accordion-button {
  background-color: blue;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom:5px;
}

.accordion-panel {
  //padding: 0 18px;
  background-color: red;
  height: 50px;
  width:100%;
  overflow: hidden;
  float: left;

}
//
//#menu{
//  margin-bottom: ;
//}
