.activites {
  padding-bottom: 20px;
  padding-top: 40px
}

.accordion {
  float: right;
  width: 50%;
}

.activity-container:after {
  content: "";
  display: table;
  clear: both;

}

.activity-container {
  margin: 94px 10px 10px 10px;

}

.accordion-panel {
  //padding: 0 18px;

  height: 127px;

  overflow: hidden;

  color: #a6a6a6;
  font-family: $robotoLightItalic;
  font-size: 15px;
  line-height: 1.6;
  padding: 20px 0px 20px 20px;
  border: 1px solid #e5e5e5;
  border-top: none;
  //margin-bottom: 20px;
  //margin-top:-10px;
}

.panel-head {
  cursor: pointer;
  border: 1px solid #e5e5e5;
  color: #333;
  font-family: $montserrat;
  font-size: 14px;
  padding: 14px 14px 12px 14px;
  margin-top: 10px;

}
.panel-head:first-child{
  margin-top: 0;
}

.panel-head span {
  vertical-align: middle;
}

.panel-head img {
  margin-right: 10px;
  vertical-align: middle;
}

.panel-head:after {
  content: url(../images/activites/down.png);
  //transform: rotate(180deg);
  float: right;
  margin-top: 10px;
  //margin-top: 8px;
  //margin-right: 6px;
}

.panel-head.special:after {
  transform: rotate(180deg);
}


.activity-image {
  background: url(../images/activites/justPhoto.png);;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  width: 47.4%;
}

.activity-image:before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 65%;
}