.blog {
  padding-top: 108px;

  padding-bottom: 112px;
}

.blogs-grid {
  font-size: 0;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.blog-item {
  width: 31.6%;
}
.blog-item:nth-child(2){
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.blog-image {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blog-image:before {
  content: '';
  display: block;
  padding-top: 63.15%;
  width: 100%;
}

.blog-data {
  position: absolute;
  width: 60px;
  top: 67%;
  left: -3.6%;
  background: #95e1d3;
  padding: 12px 15px 28px;
  color: white;
}


.blog-data p:nth-child(odd) {
  font-family: $montserrat;
  font-size: 30px;

}

.blog-data p:nth-child(even) {
  position: absolute;
  font-family: $robotoLightItalic;
  font-size: 15px;
}

.blog-item h4 {
  margin-top: 18px;
  font-family: $montserrat;
  font-size: 14px;
  color: #333;
}

.blog-popularity {
  margin-top: 16px;
  padding: 14px 0 0 0;
  /* margin-bottom: 6px; */
  font-size: 15px;
  color: #999;
  line-height: 24px;
  border-top: 1px solid #e5e5e5;
}

.blog-item p:nth-child(3n) {
  color: #999;
  font-family: $robotoLightItalic;
  font-size: 15px;
  line-height: 1.6;
  margin: 13px 0 0;

}
.blog-popularity span:first-child{
  margin-right: 10px;
}
.blog-popularity span:first-child:before {

  content: '';
  display: inline-block;
  margin-right: 7px;
  vertical-align: middle;
  background-image: url(../images/blog/watch-icon.png);
  width: 20px;
  height: 12px;

}

.blog-popularity span:last-child:before {
  content: '';
  display: inline-block;
  margin-right: 7px;
  vertical-align: middle;
  background-image: url(../images/blog/comment-icon.png);
  width: 16px;
  height: 14px;
}
