.quote-person{
  padding-top: 100px;
  padding-bottom: 120px;
}
.quote-slider {
  background: #f8f8f8;
  padding-top: 79px;
  padding-bottom: 69px;

  //padding-bottom: 1px;
}
.quote-person{
  padding-top: 100px;
  padding-bottom: 120px;
}
.bx-wrapper img{
  display:block;
  max-width: 100%;
}
.quote-image{

  float: left;
  margin-right: 39px;
}
.quote-text{
  float: left;
  width: 80.6%;
}
.quote-statment{
  margin-bottom: 15px;
  font-size: 23px;
  font-family: "RobotoLightItalic",sans-serif;
  color: #999;
  line-height: 37px;

}
.quote-author{
  font-size: 26px;
  color: #333;
  font-family: $kaushan;
}
.quote-author:before{
  content: '';
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
  width: 60px;
  height: 3px;
  background: #f38181;
}
.quote-wrapper {
  width:68%
}
.quote-person-image{
    border-radius: 50%;

  width: 22%;
  float: left;
  margin-right: 30px;
}
.quote-person-text{
  float: left;
  width: 74%;
}
.quote-person-text p:first-child {

  margin-top: 33px;

}
