.team {
  padding-top:50px;
  padding-bottom:30px;
}
.team-photos-grid {
  margin-top: 98px;
  text-align: center;
}

.team-photo {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 31.6%;
  transition: .4s;
  display: inline-block;
  position: relative;

  margin-left: 8px;
  margin-right:8px;
  //position: relative;

}
.team-photo:before{
  content: '';
  display: block;
  width: 100%;
  padding-top: 123%;
}
.team-effect {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.team-icons {
  padding-top: 102px;
  text-align: center;
  display: none;
}

.team-photo:hover {
  transition: 0.5s;
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px #95e1d3;
  .team-icons {
    //display: block; <--- here
  }
}

.team-effect p {
  font-family: $montserratBold;
  font-size: 18px;
  color: #fff;
}

.team-effect:hover {
  background: linear-gradient(to bottom, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
  transition: 0.4s;

}

