
.team-photos-grid {
  margin-top: 98px;
}

.team-photo {
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  width: 31.333%;
  display: inline-block;
  background: url(../images/team/dev.png) 100% 100% no-repeat;
  background-size: cover;
  height: 450px;
  //position: relative;

}

.team-effect {
  width: 100%;
  height: 100%;
  position: absolute;
}

.team-icons {
  padding-top: 102px;
  text-align: center;
  display: none;
}

.team-photo:hover {
  transition: 0.5s;
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px #95e1d3;
  .team-icons {
    //display: block; <--- here
  }
}

.team-effect p {
  font-family: $montserratBold;
  font-size: 18px;
  color: #fff;
}

.team-effect:hover {
  background: linear-gradient(to bottom, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
  transition: 0.4s;

}

