.services {
	padding: 108px 0 118px;

	.separator {
		width: 100%;
		border-top: 1px solid $color-separator;
		margin-top: 47px;
		margin-bottom: 49px;
		padding: 0;
	}
}

.services-content .services-row {
	display: flex;
	justify-content: center;
	padding-top: 46px;

	&:first-child {
		padding-top: 26px;
		border-bottom: 1px solid $color-separator;
		padding-bottom: 49px;
	}
}


.services-cell {
	width: 33%;
	padding-left: 2.5%;
	
	img {
		float: left;
		padding-top: 2px;
		padding-right: 29px;
	}
}

.service-info {
	float: left;
	width: 74%;

	h6 {
		color: $color-dark-grey;
		font-family: $font-montserrat;
		font-size: 14px;
		font-weight: 500;
		margin: 0;
		text-transform: uppercase;
	}

	p {
		color: #b3b3b3;
		font-family: $font-roboto;
		font-size: 15px;
		line-height: 1.58;
		margin: 0;
		padding-top: 12px;
	}
}

@media screen and(max-width: 1024px) {
	.services {
		padding: 60px 0 60px;
	}

	.service-info{
		h6 {
			font-size: 12px;
		}

		p {
			font-size: 13px;
		}
	}
}

@media screen and(max-width: 838px) {
	.services-cell img {
		padding-bottom: 10px;
	}
}

@media screen and(max-width: 460px) {
	.services {
		padding-top: 30px;
		padding-bottom: 0;

		.services-row {
			display: inline-block;
			width: auto;
			padding-top: 0;
		}

		.services-cell {
		    width: 90%;
		    margin: 0 auto;
		    padding-left: 0;
		    padding-bottom: 20px;
		    padding-top: 20px;
		    border-top: 1px solid $color-separator;
		}
	}

	.services-content .services-row:first-child {
		border: none;
		padding-bottom: 0;
	}
}
