.work {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	padding-top: 110px;

	.description {
		padding-top: 5px;
		width: 73%;
	}
}

.work-gallery {
	padding-top: 100px;
}

.work-image {	
	width: 25%;
	float: left;
	position: relative;
	transition: .4s;

	&::before {
		content: '';
		display: block;
		padding-top: 81.25%;
		width: 100%;
	}

	&:hover {
		cursor: pointer;

		.overlay {
			z-index: 1;
			opacity: 0.92;
		}
	}

	&.large:before {
		content: '';
		display: block;
		padding-top: 162.5%;
		width: 100%;
	}
}


.gallery-group {
	float: left; 
	width: 50%;

	.work-image {
		width: 50%;
	}
}

.work-image {
	&.large {
		.overlay {
			img {
				padding-top: 70%;
			}
		}
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		background: -moz-linear-gradient(90deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
		background: -webkit-linear-gradient(90deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
		background: -o-linear-gradient(90deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
		background: -ms-linear-gradient(90deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
		background: linear-gradient(0deg, rgba(235,212,131,1) 0%, rgba(229,126,126,1) 100%);
		text-align: center;
		transition: .7s;
		z-index: -1;

		img {
			padding-top: 25%;
		}

		h6 {
			color: $color-white;
			font-family: $font-montserrat;
			font-size: 14px;
			font-weight: 300;
			margin: 0;
			padding-top: 19px;
			text-transform: uppercase;
		}

		p {
			margin: 0;
			color: $color-white;
			font-family: $font-roboto;
			font-size: 15px;
			font-style: italic;
			font-weight: 300;
			padding-top: 17px;
		}
	}
}

@media screen and(max-width: 1024px) {
	.work {
		padding-top: 60px;
	}
	
	.work-image .overlay img {
		padding-top: 20%;
	}
}

@media screen and(max-width: 740px) {
	.work-image {
		&.large {
			.overlay {
				img {
					padding-top: 50%;
				}
			}
		}

		.overlay {
			img {
				width: 10%;
				padding-top: 10%;
			}
			
			h6 {
				font-size: 13px;
			}
			
			p {
				font-size: 14px;
			}
		}
	}
}

@media screen and(max-width: 660px) {
	.work-gallery {
		.gallery-group {
			width: 100%;
		}

		.work-image {
			width: 50%;
		}
	}

	.work-image .overlay {
		img {
			width: 15%;
		}

		h6 {
			font-size: 12px;
		}

		p {
			font-size: 13px;
		}
	}
}

@media screen and(max-width: 460px) {
	.work {
		padding-top: 30px;
	}

	.work-image .overlay {
		h6 {
			padding-top: 8px;
			font-size: 11px;
		}

		p {
			padding-top: 8px;
			font-size: 12px;
		}
	} 
}
