/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
$color : #432422;
$yellow: rgba(252,227,138,0.8);
$red: 	 rgba(243,129,129,0.8);
$blue:	 #95e1d3;
$h-color:#333333;
$qoute-bg: #f8f8f8;
$p-color:   #999999;
$white:	 #ffffff;
$gradient: linear-gradient(to top, $yellow 0%,$red 100%);
$white-gradient:linear-gradient( rgba(255,255,255,0.85),rgba(255,255,255,0.85) );
$white-line : 3px solid $white;
$red-line : 3px solid $red;
$grey: #adadad;





*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	margin: 0 auto;
	text-align: center;
} 

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 10.5em;
	color: $white;
	text-transform: uppercase;
	max-width: 1000px;
	margin: 0 auto;
	line-height: 170px;

}

h2{
	font : {
		family: 'Kaushan Script', cursive;
		size: 72px;
	}
	color: $white;
}

h3{
	font : {
		family: 'Montserrat', sans-serif;
		size: 30px;
		weight: bold;
	}
	text-transform: uppercase;
	color: $h-color;
}

h4{
	font : {
		family: 'Kaushan Script', cursive;
		size : 24px;
	}
	color: $h-color;
}

h5{
	font : {
		family: 'Montserrat', sans-serif;
		size: 14px;
	}
	color: $white;
	text-transform: uppercase;
}

p{
	color: $p-color;
	font : {
		family: 'Roboto', sans-serif;
		size : 15px;
	}
}

.dash{
	&:after{
		content:"";
		height: 3px;
		width: 60px;
		display: block;
		margin: 0 auto;
		background-color: yellow;
	}
}

.pointer{
	width:12px;
	height:22px;
}

.button{
	display: inline-block;
	border:$white-line;
	color: $white;	
}


%hover-style{
	transform: translate(-10px, -10px);
}


.header-box{
	line-height: 1.5;
	&:after{
			content:"";
			height: 3px;
			width: 60px;
			display: block;
			margin: 0 auto;
			background-color: $red;
			margin: 35px auto;
	}
}


.gradient-hover{
	background-image: $gradient , url("../img/banner-bg.png") ;
	.content{
		hidden : true;
	}
}

// BANNER


.banner{

	background-image: $gradient , url("../img/banner-bg.png") ;
	background-size: cover;
	padding-bottom: 25px;
	background-position: center;

	.top-navbar{

		margin: 0 auto;
		padding-top: 23px;
		max-width: 62.5%;

		&:after{
			content:"";
			display: block;
			height: 0;
			clear : both;
			overflow: hidden;
		}

		h3{
		    color: $white;
			float: left;
			text-transform: none;
			
		}

		ul{
			display: flex;
			width: 52.16%;
			text-transform: uppercase;
			float: right;
			margin-top: 10px;

			li{
				margin-right: 6%;
				display: inline;
				&:last-child{
					margin-right: 0px;
				}	

				a{
					font-size: 14px;
					text-decoration: none;
					color: $white;

					&:hover {
						border-bottom: 2px solid $yellow;
					}
				}	
			}
		}
	}	


	header.dash{
		padding-top:7.81%;
		h1{
			padding-top: 20px;
			line-height:1;
		}

		&:after{
			height: 3px;
			width: 60px;
			display: block;
			margin: 49px auto;
			background-color: $white;
		}
	}

	a.banner-button{
		display: inline-block;
		padding: 10px 30px;
		text-transform: uppercase;
		margin-bottom: 2.63%;		
		&:hover{
				background: $red;
				font-color: $white;
		}	
	}
	
	ul{	
		
		li{
			text-transform: uppercase;
			display: inline-block;
			text-align: left;
			width: 14.58%;
			margin-right: 1.5625%;

			&:last-child{margin-right: 0}
		
			.bottom-navbar-menu	{
				width: 100%;
				height: 3px;
				margin-bottom:20px;
			}	
		
			.intro:hover{
				background-image: linear-gradient(to right, $red, $red 25% ,  $white 1%);	
			}

			.work:hover{
				background-image: linear-gradient(to right, $red, $red 50% ,  $white 1%);
			}

			.about:hover{
				background-image: linear-gradient(to right, $red, $red 75% ,  $white 1%);
			}

			.contacts:hover{
				background-image: linear-gradient(to right, $red, $red 100% ,  $white 1%);
			}

			.default{
				background: $white;
			}

			


			a{
				text-decoration: none;
				color: $white;
				display: inline-block;
				text-align: left;

				span{
					font-size: 18px;
					color: $white;
					display: inline-block;
				}

			}
		}
	}	
	

}


// ABOUT-US


.about-us{
	text-align: center;
	padding-top:95px;
	padding-bottom: 105px;


	p {
		
		padding-bottom: 110px;
		width: 51.04%;
		margin: 0 auto;
		line-height: 1.5;
	}


	.content {

		margin: 0 auto;
		max-width: 1200px;
		display: flex;
		flex-direction:row;
		justify-content: space-between;
		flex-wrap: wrap;
		font-size:0;


		.photo {
			font-size: 0;
			background: $blue;
			background-size: cover;
			flex-direction: row;
			background: $blue;
			width:31.6%;
			height: 250px;
			
			a{
				position: relative;
				float: left;
				background: $red;
				
				span{
					display:none;
					background: $gradient, url("../img/icons/") no-repeat;
					width:380px;
					height: 250px;
					position:absolute;
					left:-10px; 
					top:-10px;


					img{
						position: absolute;
						left: 50%;
						top: 100px;
					}

					p{
						position: absolute;
						left: 45%;
						top: 115px;
						font-size:18px;
						color:$white;
					}				
				}
			}

		

			a:hover {
				display:block; 
			}  

			

			
		}
	}

	.photo:hover a{
		background-position: -20px -20px;
	}
}



// FACTS
.facts {

	width: 100%;
	height: 270px;
	background-color: $blue;
	margin: 0 auto;
	text-align: center;

		.dire{
			height: 100%;	
		  	width: 100%;
			margin: 0 auto;
	
			.fact{
				width: 12.5%;
				vertical-align: top;
				height: 100%;
			    background: $blue;
				display: inline-block;
				border-right: 1px solid $white;
		
				.fact-information{
					    position: relative;
   						top: 26%;
					
					.number {
						color: $white;
						font-size: 72px;
						font-weight: bold;
					}

					h5{
						display: inline-block;
					}
				}
			}
		}
	}

// SERVICE

.service{
	padding-top: 100px;
	padding-bottom: 30px;
	text-align: center;
	margin: 0 auto;


	.container{
		padding-top: 20px;
		display: flex;
		max-width: 1185px;
		flex-wrap: wrap;
		margin: 0 auto;
		justify-content: space-between;


		.service{
			margin: 0;
			margin-left: 25px;
			margin-bottom: 88px;
			display:inline-block;
			max-width:1200px;
			padding:0px;
			

			img{
				display:inline-block;
				vertical-align: top;
				
			}

			.service-information{
				margin-left: 30px;
				text-align:left;
				display:inline-block;
				max-width:290px;
			
				h5{
					color: $h-color;
					padding-bottom: 5px;
				}	

				p{
					line-height:2;
					
				}
			}
		}
	}
}

// FEATURE

.feature{
	background-position: center;
	padding-top: 105px;
	text-align:center;
	background-image:$white-gradient, url("../img/images/feature-bg.png") ;
	background-size: cover;
	background-color: $white;

	img{
		margin-top:-1.56%;
	}

	.iphone{
		position: absolute;
		margin-bottom: -2.08%;
	}


	
}


// SERVICE2


.service2{
	text-align: center;
	max-width:1300px;
	margin: 0 auto;	
	// padding-top: 110px;
	height: 890px;
	
}


// QUOTE


.quote{
	height: 290px;
	background: $qoute-bg;

	.quote-container{
		max-width:1200px;
		display:flex;
		text-align: center;
		margin: 0 auto;
		align-items: center;
		justify-content: space-around;
		padding-top: 70px;

		

		.quote-content {

			margin-left:80px;

			.message-icon{
				display: inline-block;
				border: 3px solid $blue;
				padding: 40px;
				margin-right: 60px;
				
			}

			.quote-mes{
				display: inline-block;
				line-height:1.5;
				
				p{
					text-align: left;
					max-width:850px;
					color: $grey;
					font-size: 24px;
					padding-bottom: 10px;
				}
				
				h4:after{
					content: "";
				    height: 3px;
				    width: 60px;
				    display: block;
				    margin: 0 auto;
				    background-color: $red;
				    float:left;
				    margin-top: 15px;
				    margin-right:10px;
				}
				
				h4{
					float: left;
				}
			}
		}
	}
}





// OURTEAM


.ourteam{
	
	padding-top:90px;
	padding-bottom:115px;

	p.content{
		margin: 0 auto;
		max-width: 1300px;
		margin-top: 35px;
		margin-bottom:90px;
		line-height: 1.5;
	}
	
	.ourteam-photo{

		.person {

			display:inline-block;
			margin-right: 30px;
				&:last-child{
					margin-right: 0px;
				}

			.photo{
				font-size: 0;
				background: $blue;
				width:380px;
				height: 470px;
				
				a{
					position: relative;
					float: left;
					background: $red;
				
					span{
						width:380px;
						height: 470px;
						display:none;
						background: $gradient, url("../img/icons/") no-repeat;
						position:absolute;
						left:-10px; 
						top:-10px;
					}
				}

				a:hover span{
					display:block; 
					img{
						position:absolute;
						left:20px;
					}
				}  


				// img{
					
				// 	&:hover{
				// 		@extend %hover-style;
				// 		background-image: $gradient;

				// 	}
				// }
			}

			p{
				margin: 0 auto;
			}

			h5{

				padding-bottom:10px;
				padding-top:20px;
				color: $h-color;
			}
			
		}
	}
}


// LOGOS



.logos{
	display: flex;
	align-items: center;
	background: $qoute-bg;
	height: 250px;

	.logos-container{
		width: 100%;
		display: flex;
		margin: 0 auto;
		max-width: 1200px;
		align-items: center;
		justify-content: space-between;
		
	}
}

.work{
	padding-top:105px;
	
	p{	
		margin: 0 auto;
		max-width: 1300px;
	}

	img{
		float:left;
	}

	
}


.testimonial{
	clear: both;

	.quote-container{
		max-width:1200px;
		display:flex;
		text-align: center;
		margin: 0 auto;
		align-items: center;
		justify-content: space-between;
		padding-top: 70px;

		

		.quote-content {

			margin-left:80px;

			.avatar{

				margin-right: 30px;
				display: inline-block;
				height: 200px;
				width: 200px;
				overflow: hidden;
				border-radius: 50%;
			}

			.quote-mes{
				display: inline-block;
				line-height:1.5;
				vertical-align:bottom;
				
				p{
					text-align: left;
					max-width:850px;
					color: $grey;
					font-size: 24px;
					padding-bottom: 10px;
				}
				
				h4:after{
					content: "";
				    height: 3px;
				    width: 60px;
				    display: block;
				    margin: 0 auto;
				    background-color: $red;
				    float:left;
				    margin-top: 15px;
				    margin-right:10px;
				}
				
				h4{
					float: left;
				}
			}
		}
	}
}



// WHATPEOPLESAY



.whatpeople{
	background-image:$white-gradient, url("../img/images/whatpeoplesay-bg.png") ;
	h5{
		color: $h-color;
	}
	
	.container{
		
		max-width:1300px;
		margin: 0 auto;
		
		

		.row{
			min-width: 630px;
			float:left;
			margin:0;
			.avatar{
				display:inline-block;	
			}

			.row-content{
				text-align:left;
				display:inline-block;				

				p.position{
					text-align:left;

				}

				p.review{
					max-width:390px;
				}

				p.review:after{
					content: "";
				    height: 3px;
				    width: 60px;
				    display: block;
				    margin: 0 auto;
				    background-color: $red;
				    float:left;
				    margin-top: 15px;
				    margin-right:10px;
				}
			}
		}
	}

	.container:after{
		content:"";
		clear:both;
		display:block;
	}
}


// BLOG


.blog{
	clear:both;
	.articles{
		article{
			float:left;

			.photo{
				width: 380px;
				height: 240px;
			}

			.date{
				width: 60px;
				height: 70px;
				background-color: $blue;
				p{
					color: $white;
				}
			}

			h5{
				color: $h-color;
			}
		}
		
	}
}

.map{
	width:100%;
	clear:both;
	background: $white-gradient,  url("../img/images/map.png") no-repeat;
	background-size: contain;
	height: 200px;

	.header-box{
		h5{
			color: $red;
		}
		padding-top:2.86%;
	}
	
}


.footer{
	.container{



	.blogs{
		h5{
			color: $h-color;
		}
	}

	}
}