/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
$color : #432422;
$yellow: rgba(252,227,138,0.8);
$red: 	 rgba(243,129,129,0.8);
$blue:	 #95e1d3;
$h-color:#333333;
$qoute-bg: #f8f8f8;
$p-color:   #999999;
$white:	 #ffffff;
$gradient: linear-gradient(to top, $yellow 0%,$red 100%);
$white-gradient:linear-gradient( rgba(255,255,255,0.85),rgba(255,255,255,0.85) );
$white-line : 3px solid $white;
$red-line : 3px solid $red;
$grey: #adadad;





*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	margin: 0 auto;
	text-align: center;
} 

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 10.5em;
	color: $white;
	text-transform: uppercase;
	max-width: 1000px;
	margin: 0 auto;
	line-height: 170px;

}

h2{
	font : {
		family: 'Kaushan Script', cursive;
		size: 72px;
	}
	color: $white;
}

h3{
	font : {
		family: 'Montserrat', sans-serif;
		size: 30px;
		weight: bold;
	}
	text-transform: uppercase;
	color: $h-color;
}

h4{
	font : {
		family: 'Kaushan Script', cursive;
		size : 24px;
	}
	color: $h-color;
}

h5{
	font : {
		family: 'Montserrat', sans-serif;
		size: 14px;
	}
	color: $white;
	text-transform: uppercase;
}

p{
	color: $p-color;
	font : {
		family: 'Roboto', sans-serif;
		size : 15px;
	}
}

a{
	text-decoration: none;
}

.dash{
	&:after{
		content:"";
		height: 3px;
		width: 60px;
		display: block;
		margin: 0 auto;
		background-color: yellow;
	}
}

.pointer{
	width:12px;
	height:22px;
}

.button{
	display: inline-block;
	border:$white-line;
	color: $white;	
}


%hover-style{
	transform: translate(-10px, -10px);
}


.header-box{
	line-height: 1.5;
	&:after{
			content:"";
			height: 3px;
			width: 60px;
			display: block;
			margin: 0 auto;
			background-color: $red;
			margin: 35px auto;
	}
}


.gradient-hover{
	background-image: $gradient , url("../img/banner-bg.png") ;
	.content{
		hidden : true;
	}
}

%clearfix{
	content:"";
	display: block;
	height: 0;
	clear : both;
	overflow: hidden;
}


.photo{
	background-size: cover;
	background-position: center;
}


// BANNER


.banner{
	padding:0 18.75%;
	background-image: $gradient , url("../img/banner-bg.png") ;
	background-size: cover;
	padding-bottom: 25px;
	background-position: center;

	.top-navbar{

		padding-top: 23px;
		

		&:after{
			@extend %clearfix;
		}

		a{
			font : {
				family: 'Montserrat', sans-serif;
				size: 30px;
				weight: bold;
			}
		    color: $white;
			float: left;
			
		}

		ul{
			
			text-transform: uppercase;
			margin-top: 10px;
			position: relative;
			left:  21.1%;
			li{
				margin-right:  4.1%;
				&:last-child{
					margin-right: 0px;
				}	

				a{
					font-size: 14px;
					text-decoration: none;
					color: $white;

					&:hover {
						border-bottom: 2px solid $yellow;
					}
				}	
			}
		}
	}	

	ul{	
		li{
			text-transform: uppercase;
			display: inline-block;			
		}
	}


	header.dash{
		padding-top:12.91%;
		h1{
			padding-top: 20px;
    		line-height: 0.97;
		}

		&:after{
			height: 3px;
			width: 60px;
			display: block;
			margin: 52px auto;
			background-color: $white;
		}
	}

	a.banner-button{
		display: inline-block;
		padding: 10px 30px;
		text-transform: uppercase;
		margin-bottom: 13%;		
		&:hover{
			background: $red;
			font-color: $white;
			box-shadow: 5px 5px $grey;
			transition: box-shadow 0.1s;
		}	
	}
	
	ul.bottom-navbar-list{	
		
		li{
			border-top: 3px solid $white;
			text-transform: uppercase;
			display: inline-block;
			text-align: left;
			width: 22%;
			margin-right: 2.5%;
			padding-top:20px;

			&:last-child{margin-right: 0}

			&:before{
				position: relative;
				top:-23px;
				content: "";
				width: 100%;
				height: 3px;
				background: $white;
				display: block;
				
			}

			&.intro:hover:before{
				background: $red;
				width:25%;
			}

			&.work:hover:before{
				background: $red;
				width:50%;
			}

			&.about:hover:before{
				background: $red;
				width:75%;
			}

			&.contacts:hover:before{
				background: $red;
				width:100%;
			}

			a{
				text-decoration: none;
				color: $white;
				display: inline-block;
				text-align: left;

				span{
					font-size: 18px;
					color: $white;
					display: inline-block;
				}

			}
		}

		
	}
		
}			



// ABOUT-US


.about-us{
	padding: 0 18.75%;
	text-align: center;
	padding-top:85px;
	padding-bottom: 105px;

	p {
		padding-bottom: 105px;
		width: 80%;
		margin: 0 auto;
		line-height: 1.5;
	}


	.content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		a {
			
			width:31%;
			
			.photo{
				width: 100%;
				background-size: cover;		
				height: 250px;
				
				span{
					width: 100%;
					height:100%;
					display:none;
					background: $gradient, url("../img/icons/") no-repeat;
					
					img{
						position: absolute;
						left: 45%;
   						top: 40%;
					}

					p{
						position: absolute;
						left: 10%;
   						top: 50%;
						font-size:18px;
						color:$white;
					}				
				}
			}

		

			&:hover  {
				box-shadow: 10px 10px 0 $blue;
  				transform: translateY(-10px);
							  
			}  	

			&:hover span{
				display: block;
			}
		}
	}
}






// FACTS
.facts {

	width: 100%;
	height: 270px;
	background-color: $blue;
	margin: 0 auto;
	text-align: center;

		.dire{
			// height: 100%;	
		 //  	width: 100%;
			// margin: 0 auto;
	
			.fact{
				padding: 70px 0px 90px 0;
				width: 12.5%;
				display: inline-block;
				border-right: 1px solid $white;
		
							
				p {
					color: $white;
					font-size: 72px;
					font-weight: bold;
				}

				h5{
					padding-top: 10px;
					display: inline-block;
				}
				
			}
		}
	}

// SERVICE

.service{
	padding: 0 18.75%;
	padding-top: 110px;
	padding-bottom: 30px;
	text-align: center;
	margin: 0 auto;


	.container{
		padding-top: 25px;
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		justify-content: space-between;


		.service{
			margin: 0;
			margin-left: 25px;
			margin-bottom: 88px;
			display:inline-block;
			max-width:1200px;
			padding:0px;
			

			img{
				display:inline-block;
				vertical-align: top;
				
			}

			.service-information{
				margin-left: 30px;
				text-align:left;
				display:inline-block;
				max-width:290px;
			
				h5{
					color: $h-color;
					padding-bottom: 5px;
				}	

				p{
					line-height:2;
					
				}
			}
		}
	}
}

// FEATURE

.feature{
	background-position: center;
	padding-top: 100px;
	background-image:$white-gradient, url("../img/images/feature-bg.png") ;
	background-size: cover;

	.screen{
		position: relative;
		left: 4%;
	}

	.iphone{
		position: relative;
	    top: 58px;
	    right: 1%;
	}


	
}


// SERVICE2


.service2{
	padding: 0 18.75%;
	text-align: center;
	margin: 0 auto;	
	padding-top: 110px;
	height: 890px;

	p.title{
		width: 80%;
		margin: 0 auto;
		line-height: 1.5;
	}

	.service2-container{
		margin-top: 95px;

		.service2-image{
			width:47.5%;
			background-size: cover;
			height: 380px;
			display: inline-block;
			margin-right: 2%
		
		}

		#accordion{
			display: inline-block;
			width: 50%;
			vertical-align: top;


			.accordion-title{
				border: 1px solid $p-color;
				text-align: left;
				width: 100%;
				margin-bottom: 10px;

				img{
					padding: 2%;
				}

				.title{
					display:inline-block;
					margin-top: 3%;
					vertical-align: top;
					text-transform: uppercase;
				}

				.pointer{
					display: inline-block;
				}


				p{
					width: 100%;
				}
				
				.pointer{
					display: inline-block;
				}

				.accordion-content{
					padding: 10px;
					display:none;
					height: 160px;
					width: 97%;
					overflow: scroll;
					border-top: 1px solid $p-color;

					p{
						height: 100%;
					}
				}
			}




			.accordion-title.active > .accordion-content{
				display: block;
			}
		}
	}
	
}


// QUOTE


.quote{
	height: 290px;
	background: $qoute-bg;

	.quote-container{
		max-width:1200px;
		display:flex;
		text-align: center;
		margin: 0 auto;
		align-items: center;
		justify-content: space-around;
		padding-top: 70px;

		

		.quote-content {

			margin-left:80px;

			.message-icon{
				display: inline-block;
				border: 3px solid $blue;
				padding: 40px;
				margin-right: 60px;
				
			}

			.quote-mes{
				display: inline-block;
				line-height:1.5;
				
				p{
					text-align: left;
					max-width:850px;
					color: $grey;
					font-size: 24px;
					padding-bottom: 10px;
				}
				
				h4:after{
					content: "";
				    height: 3px;
				    width: 60px;
				    display: block;
				    margin: 0 auto;
				    background-color: $red;
				    float:left;
				    margin-top: 15px;
				    margin-right:10px;
				}
				
				h4{
					float: left;
				}
			}
		}
	}
}





// OURTEAM


.ourteam{
	padding: 0 18.75%;
	padding-top:90px;
	padding-bottom:115px;

	p.content{
		margin: 0 auto;
		margin-top: 35px;
		margin-bottom:90px;
		line-height: 1.5;
	}
	
	.ourteam-photo{

		.person {
		    width: 31%;
		    display: inline-block;
		    margin-right: 2.5%;
			&:last-child{
				margin-right: 0px;
			}

			a{
				display: block;
				width: 100%;
				.photo{
					font-size: 0;
					width:100%;
					height: 470px;
				
					span{
						width:100%;
						height: 100%;
						display:none;
						background: $gradient;

					}
				}

				&:hover{
					box-shadow: 10px 10px $blue;
					transform: translateY(-10px);
				}

				&:hover span{
					display:block;

				}

			}



			p{
				margin: 0 auto;
			}

			h5{

				padding-bottom:10px;
				padding-top:20px;
				color: $h-color;
			}
		}
	}
}


.icon-container{
	
	img{
		padding:5%;
		background: $yellow;
	}

	.hover-icon{
		height: 20px;
		width: 20px;
		display: inline-block;
	}
}


// LOGOS



.logos{
	display: flex;
	align-items: center;
	background: $qoute-bg;
	height: 250px;

	.logos-container{
		width: 100%;
		display: flex;
		margin: 0 auto;
		max-width: 1200px;
		align-items: center;
		justify-content: space-between;
		
	}
}

.work{
	padding-top:105px;
	
	p{	
		margin: 0 auto;
		max-width: 1300px;
	}


	.works-left{
		float:left;
		width:50%;
		font-size:0;
		img{
			display:inline-block;
			width: 50%;
		}
	}

	img{
		float: left;
		width: 25%;
	}

	.works-right{
		width: 25%;
		float: left;
		font-size:0;
		
		img{				
			float:left;
			width: 100%;
			clear: both
		}
	}	
}


.testimonial{
	clear: both;

	.quote-container{
		max-width:1200px;
		display:flex;
		text-align: center;
		margin: 0 auto;
		align-items: center;
		justify-content: space-between;
		padding-top: 70px;

		

		.quote-content {

			margin-left:80px;

			.avatar{

				margin-right: 30px;
				display: inline-block;
				height: 200px;
				width: 200px;
				overflow: hidden;
				border-radius: 50%;
			}

			.quote-mes{
				display: inline-block;
				line-height:1.5;
				vertical-align:bottom;
				
				p{
					text-align: left;
					max-width:850px;
					color: $grey;
					font-size: 24px;
					padding-bottom: 10px;
				}
				
				h4:after{
					content: "";
				    height: 3px;
				    width: 60px;
				    display: block;
				    margin: 0 auto;
				    background-color: $red;
				    float:left;
				    margin-top: 15px;
				    margin-right:10px;
				}
				
				h4{
					float: left;
				}
			}
		}
	}
}



// WHATPEOPLESAY



.whatpeople{
	background-image:$white-gradient, url("../img/images/whatpeoplesay-bg.png") ;
	h5{
		color: $h-color;
	}
	
	.container{
		
		max-width:1300px;
		margin: 0 auto;
		
		

		.row{
			min-width: 630px;
			float:left;
			margin:0;
			.avatar{
				display:inline-block;	
			}

			.row-content{
				text-align:left;
				display:inline-block;				

				p.position{
					text-align:left;

				}

				p.review{
					max-width:390px;
				}

				p.review:after{
					content: "";
				    height: 3px;
				    width: 60px;
				    display: block;
				    margin: 0 auto;
				    background-color: $red;
				    float:left;
				    margin-top: 15px;
				    margin-right:10px;
				}
			}
		}
	}

	.container:after{
		content:"";
		clear:both;
		display:block;
	}
}


// BLOG


.blog{
	clear:both;
	.articles{
		article{
			float:left;

			.photo{
				width: 380px;
				height: 240px;
			}

			.date{
				width: 60px;
				height: 70px;
				background-color: $blue;
				p{
					color: $white;
				}
			}

			h5{
				color: $h-color;
			}
		}
		
	}
}

// MAP

.map{
	width:100%;
	clear:both;
	background: $white-gradient,  url("../img/images/map.png") no-repeat;
	background-size: cover;
	background-position: center;
	height: 200px;

	.header-box{
		h5{
			color: $red;
		}
		padding-top:2.86%;
	}
	
}


.footer{
	.container{



	.blogs{
		h5{
			color: $h-color;
		}
	}

	}
}