<section class="about">
	<div class="content">
		<div class="section-title">
			<p>What we do</p>
			<h2>Story about us</h2>
		</div>
		<p class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		</p>
		<ul class="gradient-gallery about-gallery">
			<li><a class="overlay" href="#">
					<div class="about-img"></div>
					<div class="gallery-content">
						<span class="users-icon">super team</span>
					</div>					
				</a>
			</li>
			<li><a class="overlay" href="#">
					<div class="about-img"></div>
					<div class="gallery-content">
						<span class="users-icon">super team</span>
					</div>					
				</a>
			</li>
			<li><a class="overlay" href="#">
					<div class="about-img"></div>
					<div class="gallery-content">
						<span class="users-icon">super team</span>
					</div>					
				</a>
			</li>
		</ul>
	</div>
</section>