<section class="blog">
	<div class="content">
		<div class="section-title">
			<p>Our stories</p>
			<h2>Latest blog</h2>
		</div>
		<ul class="blog-list">
			<li>
				<a href="#" class="blog-img">
					<img src="img/blog-1.jpg">
					<div class="blog-date"><p>15</p>Jan</div></a>
				<div class="blog-info">
					<h3>Lorem ipsum dolor sit amet</h3>
					<p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<div class="blog-comments">
					<div class="views"><span>542</span></div>
					<div class="comments"><span>17</span></div>
				</div>
			</li>
			<li>
				<a href="#" class="blog-img">
					<img src="img/blog-2.jpg">
					<div class="blog-date"><p>14</p>Jan</div></a>
				<div class="blog-info">
					<h3>sed do eiusmod tempor</h3>
					<p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<div class="blog-comments">
					<div class="views"><span>992</span></div>
					<div class="comments"><span>42</span></div>
				</div>
			</li>
			<li>
				<a href="#" class="blog-img">
					<img src="img/blog-3.jpg">
					<div class="blog-date"><p>12</p>Jan</div></a>
				<div class="blog-info">
					<h3>incididunt ut labore et dolore</h3>
					<p>Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<div class="blog-comments">
					<div class="views"><span>1560</span></div>
					<div class="comments"><span>98</span></div>
				</div>
			</li>
		</ul>
	</div>
</section>