<header class="banner">
	<div class="content">
		<div class="navigation-container">
			<div class="site-logo">
				<a href="`#">MoGo</a>
			</div>
			<div class="navigation">
				<ul class="navigation-icons">
					<li><a href="#" class="shop-icon"></a></li>
					<li><a href="#" class="search-icon"></a></li>	
				</ul>
				<nav class="navigation-list">
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">service</a></li>
						<li><a href="#">work</a></li>
						<li><a href="#">blog</a></li>
						<li><a href="#">contact</a></li>
					</ul>
				</nav>
			</div>
			<div class="responsive-nav" id="responsive-nav">
				<div class="burger-icon" id="burger-icon"></div>
				<ul class="responsive-nav-list" id="responsive-nav-list">
					<li><a href="javascript:void(0)"><div class="close-icon" id="close-icon"></div></a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">service</a></li>
					<li><a href="#">work</a></li>
					<li><a href="#">blog</a></li>
					<li><a href="#">contact</a></li>
				</ul>
			</div>
		</div>
		<div class="banner-title">
			<div class="title-container">
				<h1 class="styled-title">Creative Template</h1>
				<h2 class="normal-title">Welcome to MoGo</h2>
			</div>
			<div class="learn-more">
				<a href="#" class="btn">Learn more</a>
			</div>			
		</div>
		<div class="banner-slider">
			<ul>
				<li class="active">
					<div class="progress-bar"></div>
					<div class="banner-slider-desc"><span>01</span> Intro</div>
				</li>
				<li>
					<div class="progress-bar"></div>
					<div class="banner-slider-desc"><span>02</span> Work</div>
				</li>
				<li>
					<div class="progress-bar"></div>
					<div class="banner-slider-desc"><span>03</span> About</div>
				</li>
				<li>
					<div class="progress-bar"></div>
					<div class="banner-slider-desc"><span>04</span> Contacts</div>
				</li>
			</ul>
		</div>
	</div>
</header>