<section class="reviews">
	<div class="content">
		<div class="section-title">
			<p>Happy Clients</p>
			<h2>What people say</h2>
		</div>
		<ul class="reviews-list">
			<li>
				<div class="person-img"><img src="img/review-1.png"></div>
				<div class="person-info">
					<p class="name">Matthew Dix</p>
					<div class="speciality">Graphic Design</div>
					<p class="review">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
				</div>
			</li>
			<li>
				<div class="person-img"><img src="img/review-2.png"></div>
				<div class="person-info">
					<p class="name">Nick Karvounis</p>
					<div class="speciality">Graphic Design</div>
					<p class="review">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>
			</li>
			<li>
				<div class="person-img"><img src="img/review-3.png"></div>
				<div class="person-info">
					<p class="name">Jaelynn Castillo </p>
					<div class="speciality">Graphic Design</div>
					<p class="review">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>
			</li>
			<li>
				<div class="person-img"><img src="img/review-4.png"></div>
				<div class="person-info">
					<p class="name">Mike Petrucci</p>
					<div class="speciality">Graphic Design</div>
					<p class="review">Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
				</div>
			</li>
		</ul>
	</div>
</section>