<section class="services">
	<div class="content">
		<div class="section-title">
			<p>We work with</p>
			<h2>Amazing Services</h2>
		</div>
		<ul class="services-list">
			<li class="services-row">
				<div class="services-cell"></div>
				<div class="services-cell"></div>
				<div class="services-cell"></div>
			</li>
			<li class="services-row">
				<div class="services-cell"></div>
				<div class="services-cell"></div>
				<div class="services-cell"></div>
			</li>
		</ul>
	</div>
</section>