<section class="services">
	<div class="content">
		<div class="section-title">
			<p>We work with</p>
			<h2>Amazing Services</h2>
		</div>
		<ul class="services-list">
			<li class="services-row">
				<div class="services-cell">
					<img src="img/photography-icon.png">
					<div class="services-info">
						<h3>Photography</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
					</div>
				</div>
				<div class="services-cell">
					<img src="img/web-design-icon.png">
					<div class="services-info">
						<h3>Web Design</h3>
						<p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
					</div>
				</div>
				<div class="services-cell">
					<img src="img/creativity-icon.png">
					<div class="services-info">
						<h3>Creativity</h3>
						<p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
					</div>
				</div>
			</li>
			<li class="services-row">
				<div class="services-cell">
					<img src="img/seo-icon.png">
					<div class="services-info">
						<h3>Seo</h3>
						<p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
					</div>
				</div>
				<div class="services-cell">
					<img src="img/css-html-icon.png">
					<div class="services-info">
						<h3>Css/html</h3>
						<p>Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.</p>
					</div>
				</div>
				<div class="services-cell">
					<img src="img/digital-icon.png">
					<div class="services-info">
						<h3>Digital</h3>
						<p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>