<section class="team">
	<div class="content">
		<div class="section-title">
			<p>Who we are</p>
			<h2>Meet our team</h2>
		</div>
		<div class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
		<ul class="gradient-gallery team-gallery">
			<li><div class="overlay">
					<div class="team-img"></div>
					<div class="gallery-content">
						<div class="buttons">
							<a href="#"><span class="facebook-red-icon"></span></a>
							<a href="#"><span class="twitter-red-icon"></span></a>
							<a href="#"><span class="pinterest-red-icon"></span></a>
							<a href="#"><span class="instagram-red-icon"></span></a>
						</div>
					</div>
				</div>
				<h3>Matthew Dix</h3>
				<p>Graphic Design</p>
			</li>
			<li><div class="overlay">
					<div class="team-img"></div>
					<div class="gallery-content">
						<div class="buttons">
							<a href="#"><span class="facebook-red-icon"></span></a>
							<a href="#"><span class="twitter-red-icon"></span></a>
							<a href="#"><span class="pinterest-red-icon"></span></a>
							<a href="#"><span class="instagram-red-icon"></span></a>
						</div>
					</div>
				</div>
				<h3>Christopher Campbell</h3>
				<p>Branding/UX design</p>
			</li>
			<li><div class="overlay">
					<div class="team-img"></div>
					<div class="gallery-content">
						<div class="buttons">
							<a href="#"><span class="facebook-red-icon"></span></a>
							<a href="#"><span class="twitter-red-icon"></span></a>
							<a href="#"><span class="pinterest-red-icon"></span></a>
							<a href="#"><span class="instagram-red-icon"></span></a>
						</div>
					</div>
				</div>
				<h3>Michael Fertig</h3>
				<p>Developer</p>
			</li>
		</ul>
	</div>
</section>