<section class="team">
	<div class="content">
		<div class="section-title">
			<p>Who we are</p>
			<h2>Meet our team</h2>
		</div>
		<div class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
		<ul class="gradient-gallery team-gallery">
			<li><a href="#">
					<img src="img/team-1.jpg" alt="">
					<div class="gallery-content">
						<div class="buttons">
						</div>
					</div>
				</a></li>
			<li><a href="#">
					<img src="img/team-2.jpg" alt="">
					<div class="gallery-content">
						<span></span>
						
					</div>
				</a></li>
			<li><a href="#">
					<img src="img/team-3.jpg" alt="">
					<div class="gallery-content">
						<span></span>
						
					</div>
				</a></li>
		</ul>
	</div>
</section>