<section class="what-we-do">
	<div class="content">
		<div class="section-title">
			<p>Service</p>
			<h2>what we do</h2>
		</div>
		<div class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
		<div class="what-we-do-content">
			<div class="what-we-do-img">
				<div class="image"></div>
			</div>
			<div class="what-we-do-accordion">
				<button class="accordion">
					<span class="photography-icon"></span>
					<span>Photography</span>
				</button>
				<div class="panel">
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem fugiat ut amet omnis molestias facilis, deserunt incidunt accusantium vero? Officia provident voluptas illum impedit ullam maxime laboriosam, neque iure rerum consectetur laborum consequatur repellendus quisquam, doloribus tempora, ipsa excepturi aliquam minus voluptatem. Distinctio voluptatum impedit delectus at reiciendis voluptatibus doloremque omnis expedita eveniet nisi temporibus, adipisci laborum, quis facere. Voluptatibus eum officia voluptas reiciendis iusto consequuntur minus. Iste alias veritatis nostrum ipsa facere necessitatibus.</p>
				</div>
				<button class="accordion">
					<span class="creativity-icon"></span>
					<span>creativity</span>
				</button>
				<div class="panel">
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem fugiat ut amet omnis molestias facilis, deserunt incidunt accusantium vero? Officia provident voluptas illum impedit ullam maxime laboriosam, neque iure rerum consectetur laborum consequatur repellendus quisquam, doloribus tempora, ipsa excepturi aliquam minus voluptatem. Distinctio voluptatum impedit delectus at reiciendis voluptatibus doloremque omnis expedita eveniet nisi temporibus, adipisci laborum, quis facere. Voluptatibus eum officia voluptas reiciendis iusto consequuntur minus. Iste alias veritatis nostrum ipsa facere necessitatibus.</p>
				</div>
				<button class="accordion">
					<span class="web-design-icon"></span>
					<span>web design</span>
				</button>
				<div class="panel">
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem fugiat ut amet omnis molestias facilis, deserunt incidunt accusantium vero? </p>
				</div>
			</div>
		</div>
	</div>
</section>