<section class="works">
	<div class="content">
		<div class="section-title">
			<p>What we do</p>
			<h2>some of our work</h2>
		</div>
		<div class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
	</div>
		<ul class="gradient-gallery works-gallery">
			<li>
				<a class="overlay" href="#">
					<img src="img/works-1.jpg">
					<div class="gallery-content">
						<div class="info">
							<h4>creatively designed</h4>
							<p>Lorem ipsum dolor sit</p>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a class="overlay" href="#">
					<img src="img/works-2.jpg">
					<div class="gallery-content">
						<div class="info">
							<h4>creatively designed</h4>
							<p>Lorem ipsum dolor sit</p>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a class="overlay" href="#">
					<img src="img/works-3.jpg">
					<div class="gallery-content">
						<div class="info">
							<h4>creatively designed</h4>
							<p>Lorem ipsum dolor sit</p>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a class="overlay" href="#">
					<img src="img/works-4.jpg">
					<div class="gallery-content">
						<div class="info">
							<h4>creatively designed</h4>
							<p>Lorem ipsum dolor sit</p>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a class="overlay" href="#">
					<img src="img/works-5.jpg">
					<div class="gallery-content">
						<div class="info">
							<h4>creatively designed</h4>
							<p>Lorem ipsum dolor sit</p>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a class="overlay" href="#">
					<img src="img/works-6.jpg">
					<div class="gallery-content">
						<div class="info">
							<h4>creatively designed</h4>
							<p>Lorem ipsum dolor sit</p>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a class="overlay" href="#">
					<img src="img/works-7.jpg">
					<div class="gallery-content">
						<div class="info">
							<h4>creatively designed</h4>
							<p>Lorem ipsum dolor sit</p>
						</div>
					</div>
				</a>
			</li>
		</ul>
</section>