@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MontserratBold/montserratbold-webfont.eot');
    src: url('../fonts/MontserratBold/montserratbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MontserratBold/montserratbold-webfont.woff2') format('woff2'),
         url('../fonts/MontserratBold/montserratbold-webfont.woff') format('woff'),
         url('../fonts/MontserratBold/montserratbold-webfont.ttf') format('truetype'),
         url('../fonts/MontserratBold/montserratbold-webfont.svg#montserratboldbold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MontserratRegular/montserrat-regular-webfont.eot');
    src: url('../fonts/MontserratRegularmontserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MontserratRegularmontserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/MontserratRegularmontserrat-regular-webfont.woff') format('woff'),
         url('../fonts/MontserratRegularmontserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/MontserratRegularmontserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'KaushanScript';
    src: url('../fonts/KaushanScriptRegular/kaushanscript-regular-webfont.eot');
    src: url('../fonts/KaushanScriptRegular/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KaushanScriptRegular/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../fonts/KaushanScriptRegular/kaushanscript-regular-webfont.woff') format('woff'),
         url('../fonts/KaushanScriptRegular/kaushanscript-regular-webfont.ttf') format('truetype'),
         url('../fonts/KaushanScriptRegular/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoLightItalic/roboto-lightitalic-webfont.eot');
    src: url('../fonts/RobotoLightItalic/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoLightItalic/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/RobotoLightItalic/roboto-lightitalic-webfont.woff') format('woff'),
         url('../fonts/RobotoLightItalic/roboto-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/RobotoLightItalic/roboto-lightitalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoRegular/roboto-regular-webfont.eot');
    src: url('../fonts/RobotoRegular/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoRegular/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/RobotoRegular/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/RobotoRegular/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/RobotoRegular/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

