@media screen and (max-width: 1200px) {
	.content {
	    max-width: 1000px;
	}

	.section-description {
		font-size: 16px;
		line-height: 25px;
	}

	.banner-title {
		.styled-title {
			font-size: 58px;
		}

		.normal-title {
			font-size: 130px;
			line-height: 120px;
		}	
	}

	.unique-design {
		.phone {
			left: 625px;
		}
	}

	.quote-list{
		li {
			padding: 0 92px;
		}
	}

	.quote-img{
		width: 125px;
		height: 125px;
		margin-right: 50px;
	}

	.quote-content {
		max-width: 641px;
	}

	.quote-text {
		font-size: 20px;
		line-height: 30px;
	}

	.quote-author {
		font-size: 20px;
	}

	.team-gallery {
		li {
			.overlay {
				height: 390px;
			}
		}
	}

	.testimonial-list{
		li {
			padding: 0 92px 0 67px;
		}
	}

	.testimonial-text {
		font-size: 20px;
		line-height: 30px;
	}

	.testimonial-author {
		font-size: 20px;
	}

	.testimonial-img {
		width: 180px;
		height: 180px;
		margin-right: 20px;
	}

	.testimonial-content {
		max-width: 641px;
	}

	.reviews-list {
		.person-info {
			max-width: 60%;
		}
	}

	.social-column {
		h2 {
			margin-bottom: 25px;
		}

		.description {
			margin-bottom: 30px;
		}
	}

	.footer-blog-list {
		li>a {
			height: 70px;
		}

		.blog-info {
			max-width: 55%;
		}
	}

	.instagram-gallery{
		
		li {
			height: 73px;
		}
	}

}
/************************************************** 768 **************************************/

/************************************************** 768 END **********************************/
@media screen and (max-width: 1000px) {
	.content {
		max-width: 768px;
		padding: 0 15px;
	}

	.section-description {
		max-width: 90%;
		font-size: 18px;
		line-height: 27px;
		letter-spacing: normal;
	}

	.navigation {
		display: none;
	}

	.responsive-nav {
		display: block;
	}

	.banner-title {
		margin-top: 100px;

		.normal-title {
			font-size: 100px;
			line-height: 90px;
		}
	}

	.banner-slider {
		margin-top: 120px;
	}

	.about {
		padding: 70px 0;
	}

	.about-gallery {
		margin-top: 50px;

		li {
	    	width: 48%;
	    	margin: 15px 0;
		}
	}

	.counter-list {
		li {
			padding: 59px 0 68px;
		}

		p:first-child {
			margin-bottom: 17px;
			font-size: 65px;
		}

		p:last-child {
			font-size: 11px;
		}
	}

	.services {
		padding: 90px 0 90px;
	}

	.services-list {
		display: block;
	}

	.services-row {
		display: block;
		border-bottom: 0;
	}

	.services-cell {
		display: block;
		max-width: 90%;
		width: 100%;
		padding: 30px 0 25px !important;
		border-bottom: 1px solid #e5e5e5;
	}

	.services-info {
		max-width: 85%;

		h3 {
			font-size: 16px;
		}

		p {
			font-size: 17px;
			line-height: 25px;
		}
	}

	.unique-design {
		.phone {
			left: 509px;
		}
	}

	.waht-we-do-content {
		margin-top: 50px;
	}

	.what-we-do-img {
		width: 100%;
		padding-right: 0;
		margin-bottom: 30px;
	}

	.what-we-do-accordion {
		width: 100%;
	}

	.what-we-do-img {
		height: 400px;
	}

	.what-we-do-accordion {
		height: 400px;
	}

	.accordion {
		span {
			font-size: 16px;
		}
	}

	.what-we-do {
		padding: 110px 0 60px;
	}

	.what-we-do-accordion {
		.panel {
			p {
				font-size: 20px;
				line-height: 32px;
			}
		}
	}

	.quote {
		padding: 50px 0;
	}

	.quote-list{
		li {
			padding: 0 70px;
		}
	}

	.quote-img{
		float: none;
		width: 125px;
		height: 125px;
		margin: 0 auto 20px;
	}

	.quote-content {
		float: none;
		max-width: 598px;
	}

	.quote-text {
		font-size: 22px;
		line-height: 33px;
	}

	.quote-author {
		font-size: 22px;
	}

	.team-gallery {
		li{
			.overlay {
				height: 350px;
			}
		}
	}

	.logos {
		li {
			width: 33.3%;
			margin-bottom: 25px;
		}
	}

	.testimonial {
		padding: 50px 0 70px;
	}

	.works-gallery .works-row-container {
		width: 100%;
	}

	.works-gallery {
		margin-top: 50px;
		flex-direction: column;
	}

	.testimonial-list{
		li {
			padding: 0 70px 0 70px;
		}
	}

	.testimonial-img {
		float: none;
		width: 180px;
		height: 180px;
		margin: 0 auto 20px;
	}

	.testimonial-content {
		float: none;
		max-width: 598px;
	}

	.testimonial-text {
		font-size: 22px;
		line-height: 33px;
	}

	.testimonial-author {
		font-size: 22px;
	}

	.reviews-list {
		margin-top: 50px;

		li {
			text-align: center;
			padding-left: 0;
		}

		.person-img {
			float: none;
			display: inline-block;
			margin-right: 0;
		}

		.person-info {
			float: none;
			max-width: 80%;

			.name {
				font-size: 15px;
			}

			.speciality {
				font-size: 16px;
		
				&::after {
					margin: 17px auto 0;
				}
			}

			.review {
				font-size: 18px;
				line-height: 27px;
			}
		}
	}
	
	.blog {
		padding: 110px 0 90px;
	}
	.blog-list {
		li {
			width: 45%;
			margin-right: 2.5%;
			margin-bottom: 30px;

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		.blog-info {
			h3 {
				font-size: 16px;
			}

			p {
				font-size: 17px;
				line-height: 25px;
			}
		}
	}

	.social-column, .blog-column, .instagram-column {
		display: block;
		width: 100%;
	}

	.social-column {
		text-align: center;
		padding-right: 0;
		margin-bottom: 80px;

		.description {
			max-width: 90%;
			font-size: 17px;
			line-height: 25px;
		}
	}

	.blog-column {
		margin-bottom: 80px;
		padding-top: 0;

		h3 {
			font-size: 16px;
			text-align: center;
		}
	}

	.footer-top {
		.content{
			padding: 65px 15px;
		}
	}

	.footer-blog-list {
		max-width: 70%;

		li>a {
			height: 110px;
		}

		.blog-info {
			a {
				margin-bottom: 5px;
				font-size: 16px;
				line-height: 22px
			}

			span {
				font-size: 15px;
			}
		}
	}

	.instagram-column {
		padding-top: 0;

		h3 {
			font-size: 16px;
			text-align: center;
		}

		.instagram-gallery {
			max-width: 50%;

			li {
				height: 125px;
			}
		}
	}

	.instagram-viewmore {
		display: block;
		margin-top: 30px;
		font-size: 18px;
		text-align: center;
	}
}

/************************************************** 320 **************************************/

/************************************************** 320 END **********************************/
@media screen and (max-width: 767px) {
	.content {
		max-width: 320px;
		padding: 0 15px;
	}

	.section-description {
		max-width: 100%;
		font-size: 18px;
		line-height: 27px;
		letter-spacing: normal;
	}

	.navigation {
		display: none;
	}

	.responsive-nav {
		display: block;
	}

	.responsive-nav-list {
		width: 200px;
	}

	.banner-title {
		margin-top: 120px;

		.styled-title {
			margin-bottom: 25px;
			font-size: 35px;
		}

		.normal-title {
			max-width: 100%;
			font-size: 47px;
			line-height: 40px;
		}
	}

	.banner-slider {
		margin-top: 120px;

		li {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
		}

		.progress-bar {
			margin-bottom: 10px;
		}
	}

	.about {
		padding: 70px 0;
	}

	.about-gallery {
		margin-top: 50px;

		li {
	    	width: 100%;
	    	height: 190px;
	    	margin: 5px 0;
		}
	}

	.counter {
		.content {
			max-width: 100%;
			padding: 0;
		}
	}

	.counter-list {
		li {
			width: 100%;
			padding: 20px 0;
			border-right: 0;
			border-top: 1px solid #b5eae0;

			&:first-child {
				border-left: 0;
			}
		}

		p:first-child {
			margin-bottom: 17px;
			font-size: 65px;
		}

		p:last-child {
			font-size: 11px;
		}
	}

	.services {
		padding: 70px 0 70px;
	}

	.services-list {
		display: block;
	}

	.services-row {
		display: block;
		border-bottom: 0;

		&:last-child {
			.services-cell{
				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}

	.services-cell {
		display: block;
		max-width: 90%;
		width: 100%;
		padding: 30px 0 25px !important;
		border-bottom: 1px solid #e5e5e5;

		.icon {
			float: none;
			margin: 0 auto 15px;
		}
	}

	.services-info {
		max-width: 100%;
		text-align: center;

		h3 {
			font-size: 16px;
		}

		p {
			font-size: 17px;
			line-height: 25px;
		}
	}

	.unique-design {
		padding-top: 70px;

		.tablet {
			height: 300px;
		}
		.phone {
			top: 270px;
			left: 160px;
			height: 230px;
		}
	}

	.what-we-do {
		padding: 70px 0;
	}

	.what-we-do-img {
		width: 100%;
		padding-right: 0;
		margin-bottom: 30px;
	}

	.what-we-do-accordion {
		width: 100%;
	}

	.what-we-do-img {
		height: 200px;
	}

	.what-we-do-accordion {
		height: 500px;
	}

	.accordion {
		span {
			font-size: 16px;
		}
	}

	.what-we-do {
		padding: 110px 0 60px;
	}

	.what-we-do-content {
		margin-top: 50px;
	}

	.what-we-do-accordion {

		.panel {
			p {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}

	.carousel {
		.arrow {
			top: 20%;
		}
	}

	.quote {
		padding: 50px 0;
	}

	.quote-list{
		li {
			padding: 0 35px;
		}
	}

	.quote-img{
		float: none;
		width: 110px;
		height: 110px;
		margin: 0 auto 20px;
	}

	.quote-content {
		float: none;
		max-width: 220px;
	}

	.quote-text {
		font-size: 14px;
		line-height: 22px;
	}

	.quote-author {
		font-size: 16px;
	}

	.team {
		padding: 70px 0;
	}

	.team-gallery {
		margin-top: 50px;

		li{
			width: 100%;
			margin: 0 auto 30px;
			
			.overlay {
				height: 350px;
			}

			h3 {
				margin-top: 15px;
			}

			p {
				margin-top: 5px;
			}
		}
	}

	.logos {
		li {
			width: 50%;
			margin-bottom: 25px;
		}
	}

	.works {
		padding-top: 70px;
	}

	.works-gallery {
		margin-top: 50px;
		flex-direction: column;

		.works-row-container {
			flex-direction: column;
			width: 100%;
		}

		.works-vertical-container {
			width: 100%;
		}
	}

	.testimonial {
		padding: 50px 0;
	}

	.testimonial-list{
		li {
			padding: 0 30px;
		}
	}

	.testimonial-img {
		float: none;
		width: 150px;
		height: 150px;
		margin: 0 auto 10px;
	}

	.testimonial-content {
		float: none;
		max-width: 230px;
	}

	.testimonial-text {
		font-size: 14px;
		line-height: 22px;
	}

	.testimonial-author {
		font-size: 16px;
	}

	.reviews {
		padding: 50px 0;
	}

	.reviews-list {
		margin-top: 50px;

		li {
			width: 100%;
			text-align: center;
			padding-left: 0;
		}

		.person-img {
			float: none;
			display: inline-block;
			margin-right: 0;
		}

		.person-info {
			float: none;
			max-width: 80%;

			.name {
				font-size: 15px;
			}

			.speciality {
				font-size: 16px;

				&::after {
					margin: 17px auto 0;
				}
			}

			.review {
				font-size: 18px;
				line-height: 27px;
			}
		}
	}
	
	.blog {
		padding: 50px 0;
	}

	.blog-list {
		li {
			width: 100%;
			margin-bottom: 30px;
		}

		.blog-info {
			h3 {
				font-size: 16px;
			}

			p {
				font-size: 17px;
				line-height: 25px;
			}
		}
	}

	.footer-top {
		.content{
			padding: 50px 15px;
		}
	}

	.social-column, .blog-column, .instagram-column {
		display: block;
		width: 100%;
	}

	.social-column {
		text-align: center;
		padding-right: 0;
		margin-bottom: 80px;

		.description {
			max-width: 100%;
			font-size: 17px;
			line-height: 25px;
		}

		.social {
			margin-bottom: 45px;
			
			span {
				margin-bottom: 15px;
			}
		}

		.subscription {
			text-align: center;

			input[type="email"], input[type="submit"] {
				width: 100%;
				margin-right: 0;
			}

			input[type="email"] {
				margin-bottom: 10px;
			}
		}

	}

	.blog-column {
		margin-bottom: 80px;
		padding-top: 0;

		h3 {
			font-size: 16px;
			text-align: center;
		}
	}

	.footer-blog-list {
		max-width: 100%;

		li>a {
			height: 70px;
		}

		.blog-info {
			max-width: 65%;
			padding-top: 14px;

			a {
				margin-bottom: 5px;
				font-size: 12px;
				line-height: 18px
			}

			span {
				font-size: 15px;
			}
		}
	}

	.instagram-column {
		padding-top: 0;

		h3 {
			font-size: 16px;
			text-align: center;
		}

		.instagram-gallery {
			max-width: 100%;

			li {
				height: 95px;
			}
		}
	}

	.instagram-viewmore {
		display: block;
		margin-top: 30px;
		font-size: 18px;
		text-align: center;
	}

	.copyright {
		font-size: 12px;
	}
}