// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-icon-name: 'arrow-icon';
$arrow-icon-x: 38px;
$arrow-icon-y: 200px;
$arrow-icon-offset-x: -38px;
$arrow-icon-offset-y: -200px;
$arrow-icon-width: 22px;
$arrow-icon-height: 12px;
$arrow-icon-total-width: 268px;
$arrow-icon-total-height: 254px;
$arrow-icon-image: '../img/sprite/sprite.png';
$arrow-icon: (38px, 200px, -38px, -200px, 22px, 12px, 268px, 254px, '../img/sprite/sprite.png', 'arrow-icon', );
$comment-icon-name: 'comment-icon';
$comment-icon-x: 250px;
$comment-icon-y: 107px;
$comment-icon-offset-x: -250px;
$comment-icon-offset-y: -107px;
$comment-icon-width: 16px;
$comment-icon-height: 15px;
$comment-icon-total-width: 268px;
$comment-icon-total-height: 254px;
$comment-icon-image: '../img/sprite/sprite.png';
$comment-icon: (250px, 107px, -250px, -107px, 16px, 15px, 268px, 254px, '../img/sprite/sprite.png', 'comment-icon', );
$creativity-green-icon-name: 'creativity-green-icon';
$creativity-green-icon-x: 156px;
$creativity-green-icon-y: 0px;
$creativity-green-icon-offset-x: -156px;
$creativity-green-icon-offset-y: 0px;
$creativity-green-icon-width: 28px;
$creativity-green-icon-height: 32px;
$creativity-green-icon-total-width: 268px;
$creativity-green-icon-total-height: 254px;
$creativity-green-icon-image: '../img/sprite/sprite.png';
$creativity-green-icon: (156px, 0px, -156px, 0px, 28px, 32px, 268px, 254px, '../img/sprite/sprite.png', 'creativity-green-icon', );
$creativity-icon-name: 'creativity-icon';
$creativity-icon-x: 100px;
$creativity-icon-y: 104px;
$creativity-icon-offset-x: -100px;
$creativity-icon-offset-y: -104px;
$creativity-icon-width: 32px;
$creativity-icon-height: 28px;
$creativity-icon-total-width: 268px;
$creativity-icon-total-height: 254px;
$creativity-icon-image: '../img/sprite/sprite.png';
$creativity-icon: (100px, 104px, -100px, -104px, 32px, 28px, 268px, 254px, '../img/sprite/sprite.png', 'creativity-icon', );
$css-html-icon-name: 'css-html-icon';
$css-html-icon-x: 104px;
$css-html-icon-y: 0px;
$css-html-icon-offset-x: -104px;
$css-html-icon-offset-y: 0px;
$css-html-icon-width: 32px;
$css-html-icon-height: 31px;
$css-html-icon-total-width: 268px;
$css-html-icon-total-height: 254px;
$css-html-icon-image: '../img/sprite/sprite.png';
$css-html-icon: (104px, 0px, -104px, 0px, 32px, 31px, 268px, 254px, '../img/sprite/sprite.png', 'css-html-icon', );
$digital-icon-name: 'digital-icon';
$digital-icon-x: 52px;
$digital-icon-y: 52px;
$digital-icon-offset-x: -52px;
$digital-icon-offset-y: -52px;
$digital-icon-width: 32px;
$digital-icon-height: 32px;
$digital-icon-total-width: 268px;
$digital-icon-total-height: 254px;
$digital-icon-image: '../img/sprite/sprite.png';
$digital-icon: (52px, 52px, -52px, -52px, 32px, 32px, 268px, 254px, '../img/sprite/sprite.png', 'digital-icon', );
$dribble-name: 'dribble';
$dribble-x: 250px;
$dribble-y: 71px;
$dribble-offset-x: -250px;
$dribble-offset-y: -71px;
$dribble-width: 16px;
$dribble-height: 16px;
$dribble-total-width: 268px;
$dribble-total-height: 254px;
$dribble-image: '../img/sprite/sprite.png';
$dribble: (250px, 71px, -250px, -71px, 16px, 16px, 268px, 254px, '../img/sprite/sprite.png', 'dribble', );
$facebook-red-icon-name: 'facebook-red-icon';
$facebook-red-icon-x: 204px;
$facebook-red-icon-y: 134px;
$facebook-red-icon-offset-x: -204px;
$facebook-red-icon-offset-y: -134px;
$facebook-red-icon-width: 13px;
$facebook-red-icon-height: 26px;
$facebook-red-icon-total-width: 268px;
$facebook-red-icon-total-height: 254px;
$facebook-red-icon-image: '../img/sprite/sprite.png';
$facebook-red-icon: (204px, 134px, -204px, -134px, 13px, 26px, 268px, 254px, '../img/sprite/sprite.png', 'facebook-red-icon', );
$facebook-white-icon-name: 'facebook-white-icon';
$facebook-white-icon-x: 204px;
$facebook-white-icon-y: 88px;
$facebook-white-icon-offset-x: -204px;
$facebook-white-icon-offset-y: -88px;
$facebook-white-icon-width: 13px;
$facebook-white-icon-height: 26px;
$facebook-white-icon-total-width: 268px;
$facebook-white-icon-total-height: 254px;
$facebook-white-icon-image: '../img/sprite/sprite.png';
$facebook-white-icon: (204px, 88px, -204px, -88px, 13px, 26px, 268px, 254px, '../img/sprite/sprite.png', 'facebook-white-icon', );
$facebook-name: 'facebook';
$facebook-x: 63px;
$facebook-y: 238px;
$facebook-offset-x: -63px;
$facebook-offset-y: -238px;
$facebook-width: 8px;
$facebook-height: 16px;
$facebook-total-width: 268px;
$facebook-total-height: 254px;
$facebook-image: '../img/sprite/sprite.png';
$facebook: (63px, 238px, -63px, -238px, 8px, 16px, 268px, 254px, '../img/sprite/sprite.png', 'facebook', );
$geoposition-icon-name: 'geoposition-icon';
$geoposition-icon-x: 204px;
$geoposition-icon-y: 42px;
$geoposition-icon-offset-x: -204px;
$geoposition-icon-offset-y: -42px;
$geoposition-icon-width: 20px;
$geoposition-icon-height: 26px;
$geoposition-icon-total-width: 268px;
$geoposition-icon-total-height: 254px;
$geoposition-icon-image: '../img/sprite/sprite.png';
$geoposition-icon: (204px, 42px, -204px, -42px, 20px, 26px, 268px, 254px, '../img/sprite/sprite.png', 'geoposition-icon', );
$google-plus-name: 'google-plus';
$google-plus-x: 250px;
$google-plus-y: 176px;
$google-plus-offset-x: -250px;
$google-plus-offset-y: -176px;
$google-plus-width: 16px;
$google-plus-height: 14px;
$google-plus-total-width: 268px;
$google-plus-total-height: 254px;
$google-plus-image: '../img/sprite/sprite.png';
$google-plus: (250px, 176px, -250px, -176px, 16px, 14px, 268px, 254px, '../img/sprite/sprite.png', 'google-plus', );
$instagram-red-icon-name: 'instagram-red-icon';
$instagram-red-icon-x: 156px;
$instagram-red-icon-y: 52px;
$instagram-red-icon-offset-x: -156px;
$instagram-red-icon-offset-y: -52px;
$instagram-red-icon-width: 26px;
$instagram-red-icon-height: 26px;
$instagram-red-icon-total-width: 268px;
$instagram-red-icon-total-height: 254px;
$instagram-red-icon-image: '../img/sprite/sprite.png';
$instagram-red-icon: (156px, 52px, -156px, -52px, 26px, 26px, 268px, 254px, '../img/sprite/sprite.png', 'instagram-red-icon', );
$instagram-white-icon-name: 'instagram-white-icon';
$instagram-white-icon-x: 156px;
$instagram-white-icon-y: 98px;
$instagram-white-icon-offset-x: -156px;
$instagram-white-icon-offset-y: -98px;
$instagram-white-icon-width: 26px;
$instagram-white-icon-height: 26px;
$instagram-white-icon-total-width: 268px;
$instagram-white-icon-total-height: 254px;
$instagram-white-icon-image: '../img/sprite/sprite.png';
$instagram-white-icon: (156px, 98px, -156px, -98px, 26px, 26px, 268px, 254px, '../img/sprite/sprite.png', 'instagram-white-icon', );
$instagram-name: 'instagram';
$instagram-x: 250px;
$instagram-y: 35px;
$instagram-offset-x: -250px;
$instagram-offset-y: -35px;
$instagram-width: 16px;
$instagram-height: 16px;
$instagram-total-width: 268px;
$instagram-total-height: 254px;
$instagram-image: '../img/sprite/sprite.png';
$instagram: (250px, 35px, -250px, -35px, 16px, 16px, 268px, 254px, '../img/sprite/sprite.png', 'instagram', );
$photography-green-icon-name: 'photography-green-icon';
$photography-green-icon-x: 50px;
$photography-green-icon-y: 104px;
$photography-green-icon-offset-x: -50px;
$photography-green-icon-offset-y: -104px;
$photography-green-icon-width: 30px;
$photography-green-icon-height: 30px;
$photography-green-icon-total-width: 268px;
$photography-green-icon-total-height: 254px;
$photography-green-icon-image: '../img/sprite/sprite.png';
$photography-green-icon: (50px, 104px, -50px, -104px, 30px, 30px, 268px, 254px, '../img/sprite/sprite.png', 'photography-green-icon', );
$photography-icon-name: 'photography-icon';
$photography-icon-x: 104px;
$photography-icon-y: 51px;
$photography-icon-offset-x: -104px;
$photography-icon-offset-y: -51px;
$photography-icon-width: 32px;
$photography-icon-height: 31px;
$photography-icon-total-width: 268px;
$photography-icon-total-height: 254px;
$photography-icon-image: '../img/sprite/sprite.png';
$photography-icon: (104px, 51px, -104px, -51px, 32px, 31px, 268px, 254px, '../img/sprite/sprite.png', 'photography-icon', );
$pinterest-red-icon-name: 'pinterest-red-icon';
$pinterest-red-icon-x: 51px;
$pinterest-red-icon-y: 154px;
$pinterest-red-icon-offset-x: -51px;
$pinterest-red-icon-offset-y: -154px;
$pinterest-red-icon-width: 31px;
$pinterest-red-icon-height: 26px;
$pinterest-red-icon-total-width: 268px;
$pinterest-red-icon-total-height: 254px;
$pinterest-red-icon-image: '../img/sprite/sprite.png';
$pinterest-red-icon: (51px, 154px, -51px, -154px, 31px, 26px, 268px, 254px, '../img/sprite/sprite.png', 'pinterest-red-icon', );
$pinterest-white-icon-name: 'pinterest-white-icon';
$pinterest-white-icon-x: 0px;
$pinterest-white-icon-y: 154px;
$pinterest-white-icon-offset-x: 0px;
$pinterest-white-icon-offset-y: -154px;
$pinterest-white-icon-width: 31px;
$pinterest-white-icon-height: 26px;
$pinterest-white-icon-total-width: 268px;
$pinterest-white-icon-total-height: 254px;
$pinterest-white-icon-image: '../img/sprite/sprite.png';
$pinterest-white-icon: (0px, 154px, 0px, -154px, 31px, 26px, 268px, 254px, '../img/sprite/sprite.png', 'pinterest-white-icon', );
$pinterest-name: 'pinterest';
$pinterest-x: 0px;
$pinterest-y: 238px;
$pinterest-offset-x: 0px;
$pinterest-offset-y: -238px;
$pinterest-width: 13px;
$pinterest-height: 16px;
$pinterest-total-width: 268px;
$pinterest-total-height: 254px;
$pinterest-image: '../img/sprite/sprite.png';
$pinterest: (0px, 238px, 0px, -238px, 13px, 16px, 268px, 254px, '../img/sprite/sprite.png', 'pinterest', );
$search-icon-name: 'search-icon';
$search-icon-x: 0px;
$search-icon-y: 200px;
$search-icon-offset-x: 0px;
$search-icon-offset-y: -200px;
$search-icon-width: 18px;
$search-icon-height: 18px;
$search-icon-total-width: 268px;
$search-icon-total-height: 254px;
$search-icon-image: '../img/sprite/sprite.png';
$search-icon: (0px, 200px, 0px, -200px, 18px, 18px, 268px, 254px, '../img/sprite/sprite.png', 'search-icon', );
$seo-icon-name: 'seo-icon';
$seo-icon-x: 52px;
$seo-icon-y: 0px;
$seo-icon-offset-x: -52px;
$seo-icon-offset-y: 0px;
$seo-icon-width: 32px;
$seo-icon-height: 32px;
$seo-icon-total-width: 268px;
$seo-icon-total-height: 254px;
$seo-icon-image: '../img/sprite/sprite.png';
$seo-icon: (52px, 0px, -52px, 0px, 32px, 32px, 268px, 254px, '../img/sprite/sprite.png', 'seo-icon', );
$shop-icon-name: 'shop-icon';
$shop-icon-x: 250px;
$shop-icon-y: 0px;
$shop-icon-offset-x: -250px;
$shop-icon-offset-y: 0px;
$shop-icon-width: 18px;
$shop-icon-height: 15px;
$shop-icon-total-width: 268px;
$shop-icon-total-height: 254px;
$shop-icon-image: '../img/sprite/sprite.png';
$shop-icon: (250px, 0px, -250px, 0px, 18px, 15px, 268px, 254px, '../img/sprite/sprite.png', 'shop-icon', );
$tumbl-name: 'tumbl';
$tumbl-x: 33px;
$tumbl-y: 238px;
$tumbl-offset-x: -33px;
$tumbl-offset-y: -238px;
$tumbl-width: 10px;
$tumbl-height: 16px;
$tumbl-total-width: 268px;
$tumbl-total-height: 254px;
$tumbl-image: '../img/sprite/sprite.png';
$tumbl: (33px, 238px, -33px, -238px, 10px, 16px, 268px, 254px, '../img/sprite/sprite.png', 'tumbl', );
$twitter-red-icon-name: 'twitter-red-icon';
$twitter-red-icon-x: 204px;
$twitter-red-icon-y: 0px;
$twitter-red-icon-offset-x: -204px;
$twitter-red-icon-offset-y: 0px;
$twitter-red-icon-width: 26px;
$twitter-red-icon-height: 22px;
$twitter-red-icon-total-width: 268px;
$twitter-red-icon-total-height: 254px;
$twitter-red-icon-image: '../img/sprite/sprite.png';
$twitter-red-icon: (204px, 0px, -204px, 0px, 26px, 22px, 268px, 254px, '../img/sprite/sprite.png', 'twitter-red-icon', );
$twitter-white-icon-name: 'twitter-white-icon';
$twitter-white-icon-x: 154px;
$twitter-white-icon-y: 154px;
$twitter-white-icon-offset-x: -154px;
$twitter-white-icon-offset-y: -154px;
$twitter-white-icon-width: 26px;
$twitter-white-icon-height: 22px;
$twitter-white-icon-total-width: 268px;
$twitter-white-icon-total-height: 254px;
$twitter-white-icon-image: '../img/sprite/sprite.png';
$twitter-white-icon: (154px, 154px, -154px, -154px, 26px, 22px, 268px, 254px, '../img/sprite/sprite.png', 'twitter-white-icon', );
$twitter-name: 'twitter';
$twitter-x: 250px;
$twitter-y: 142px;
$twitter-offset-x: -250px;
$twitter-offset-y: -142px;
$twitter-width: 16px;
$twitter-height: 14px;
$twitter-total-width: 268px;
$twitter-total-height: 254px;
$twitter-image: '../img/sprite/sprite.png';
$twitter: (250px, 142px, -250px, -142px, 16px, 14px, 268px, 254px, '../img/sprite/sprite.png', 'twitter', );
$users-icon-name: 'users-icon';
$users-icon-x: 102px;
$users-icon-y: 154px;
$users-icon-offset-x: -102px;
$users-icon-offset-y: -154px;
$users-icon-width: 32px;
$users-icon-height: 23px;
$users-icon-total-width: 268px;
$users-icon-total-height: 254px;
$users-icon-image: '../img/sprite/sprite.png';
$users-icon: (102px, 154px, -102px, -154px, 32px, 23px, 268px, 254px, '../img/sprite/sprite.png', 'users-icon', );
$view-icon-name: 'view-icon';
$view-icon-x: 80px;
$view-icon-y: 200px;
$view-icon-offset-x: -80px;
$view-icon-offset-y: -200px;
$view-icon-width: 20px;
$view-icon-height: 12px;
$view-icon-total-width: 268px;
$view-icon-total-height: 254px;
$view-icon-image: '../img/sprite/sprite.png';
$view-icon: (80px, 200px, -80px, -200px, 20px, 12px, 268px, 254px, '../img/sprite/sprite.png', 'view-icon', );
$web-design-green-icon-name: 'web-design-green-icon';
$web-design-green-icon-x: 0px;
$web-design-green-icon-y: 0px;
$web-design-green-icon-offset-x: 0px;
$web-design-green-icon-offset-y: 0px;
$web-design-green-icon-width: 32px;
$web-design-green-icon-height: 32px;
$web-design-green-icon-total-width: 268px;
$web-design-green-icon-total-height: 254px;
$web-design-green-icon-image: '../img/sprite/sprite.png';
$web-design-green-icon: (0px, 0px, 0px, 0px, 32px, 32px, 268px, 254px, '../img/sprite/sprite.png', 'web-design-green-icon', );
$web-design-icon-name: 'web-design-icon';
$web-design-icon-x: 0px;
$web-design-icon-y: 52px;
$web-design-icon-offset-x: 0px;
$web-design-icon-offset-y: -52px;
$web-design-icon-width: 32px;
$web-design-icon-height: 32px;
$web-design-icon-total-width: 268px;
$web-design-icon-total-height: 254px;
$web-design-icon-image: '../img/sprite/sprite.png';
$web-design-icon: (0px, 52px, 0px, -52px, 32px, 32px, 268px, 254px, '../img/sprite/sprite.png', 'web-design-icon', );
$works-icon-name: 'works-icon';
$works-icon-x: 0px;
$works-icon-y: 104px;
$works-icon-offset-x: 0px;
$works-icon-offset-y: -104px;
$works-icon-width: 30px;
$works-icon-height: 30px;
$works-icon-total-width: 268px;
$works-icon-total-height: 254px;
$works-icon-image: '../img/sprite/sprite.png';
$works-icon: (0px, 104px, 0px, -104px, 30px, 30px, 268px, 254px, '../img/sprite/sprite.png', 'works-icon', );
$youtube-name: 'youtube';
$youtube-x: 120px;
$youtube-y: 200px;
$youtube-offset-x: -120px;
$youtube-offset-y: -200px;
$youtube-width: 16px;
$youtube-height: 12px;
$youtube-total-width: 268px;
$youtube-total-height: 254px;
$youtube-image: '../img/sprite/sprite.png';
$youtube: (120px, 200px, -120px, -200px, 16px, 12px, 268px, 254px, '../img/sprite/sprite.png', 'youtube', );
$spritesheet-width: 268px;
$spritesheet-height: 254px;
$spritesheet-image: '../img/sprite/sprite.png';
$spritesheet-sprites: ($arrow-icon, $comment-icon, $creativity-green-icon, $creativity-icon, $css-html-icon, $digital-icon, $dribble, $facebook-red-icon, $facebook-white-icon, $facebook, $geoposition-icon, $google-plus, $instagram-red-icon, $instagram-white-icon, $instagram, $photography-green-icon, $photography-icon, $pinterest-red-icon, $pinterest-white-icon, $pinterest, $search-icon, $seo-icon, $shop-icon, $tumbl, $twitter-red-icon, $twitter-white-icon, $twitter, $users-icon, $view-icon, $web-design-green-icon, $web-design-icon, $works-icon, $youtube, );
$spritesheet: (268px, 254px, '../img/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
