// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-icon-name: 'arrow-icon';
$arrow-icon-x: 0px;
$arrow-icon-y: 0px;
$arrow-icon-offset-x: 0px;
$arrow-icon-offset-y: 0px;
$arrow-icon-width: 22px;
$arrow-icon-height: 12px;
$arrow-icon-total-width: 32px;
$arrow-icon-total-height: 1175px;
$arrow-icon-image: '../img/sprite/sprite.png';
$arrow-icon: (0px, 0px, 0px, 0px, 22px, 12px, 32px, 1175px, '../img/sprite/sprite.png', 'arrow-icon', );
$close-icon-name: 'close-icon';
$close-icon-x: 0px;
$close-icon-y: 579px;
$close-icon-offset-x: 0px;
$close-icon-offset-y: -579px;
$close-icon-width: 25px;
$close-icon-height: 25px;
$close-icon-total-width: 32px;
$close-icon-total-height: 1175px;
$close-icon-image: '../img/sprite/sprite.png';
$close-icon: (0px, 579px, 0px, -579px, 25px, 25px, 32px, 1175px, '../img/sprite/sprite.png', 'close-icon', );
$comment-icon-name: 'comment-icon';
$comment-icon-x: 0px;
$comment-icon-y: 164px;
$comment-icon-offset-x: 0px;
$comment-icon-offset-y: -164px;
$comment-icon-width: 16px;
$comment-icon-height: 15px;
$comment-icon-total-width: 32px;
$comment-icon-total-height: 1175px;
$comment-icon-image: '../img/sprite/sprite.png';
$comment-icon: (0px, 164px, 0px, -164px, 16px, 15px, 32px, 1175px, '../img/sprite/sprite.png', 'comment-icon', );
$creativity-green-icon-name: 'creativity-green-icon';
$creativity-green-icon-x: 0px;
$creativity-green-icon-y: 1143px;
$creativity-green-icon-offset-x: 0px;
$creativity-green-icon-offset-y: -1143px;
$creativity-green-icon-width: 28px;
$creativity-green-icon-height: 32px;
$creativity-green-icon-total-width: 32px;
$creativity-green-icon-total-height: 1175px;
$creativity-green-icon-image: '../img/sprite/sprite.png';
$creativity-green-icon: (0px, 1143px, 0px, -1143px, 28px, 32px, 32px, 1175px, '../img/sprite/sprite.png', 'creativity-green-icon', );
$dribble-name: 'dribble';
$dribble-x: 0px;
$dribble-y: 306px;
$dribble-offset-x: 0px;
$dribble-offset-y: -306px;
$dribble-width: 16px;
$dribble-height: 16px;
$dribble-total-width: 32px;
$dribble-total-height: 1175px;
$dribble-image: '../img/sprite/sprite.png';
$dribble: (0px, 306px, 0px, -306px, 16px, 16px, 32px, 1175px, '../img/sprite/sprite.png', 'dribble', );
$facebook-red-icon-name: 'facebook-red-icon';
$facebook-red-icon-x: 0px;
$facebook-red-icon-y: 761px;
$facebook-red-icon-offset-x: 0px;
$facebook-red-icon-offset-y: -761px;
$facebook-red-icon-width: 13px;
$facebook-red-icon-height: 26px;
$facebook-red-icon-total-width: 32px;
$facebook-red-icon-total-height: 1175px;
$facebook-red-icon-image: '../img/sprite/sprite.png';
$facebook-red-icon: (0px, 761px, 0px, -761px, 13px, 26px, 32px, 1175px, '../img/sprite/sprite.png', 'facebook-red-icon', );
$facebook-white-icon-name: 'facebook-white-icon';
$facebook-white-icon-x: 0px;
$facebook-white-icon-y: 715px;
$facebook-white-icon-offset-x: 0px;
$facebook-white-icon-offset-y: -715px;
$facebook-white-icon-width: 13px;
$facebook-white-icon-height: 26px;
$facebook-white-icon-total-width: 32px;
$facebook-white-icon-total-height: 1175px;
$facebook-white-icon-image: '../img/sprite/sprite.png';
$facebook-white-icon: (0px, 715px, 0px, -715px, 13px, 26px, 32px, 1175px, '../img/sprite/sprite.png', 'facebook-white-icon', );
$facebook-name: 'facebook';
$facebook-x: 0px;
$facebook-y: 342px;
$facebook-offset-x: 0px;
$facebook-offset-y: -342px;
$facebook-width: 8px;
$facebook-height: 16px;
$facebook-total-width: 32px;
$facebook-total-height: 1175px;
$facebook-image: '../img/sprite/sprite.png';
$facebook: (0px, 342px, 0px, -342px, 8px, 16px, 32px, 1175px, '../img/sprite/sprite.png', 'facebook', );
$geoposition-icon-name: 'geoposition-icon';
$geoposition-icon-x: 0px;
$geoposition-icon-y: 669px;
$geoposition-icon-offset-x: 0px;
$geoposition-icon-offset-y: -669px;
$geoposition-icon-width: 20px;
$geoposition-icon-height: 26px;
$geoposition-icon-total-width: 32px;
$geoposition-icon-total-height: 1175px;
$geoposition-icon-image: '../img/sprite/sprite.png';
$geoposition-icon: (0px, 669px, 0px, -669px, 20px, 26px, 32px, 1175px, '../img/sprite/sprite.png', 'geoposition-icon', );
$google-plus-name: 'google-plus';
$google-plus-x: 0px;
$google-plus-y: 96px;
$google-plus-offset-x: 0px;
$google-plus-offset-y: -96px;
$google-plus-width: 16px;
$google-plus-height: 14px;
$google-plus-total-width: 32px;
$google-plus-total-height: 1175px;
$google-plus-image: '../img/sprite/sprite.png';
$google-plus: (0px, 96px, 0px, -96px, 16px, 14px, 32px, 1175px, '../img/sprite/sprite.png', 'google-plus', );
$hamburger-icon-name: 'hamburger-icon';
$hamburger-icon-x: 0px;
$hamburger-icon-y: 624px;
$hamburger-icon-offset-x: 0px;
$hamburger-icon-offset-y: -624px;
$hamburger-icon-width: 25px;
$hamburger-icon-height: 25px;
$hamburger-icon-total-width: 32px;
$hamburger-icon-total-height: 1175px;
$hamburger-icon-image: '../img/sprite/sprite.png';
$hamburger-icon: (0px, 624px, 0px, -624px, 25px, 25px, 32px, 1175px, '../img/sprite/sprite.png', 'hamburger-icon', );
$instagram-red-icon-name: 'instagram-red-icon';
$instagram-red-icon-x: 0px;
$instagram-red-icon-y: 853px;
$instagram-red-icon-offset-x: 0px;
$instagram-red-icon-offset-y: -853px;
$instagram-red-icon-width: 26px;
$instagram-red-icon-height: 26px;
$instagram-red-icon-total-width: 32px;
$instagram-red-icon-total-height: 1175px;
$instagram-red-icon-image: '../img/sprite/sprite.png';
$instagram-red-icon: (0px, 853px, 0px, -853px, 26px, 26px, 32px, 1175px, '../img/sprite/sprite.png', 'instagram-red-icon', );
$instagram-white-icon-name: 'instagram-white-icon';
$instagram-white-icon-x: 0px;
$instagram-white-icon-y: 899px;
$instagram-white-icon-offset-x: 0px;
$instagram-white-icon-offset-y: -899px;
$instagram-white-icon-width: 26px;
$instagram-white-icon-height: 26px;
$instagram-white-icon-total-width: 32px;
$instagram-white-icon-total-height: 1175px;
$instagram-white-icon-image: '../img/sprite/sprite.png';
$instagram-white-icon: (0px, 899px, 0px, -899px, 26px, 26px, 32px, 1175px, '../img/sprite/sprite.png', 'instagram-white-icon', );
$instagram-name: 'instagram';
$instagram-x: 0px;
$instagram-y: 234px;
$instagram-offset-x: 0px;
$instagram-offset-y: -234px;
$instagram-width: 16px;
$instagram-height: 16px;
$instagram-total-width: 32px;
$instagram-total-height: 1175px;
$instagram-image: '../img/sprite/sprite.png';
$instagram: (0px, 234px, 0px, -234px, 16px, 16px, 32px, 1175px, '../img/sprite/sprite.png', 'instagram', );
$photography-green-icon-name: 'photography-green-icon';
$photography-green-icon-x: 0px;
$photography-green-icon-y: 991px;
$photography-green-icon-offset-x: 0px;
$photography-green-icon-offset-y: -991px;
$photography-green-icon-width: 30px;
$photography-green-icon-height: 30px;
$photography-green-icon-total-width: 32px;
$photography-green-icon-total-height: 1175px;
$photography-green-icon-image: '../img/sprite/sprite.png';
$photography-green-icon: (0px, 991px, 0px, -991px, 30px, 30px, 32px, 1175px, '../img/sprite/sprite.png', 'photography-green-icon', );
$pinterest-red-icon-name: 'pinterest-red-icon';
$pinterest-red-icon-x: 0px;
$pinterest-red-icon-y: 945px;
$pinterest-red-icon-offset-x: 0px;
$pinterest-red-icon-offset-y: -945px;
$pinterest-red-icon-width: 31px;
$pinterest-red-icon-height: 26px;
$pinterest-red-icon-total-width: 32px;
$pinterest-red-icon-total-height: 1175px;
$pinterest-red-icon-image: '../img/sprite/sprite.png';
$pinterest-red-icon: (0px, 945px, 0px, -945px, 31px, 26px, 32px, 1175px, '../img/sprite/sprite.png', 'pinterest-red-icon', );
$pinterest-white-icon-name: 'pinterest-white-icon';
$pinterest-white-icon-x: 0px;
$pinterest-white-icon-y: 807px;
$pinterest-white-icon-offset-x: 0px;
$pinterest-white-icon-offset-y: -807px;
$pinterest-white-icon-width: 31px;
$pinterest-white-icon-height: 26px;
$pinterest-white-icon-total-width: 32px;
$pinterest-white-icon-total-height: 1175px;
$pinterest-white-icon-image: '../img/sprite/sprite.png';
$pinterest-white-icon: (0px, 807px, 0px, -807px, 31px, 26px, 32px, 1175px, '../img/sprite/sprite.png', 'pinterest-white-icon', );
$pinterest-name: 'pinterest';
$pinterest-x: 0px;
$pinterest-y: 378px;
$pinterest-offset-x: 0px;
$pinterest-offset-y: -378px;
$pinterest-width: 13px;
$pinterest-height: 16px;
$pinterest-total-width: 32px;
$pinterest-total-height: 1175px;
$pinterest-image: '../img/sprite/sprite.png';
$pinterest: (0px, 378px, 0px, -378px, 13px, 16px, 32px, 1175px, '../img/sprite/sprite.png', 'pinterest', );
$search-icon-name: 'search-icon';
$search-icon-x: 0px;
$search-icon-y: 414px;
$search-icon-offset-x: 0px;
$search-icon-offset-y: -414px;
$search-icon-width: 18px;
$search-icon-height: 18px;
$search-icon-total-width: 32px;
$search-icon-total-height: 1175px;
$search-icon-image: '../img/sprite/sprite.png';
$search-icon: (0px, 414px, 0px, -414px, 18px, 18px, 32px, 1175px, '../img/sprite/sprite.png', 'search-icon', );
$shop-icon-name: 'shop-icon';
$shop-icon-x: 0px;
$shop-icon-y: 199px;
$shop-icon-offset-x: 0px;
$shop-icon-offset-y: -199px;
$shop-icon-width: 18px;
$shop-icon-height: 15px;
$shop-icon-total-width: 32px;
$shop-icon-total-height: 1175px;
$shop-icon-image: '../img/sprite/sprite.png';
$shop-icon: (0px, 199px, 0px, -199px, 18px, 15px, 32px, 1175px, '../img/sprite/sprite.png', 'shop-icon', );
$tumbl-name: 'tumbl';
$tumbl-x: 0px;
$tumbl-y: 270px;
$tumbl-offset-x: 0px;
$tumbl-offset-y: -270px;
$tumbl-width: 10px;
$tumbl-height: 16px;
$tumbl-total-width: 32px;
$tumbl-total-height: 1175px;
$tumbl-image: '../img/sprite/sprite.png';
$tumbl: (0px, 270px, 0px, -270px, 10px, 16px, 32px, 1175px, '../img/sprite/sprite.png', 'tumbl', );
$twitter-red-icon-name: 'twitter-red-icon';
$twitter-red-icon-x: 0px;
$twitter-red-icon-y: 452px;
$twitter-red-icon-offset-x: 0px;
$twitter-red-icon-offset-y: -452px;
$twitter-red-icon-width: 26px;
$twitter-red-icon-height: 22px;
$twitter-red-icon-total-width: 32px;
$twitter-red-icon-total-height: 1175px;
$twitter-red-icon-image: '../img/sprite/sprite.png';
$twitter-red-icon: (0px, 452px, 0px, -452px, 26px, 22px, 32px, 1175px, '../img/sprite/sprite.png', 'twitter-red-icon', );
$twitter-white-icon-name: 'twitter-white-icon';
$twitter-white-icon-x: 0px;
$twitter-white-icon-y: 494px;
$twitter-white-icon-offset-x: 0px;
$twitter-white-icon-offset-y: -494px;
$twitter-white-icon-width: 26px;
$twitter-white-icon-height: 22px;
$twitter-white-icon-total-width: 32px;
$twitter-white-icon-total-height: 1175px;
$twitter-white-icon-image: '../img/sprite/sprite.png';
$twitter-white-icon: (0px, 494px, 0px, -494px, 26px, 22px, 32px, 1175px, '../img/sprite/sprite.png', 'twitter-white-icon', );
$twitter-name: 'twitter';
$twitter-x: 0px;
$twitter-y: 130px;
$twitter-offset-x: 0px;
$twitter-offset-y: -130px;
$twitter-width: 16px;
$twitter-height: 14px;
$twitter-total-width: 32px;
$twitter-total-height: 1175px;
$twitter-image: '../img/sprite/sprite.png';
$twitter: (0px, 130px, 0px, -130px, 16px, 14px, 32px, 1175px, '../img/sprite/sprite.png', 'twitter', );
$users-icon-name: 'users-icon';
$users-icon-x: 0px;
$users-icon-y: 536px;
$users-icon-offset-x: 0px;
$users-icon-offset-y: -536px;
$users-icon-width: 32px;
$users-icon-height: 23px;
$users-icon-total-width: 32px;
$users-icon-total-height: 1175px;
$users-icon-image: '../img/sprite/sprite.png';
$users-icon: (0px, 536px, 0px, -536px, 32px, 23px, 32px, 1175px, '../img/sprite/sprite.png', 'users-icon', );
$view-icon-name: 'view-icon';
$view-icon-x: 0px;
$view-icon-y: 64px;
$view-icon-offset-x: 0px;
$view-icon-offset-y: -64px;
$view-icon-width: 20px;
$view-icon-height: 12px;
$view-icon-total-width: 32px;
$view-icon-total-height: 1175px;
$view-icon-image: '../img/sprite/sprite.png';
$view-icon: (0px, 64px, 0px, -64px, 20px, 12px, 32px, 1175px, '../img/sprite/sprite.png', 'view-icon', );
$web-design-green-icon-name: 'web-design-green-icon';
$web-design-green-icon-x: 0px;
$web-design-green-icon-y: 1091px;
$web-design-green-icon-offset-x: 0px;
$web-design-green-icon-offset-y: -1091px;
$web-design-green-icon-width: 32px;
$web-design-green-icon-height: 32px;
$web-design-green-icon-total-width: 32px;
$web-design-green-icon-total-height: 1175px;
$web-design-green-icon-image: '../img/sprite/sprite.png';
$web-design-green-icon: (0px, 1091px, 0px, -1091px, 32px, 32px, 32px, 1175px, '../img/sprite/sprite.png', 'web-design-green-icon', );
$works-icon-name: 'works-icon';
$works-icon-x: 0px;
$works-icon-y: 1041px;
$works-icon-offset-x: 0px;
$works-icon-offset-y: -1041px;
$works-icon-width: 30px;
$works-icon-height: 30px;
$works-icon-total-width: 32px;
$works-icon-total-height: 1175px;
$works-icon-image: '../img/sprite/sprite.png';
$works-icon: (0px, 1041px, 0px, -1041px, 30px, 30px, 32px, 1175px, '../img/sprite/sprite.png', 'works-icon', );
$youtube-name: 'youtube';
$youtube-x: 0px;
$youtube-y: 32px;
$youtube-offset-x: 0px;
$youtube-offset-y: -32px;
$youtube-width: 16px;
$youtube-height: 12px;
$youtube-total-width: 32px;
$youtube-total-height: 1175px;
$youtube-image: '../img/sprite/sprite.png';
$youtube: (0px, 32px, 0px, -32px, 16px, 12px, 32px, 1175px, '../img/sprite/sprite.png', 'youtube', );
$spritesheet-width: 32px;
$spritesheet-height: 1175px;
$spritesheet-image: '../img/sprite/sprite.png';
$spritesheet-sprites: ($arrow-icon, $close-icon, $comment-icon, $creativity-green-icon, $dribble, $facebook-red-icon, $facebook-white-icon, $facebook, $geoposition-icon, $google-plus, $hamburger-icon, $instagram-red-icon, $instagram-white-icon, $instagram, $photography-green-icon, $pinterest-red-icon, $pinterest-white-icon, $pinterest, $search-icon, $shop-icon, $tumbl, $twitter-red-icon, $twitter-white-icon, $twitter, $users-icon, $view-icon, $web-design-green-icon, $works-icon, $youtube, );
$spritesheet: (32px, 1175px, '../img/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
