// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$comment-icon-name: 'comment-icon';
$comment-icon-x: 72px;
$comment-icon-y: 194px;
$comment-icon-offset-x: -72px;
$comment-icon-offset-y: -194px;
$comment-icon-width: 16px;
$comment-icon-height: 15px;
$comment-icon-total-width: 261px;
$comment-icon-total-height: 210px;
$comment-icon-image: '../img/sprite/sprite.png';
$comment-icon: (72px, 194px, -72px, -194px, 16px, 15px, 261px, 210px, '../img/sprite/sprite.png', 'comment-icon', );
$creativity-icon-name: 'creativity-icon';
$creativity-icon-x: 0px;
$creativity-icon-y: 104px;
$creativity-icon-offset-x: 0px;
$creativity-icon-offset-y: -104px;
$creativity-icon-width: 32px;
$creativity-icon-height: 28px;
$creativity-icon-total-width: 261px;
$creativity-icon-total-height: 210px;
$creativity-icon-image: '../img/sprite/sprite.png';
$creativity-icon: (0px, 104px, 0px, -104px, 32px, 28px, 261px, 210px, '../img/sprite/sprite.png', 'creativity-icon', );
$css-html-icon-name: 'css-html-icon';
$css-html-icon-x: 104px;
$css-html-icon-y: 0px;
$css-html-icon-offset-x: -104px;
$css-html-icon-offset-y: 0px;
$css-html-icon-width: 32px;
$css-html-icon-height: 31px;
$css-html-icon-total-width: 261px;
$css-html-icon-total-height: 210px;
$css-html-icon-image: '../img/sprite/sprite.png';
$css-html-icon: (104px, 0px, -104px, 0px, 32px, 31px, 261px, 210px, '../img/sprite/sprite.png', 'css-html-icon', );
$digital-icon-name: 'digital-icon';
$digital-icon-x: 0px;
$digital-icon-y: 52px;
$digital-icon-offset-x: 0px;
$digital-icon-offset-y: -52px;
$digital-icon-width: 32px;
$digital-icon-height: 32px;
$digital-icon-total-width: 261px;
$digital-icon-total-height: 210px;
$digital-icon-image: '../img/sprite/sprite.png';
$digital-icon: (0px, 52px, 0px, -52px, 32px, 32px, 261px, 210px, '../img/sprite/sprite.png', 'digital-icon', );
$dribble-name: 'dribble';
$dribble-x: 0px;
$dribble-y: 194px;
$dribble-offset-x: 0px;
$dribble-offset-y: -194px;
$dribble-width: 16px;
$dribble-height: 16px;
$dribble-total-width: 261px;
$dribble-total-height: 210px;
$dribble-image: '../img/sprite/sprite.png';
$dribble: (0px, 194px, 0px, -194px, 16px, 16px, 261px, 210px, '../img/sprite/sprite.png', 'dribble', );
$facebook-red-icon-name: 'facebook-red-icon';
$facebook-red-icon-x: 208px;
$facebook-red-icon-y: 92px;
$facebook-red-icon-offset-x: -208px;
$facebook-red-icon-offset-y: -92px;
$facebook-red-icon-width: 13px;
$facebook-red-icon-height: 26px;
$facebook-red-icon-total-width: 261px;
$facebook-red-icon-total-height: 210px;
$facebook-red-icon-image: '../img/sprite/sprite.png';
$facebook-red-icon: (208px, 92px, -208px, -92px, 13px, 26px, 261px, 210px, '../img/sprite/sprite.png', 'facebook-red-icon', );
$facebook-white-icon-name: 'facebook-white-icon';
$facebook-white-icon-x: 208px;
$facebook-white-icon-y: 46px;
$facebook-white-icon-offset-x: -208px;
$facebook-white-icon-offset-y: -46px;
$facebook-white-icon-width: 13px;
$facebook-white-icon-height: 26px;
$facebook-white-icon-total-width: 261px;
$facebook-white-icon-total-height: 210px;
$facebook-white-icon-image: '../img/sprite/sprite.png';
$facebook-white-icon: (208px, 46px, -208px, -46px, 13px, 26px, 261px, 210px, '../img/sprite/sprite.png', 'facebook-white-icon', );
$facebook-name: 'facebook';
$facebook-x: 248px;
$facebook-y: 72px;
$facebook-offset-x: -248px;
$facebook-offset-y: -72px;
$facebook-width: 8px;
$facebook-height: 16px;
$facebook-total-width: 261px;
$facebook-total-height: 210px;
$facebook-image: '../img/sprite/sprite.png';
$facebook: (248px, 72px, -248px, -72px, 8px, 16px, 261px, 210px, '../img/sprite/sprite.png', 'facebook', );
$geoposition-icon-name: 'geoposition-icon';
$geoposition-icon-x: 208px;
$geoposition-icon-y: 0px;
$geoposition-icon-offset-x: -208px;
$geoposition-icon-offset-y: 0px;
$geoposition-icon-width: 20px;
$geoposition-icon-height: 26px;
$geoposition-icon-total-width: 261px;
$geoposition-icon-total-height: 210px;
$geoposition-icon-image: '../img/sprite/sprite.png';
$geoposition-icon: (208px, 0px, -208px, 0px, 20px, 26px, 261px, 210px, '../img/sprite/sprite.png', 'geoposition-icon', );
$google-plus-name: 'google-plus';
$google-plus-x: 144px;
$google-plus-y: 194px;
$google-plus-offset-x: -144px;
$google-plus-offset-y: -194px;
$google-plus-width: 16px;
$google-plus-height: 14px;
$google-plus-total-width: 261px;
$google-plus-total-height: 210px;
$google-plus-image: '../img/sprite/sprite.png';
$google-plus: (144px, 194px, -144px, -194px, 16px, 14px, 261px, 210px, '../img/sprite/sprite.png', 'google-plus', );
$instagram-red-icon-name: 'instagram-red-icon';
$instagram-red-icon-x: 156px;
$instagram-red-icon-y: 43px;
$instagram-red-icon-offset-x: -156px;
$instagram-red-icon-offset-y: -43px;
$instagram-red-icon-width: 26px;
$instagram-red-icon-height: 26px;
$instagram-red-icon-total-width: 261px;
$instagram-red-icon-total-height: 210px;
$instagram-red-icon-image: '../img/sprite/sprite.png';
$instagram-red-icon: (156px, 43px, -156px, -43px, 26px, 26px, 261px, 210px, '../img/sprite/sprite.png', 'instagram-red-icon', );
$instagram-white-icon-name: 'instagram-white-icon';
$instagram-white-icon-x: 156px;
$instagram-white-icon-y: 89px;
$instagram-white-icon-offset-x: -156px;
$instagram-white-icon-offset-y: -89px;
$instagram-white-icon-width: 26px;
$instagram-white-icon-height: 26px;
$instagram-white-icon-total-width: 261px;
$instagram-white-icon-total-height: 210px;
$instagram-white-icon-image: '../img/sprite/sprite.png';
$instagram-white-icon: (156px, 89px, -156px, -89px, 26px, 26px, 261px, 210px, '../img/sprite/sprite.png', 'instagram-white-icon', );
$instagram-name: 'instagram';
$instagram-x: 36px;
$instagram-y: 194px;
$instagram-offset-x: -36px;
$instagram-offset-y: -194px;
$instagram-width: 16px;
$instagram-height: 16px;
$instagram-total-width: 261px;
$instagram-total-height: 210px;
$instagram-image: '../img/sprite/sprite.png';
$instagram: (36px, 194px, -36px, -194px, 16px, 16px, 261px, 210px, '../img/sprite/sprite.png', 'instagram', );
$photography-icon-name: 'photography-icon';
$photography-icon-x: 52px;
$photography-icon-y: 52px;
$photography-icon-offset-x: -52px;
$photography-icon-offset-y: -52px;
$photography-icon-width: 32px;
$photography-icon-height: 31px;
$photography-icon-total-width: 261px;
$photography-icon-total-height: 210px;
$photography-icon-image: '../img/sprite/sprite.png';
$photography-icon: (52px, 52px, -52px, -52px, 32px, 31px, 261px, 210px, '../img/sprite/sprite.png', 'photography-icon', );
$pinterest-red-icon-name: 'pinterest-red-icon';
$pinterest-red-icon-x: 103px;
$pinterest-red-icon-y: 104px;
$pinterest-red-icon-offset-x: -103px;
$pinterest-red-icon-offset-y: -104px;
$pinterest-red-icon-width: 31px;
$pinterest-red-icon-height: 26px;
$pinterest-red-icon-total-width: 261px;
$pinterest-red-icon-total-height: 210px;
$pinterest-red-icon-image: '../img/sprite/sprite.png';
$pinterest-red-icon: (103px, 104px, -103px, -104px, 31px, 26px, 261px, 210px, '../img/sprite/sprite.png', 'pinterest-red-icon', );
$pinterest-white-icon-name: 'pinterest-white-icon';
$pinterest-white-icon-x: 52px;
$pinterest-white-icon-y: 104px;
$pinterest-white-icon-offset-x: -52px;
$pinterest-white-icon-offset-y: -104px;
$pinterest-white-icon-width: 31px;
$pinterest-white-icon-height: 26px;
$pinterest-white-icon-total-width: 261px;
$pinterest-white-icon-total-height: 210px;
$pinterest-white-icon-image: '../img/sprite/sprite.png';
$pinterest-white-icon: (52px, 104px, -52px, -104px, 31px, 26px, 261px, 210px, '../img/sprite/sprite.png', 'pinterest-white-icon', );
$pinterest-name: 'pinterest';
$pinterest-x: 248px;
$pinterest-y: 0px;
$pinterest-offset-x: -248px;
$pinterest-offset-y: 0px;
$pinterest-width: 13px;
$pinterest-height: 16px;
$pinterest-total-width: 261px;
$pinterest-total-height: 210px;
$pinterest-image: '../img/sprite/sprite.png';
$pinterest: (248px, 0px, -248px, 0px, 13px, 16px, 261px, 210px, '../img/sprite/sprite.png', 'pinterest', );
$search-icon-name: 'search-icon';
$search-icon-x: 208px;
$search-icon-y: 138px;
$search-icon-offset-x: -208px;
$search-icon-offset-y: -138px;
$search-icon-width: 18px;
$search-icon-height: 18px;
$search-icon-total-width: 261px;
$search-icon-total-height: 210px;
$search-icon-image: '../img/sprite/sprite.png';
$search-icon: (208px, 138px, -208px, -138px, 18px, 18px, 261px, 210px, '../img/sprite/sprite.png', 'search-icon', );
$seo-icon-name: 'seo-icon';
$seo-icon-x: 52px;
$seo-icon-y: 0px;
$seo-icon-offset-x: -52px;
$seo-icon-offset-y: 0px;
$seo-icon-width: 32px;
$seo-icon-height: 32px;
$seo-icon-total-width: 261px;
$seo-icon-total-height: 210px;
$seo-icon-image: '../img/sprite/sprite.png';
$seo-icon: (52px, 0px, -52px, 0px, 32px, 32px, 261px, 210px, '../img/sprite/sprite.png', 'seo-icon', );
$shop-icon-name: 'shop-icon';
$shop-icon-x: 92px;
$shop-icon-y: 152px;
$shop-icon-offset-x: -92px;
$shop-icon-offset-y: -152px;
$shop-icon-width: 18px;
$shop-icon-height: 15px;
$shop-icon-total-width: 261px;
$shop-icon-total-height: 210px;
$shop-icon-image: '../img/sprite/sprite.png';
$shop-icon: (92px, 152px, -92px, -152px, 18px, 15px, 261px, 210px, '../img/sprite/sprite.png', 'shop-icon', );
$tumbl-name: 'tumbl';
$tumbl-x: 248px;
$tumbl-y: 36px;
$tumbl-offset-x: -248px;
$tumbl-offset-y: -36px;
$tumbl-width: 10px;
$tumbl-height: 16px;
$tumbl-total-width: 261px;
$tumbl-total-height: 210px;
$tumbl-image: '../img/sprite/sprite.png';
$tumbl: (248px, 36px, -248px, -36px, 10px, 16px, 261px, 210px, '../img/sprite/sprite.png', 'tumbl', );
$twitter-red-icon-name: 'twitter-red-icon';
$twitter-red-icon-x: 46px;
$twitter-red-icon-y: 152px;
$twitter-red-icon-offset-x: -46px;
$twitter-red-icon-offset-y: -152px;
$twitter-red-icon-width: 26px;
$twitter-red-icon-height: 22px;
$twitter-red-icon-total-width: 261px;
$twitter-red-icon-total-height: 210px;
$twitter-red-icon-image: '../img/sprite/sprite.png';
$twitter-red-icon: (46px, 152px, -46px, -152px, 26px, 22px, 261px, 210px, '../img/sprite/sprite.png', 'twitter-red-icon', );
$twitter-white-icon-name: 'twitter-white-icon';
$twitter-white-icon-x: 0px;
$twitter-white-icon-y: 152px;
$twitter-white-icon-offset-x: 0px;
$twitter-white-icon-offset-y: -152px;
$twitter-white-icon-width: 26px;
$twitter-white-icon-height: 22px;
$twitter-white-icon-total-width: 261px;
$twitter-white-icon-total-height: 210px;
$twitter-white-icon-image: '../img/sprite/sprite.png';
$twitter-white-icon: (0px, 152px, 0px, -152px, 26px, 22px, 261px, 210px, '../img/sprite/sprite.png', 'twitter-white-icon', );
$twitter-name: 'twitter';
$twitter-x: 108px;
$twitter-y: 194px;
$twitter-offset-x: -108px;
$twitter-offset-y: -194px;
$twitter-width: 16px;
$twitter-height: 14px;
$twitter-total-width: 261px;
$twitter-total-height: 210px;
$twitter-image: '../img/sprite/sprite.png';
$twitter: (108px, 194px, -108px, -194px, 16px, 14px, 261px, 210px, '../img/sprite/sprite.png', 'twitter', );
$users-icon-name: 'users-icon';
$users-icon-x: 156px;
$users-icon-y: 0px;
$users-icon-offset-x: -156px;
$users-icon-offset-y: 0px;
$users-icon-width: 32px;
$users-icon-height: 23px;
$users-icon-total-width: 261px;
$users-icon-total-height: 210px;
$users-icon-image: '../img/sprite/sprite.png';
$users-icon: (156px, 0px, -156px, 0px, 32px, 23px, 261px, 210px, '../img/sprite/sprite.png', 'users-icon', );
$view-icon-name: 'view-icon';
$view-icon-x: 130px;
$view-icon-y: 152px;
$view-icon-offset-x: -130px;
$view-icon-offset-y: -152px;
$view-icon-width: 20px;
$view-icon-height: 12px;
$view-icon-total-width: 261px;
$view-icon-total-height: 210px;
$view-icon-image: '../img/sprite/sprite.png';
$view-icon: (130px, 152px, -130px, -152px, 20px, 12px, 261px, 210px, '../img/sprite/sprite.png', 'view-icon', );
$web-design-icon-name: 'web-design-icon';
$web-design-icon-x: 0px;
$web-design-icon-y: 0px;
$web-design-icon-offset-x: 0px;
$web-design-icon-offset-y: 0px;
$web-design-icon-width: 32px;
$web-design-icon-height: 32px;
$web-design-icon-total-width: 261px;
$web-design-icon-total-height: 210px;
$web-design-icon-image: '../img/sprite/sprite.png';
$web-design-icon: (0px, 0px, 0px, 0px, 32px, 32px, 261px, 210px, '../img/sprite/sprite.png', 'web-design-icon', );
$works-icon-name: 'works-icon';
$works-icon-x: 104px;
$works-icon-y: 51px;
$works-icon-offset-x: -104px;
$works-icon-offset-y: -51px;
$works-icon-width: 30px;
$works-icon-height: 30px;
$works-icon-total-width: 261px;
$works-icon-total-height: 210px;
$works-icon-image: '../img/sprite/sprite.png';
$works-icon: (104px, 51px, -104px, -51px, 30px, 30px, 261px, 210px, '../img/sprite/sprite.png', 'works-icon', );
$youtube-name: 'youtube';
$youtube-x: 170px;
$youtube-y: 152px;
$youtube-offset-x: -170px;
$youtube-offset-y: -152px;
$youtube-width: 16px;
$youtube-height: 12px;
$youtube-total-width: 261px;
$youtube-total-height: 210px;
$youtube-image: '../img/sprite/sprite.png';
$youtube: (170px, 152px, -170px, -152px, 16px, 12px, 261px, 210px, '../img/sprite/sprite.png', 'youtube', );
$spritesheet-width: 261px;
$spritesheet-height: 210px;
$spritesheet-image: '../img/sprite/sprite.png';
$spritesheet-sprites: ($comment-icon, $creativity-icon, $css-html-icon, $digital-icon, $dribble, $facebook-red-icon, $facebook-white-icon, $facebook, $geoposition-icon, $google-plus, $instagram-red-icon, $instagram-white-icon, $instagram, $photography-icon, $pinterest-red-icon, $pinterest-white-icon, $pinterest, $search-icon, $seo-icon, $shop-icon, $tumbl, $twitter-red-icon, $twitter-white-icon, $twitter, $users-icon, $view-icon, $web-design-icon, $works-icon, $youtube, );
$spritesheet: (261px, 210px, '../img/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
