@import 'normalize';

.wrapper {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.slider-plugin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //background-image: url('./img/2img.jpeg') ;
}

.slider-menu {
  width: 30%;
  margin-right: 20px;

}

.slider-submenu {
  margin-top: 75px;
  overflow: hidden;
  margin-right: 20px;
  width: 30%;
  height: 135px;
  //position:relative;
}

.slider-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 280px;
  width:100%;
  position:absolute;
  background-image: url('../img/img0.png');
}

.menu-item {
  text-align: center;
  background-color: dodgerblue;
  color: white;
  line-height: 80px;
  margin-bottom: 20px;
  height: 80px
}

.slider-submenu li {
  text-align: center;
  background-color: rebeccapurple;
  color: white;
  line-height: 40px;
  margin-bottom: 5px;
  height: 40px
}

.slider-submenu-container {

  position: relative;
}

.image-container{
  position: relative;
  width: 60%;
  overflow: hidden;
}