@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700');

$font-montserrat: 'Montserrat', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-kaushan: 'Kaushan Script', cursive;
