.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  display: block;
}

::-webkit-input-placeholder {
  color: #000000;
}
input[type="text"] {
  border: 1px solid #ddd;

}
input[type="checkbox"] {
  display: inline-block;
}

/* Task list */
li input[type='text'] {
  font-size: 15px;
}

li > label {
  display: inline-block;
  margin-left: 5px;
  vertical-align: bottom;
  margin-bottom: 5px;
  width: 247px;

  overflow: auto;
}

li > input[type="text"] {
  width: 99%;
}

/* Edit Task */
ul li input[type=text] {
  display: none;
}

ul li.edit-mode input[type=text] {
  display: block;

}

ul li:nth-child(2n) {
  margin: 5px;
  background-color: burlywood;
}

ul li:nth-child(2n-1) {
  margin: 5px;
  background-color: #b18c5c;
}

ul li.edit-mode label {
  display: none;
}

input[type=checkbox] + label {
  text-decoration: none;

}

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
  text-decoration: line-through;
}

.all-tasks-btn:focus, .completed-tasks-btn:focus, .uncompleted-tasks-btn:focus {
  background-color: bisque;
  .all-tasks-btn {
    background-color: bisque;
  }
}

.edit-mode .edit {
  color: transparent;
  //position:relative //carefull
}

.edit-mode .edit:before {
  content: "Confirm";
  padding-left: 22px;
  color: black;
}

.cancel {
  display: none;
}

.edit-mode .cancel {
  padding:5px 28px;
background-color: bisque;
  display: inline-block;
  float: right;
  margin-right: 20px;
}

.edit-mode .delete {
  display: none;
}

.completed-tasks li {
  display: none;
}

.completed-tasks .completed-task {
  display: block;
}

.edit-mode input[type=checkbox] {
  display: none;
}

.uncompleted-tasks li {
  display: block;
}

.uncompleted-tasks .completed-task {
  display: none;
}

.task-input {
  font-size: 15px;
  padding: 4px;
}

.todo-manager {
  margin-bottom: 15px;
  text-align: center;
}

.todo-manager form {
  text-align: center;
  margin-bottom: 20px;

}

.add-button {
  font-size: 15px;
  padding: 5px 22px;

}
.add-button:active{
  background-color: bisque;
}
.todo-manager > input {
  padding: 8px;
  margin: 0 5px;
  font-size: 15px;
  box-shadow: 2px 3px 3px rgba(0,0,0,0.5);
}

.edit {
  margin-left: 20px;
  padding: 5px;
  display: inline-block;
  background-color: bisque;
}

.delete {
  border-left: 1px solid #b18c5c;
  padding: 5px 7px;
  display: inline-block;
  background-color: bisque;
}

li * {
  font-size: 15px;
}