/* line 2, ../sass/main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/main.scss */
.fonts, #container header, #container ul {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875em;
  color: white;
}

/* line 15, ../sass/main.scss */
body {
  background-color: #B3E5FC;
}

/* line 19, ../sass/main.scss */
h4 {
  padding: 30px;
  border-bottom: 1px solid #EF6C00;
  color: white;
}

/* line 25, ../sass/main.scss */
#container {
  padding: 40px 0;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
/* line 32, ../sass/main.scss */
#container header {
  background-color: #F57C00;
  box-shadow: 0 0 10px rgba(0, 10, 0, 0.8);
  padding: 40px;
  position: relative;
  margin-bottom: 10px;
}
/* line 40, ../sass/main.scss */
#container header h2 {
  padding-bottom: 20px;
}
/* line 44, ../sass/main.scss */
#container header input {
  width: 50%;
  height: 35px;
  vertical-align: middle;
  border: none;
  padding: 0 40px;
}
/* line 52, ../sass/main.scss */
#container header .addButton {
  border-radius: 50%;
  background-color: #311B92;
  vertical-align: middle;
  display: inline-block;
  width: 35px;
  height: 35px;
  position: relative;
  left: -4%;
}
/* line 61, ../sass/main.scss */
#container header .addButton:hover {
  cursor: pointer;
  box-shadow: inset 0 0 1px rgba(0, 10, 0, 0.8);
  background-color: #673AB7;
  transition: background 0.5s;
}
/* line 67, ../sass/main.scss */
#container header .addButton span {
  position: relative;
  top: -10%;
  right: -3%;
  font-size: 20px;
}
/* line 75, ../sass/main.scss */
#container header #clearList {
  background-color: #607D8B;
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.6em;
  padding: 5px 10px;
  cursor: pointer;
}
/* line 83, ../sass/main.scss */
#container header #clearList:hover {
  background-color: #455A64;
}
/* line 87, ../sass/main.scss */
#container header #sort {
  font-size: 14px;
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0px auto;
  margin-top: 40px;
}
/* line 95, ../sass/main.scss */
#container header #sort .sort-button {
  padding: 5px 10px;
  background-color: #FFAB20;
  vertical-align: middle;
  cursor: pointer;
}
/* line 100, ../sass/main.scss */
#container header #sort .sort-button:hover {
  background-color: #FFC726;
}
/* line 103, ../sass/main.scss */
#container header #sort .sort-button.active {
  background-color: #057F00;
  transition: background-color 0.6s;
}
/* line 111, ../sass/main.scss */
#container ul {
  width: 100%;
  color: #263238;
  font-size: 1em;
  list-style: none;
}
/* line 118, ../sass/main.scss */
#container ul li.task.edit-mode > input.editInput {
  display: inline;
}
/* line 121, ../sass/main.scss */
#container ul li.task.edit-mode > span.cancel {
  display: inline;
}
/* line 124, ../sass/main.scss */
#container ul li.task.edit-mode > span.confirm {
  display: inline;
}
/* line 127, ../sass/main.scss */
#container ul li.task.edit-mode > span.delete {
  display: none;
}
/* line 130, ../sass/main.scss */
#container ul li.task.edit-mode > span.edit {
  display: none;
}
/* line 134, ../sass/main.scss */
#container ul li.task.edit-mode > span.task-container {
  display: none;
}
/* line 139, ../sass/main.scss */
#container ul li.hide {
  display: none;
}
/* line 143, ../sass/main.scss */
#container ul li.task {
  position: relative;
  text-align: left;
  padding: 20px 0;
  background-color: #ECEFF1;
  transition: background-color 0.3s;
}
/* line 150, ../sass/main.scss */
#container ul li.task input {
  margin: 0 20px;
  width: 20px;
  height: 14px;
  vertical-align: middle;
}
/* line 157, ../sass/main.scss */
#container ul li.task input.editInput {
  width: 40%;
}
/* line 161, ../sass/main.scss */
#container ul li.task.checked {
  text-decoration: line-through;
  background-color: #607D8B;
  transition: background-color 0.7s;
}
/* line 167, ../sass/main.scss */
#container ul li.task input.editInput {
  display: none;
}
/* line 170, ../sass/main.scss */
#container ul li.task span.cancel {
  display: none;
}
/* line 173, ../sass/main.scss */
#container ul li.task span.confirm {
  display: none;
}
/* line 181, ../sass/main.scss */
#container ul .button {
  min-width: 50px;
  background-color: #607D8B;
  position: absolute;
  text-align: center;
  right: 6%;
  font-size: 0.7em;
  color: #BDBDBD;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}
/* line 195, ../sass/main.scss */
#container ul .edit {
  right: 20%;
  background-color: #455A64;
  display: inline;
}
/* line 200, ../sass/main.scss */
#container ul .confirm {
  right: 20%;
  background-color: #455A64;
  display: inline;
}
