@import 'helpers/variables';

@import 'base/normalize';
@import 'base/typography';
@import 'base/common';

@import 'layout/header';
@import 'layout/footer';

@import 'components/about';
@import 'components/facts';
@import 'components/services';
@import 'components/feature';
@import 'components/services-2';
@import 'components/quote';
@import 'components/team';
@import 'components/logos';
@import 'components/work';
@import 'components/testimonial';
@import 'components/reviews';
@import 'components/stories';
@import 'components/map';
