.todo-list {
  width: 60%;
  margin: 0 auto;
}

.todo-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-list ul.all li {
  display: inline-block;
}

.todo-list ul.progress li {
  display: inline-block;
}

.todo-list ul.progress li.done {
  display: none;
}

.todo-list ul.done li {
  display: none;
}

.todo-list ul.done li.done {
  display: inline-block;
}

.todo-list .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: #333;
  opacity: 0.5;
  display: none;
}

.todo-list .overlay.active {
  display: block;
}

.todo-list .overlay.active {
  display: block;
}

.filter-btns {
  padding-top: 20px;
  font-size: 0;
}

.filter-btns button:focus {
  outline: none;
}

.filter-btns button {
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
  background: #eff4ff;
  border: 1px solid #eff4ff;
  color: #1d1d1d;
  margin: 0 5px;
  transition: all .4s;
}

.filter-btns button:hover {
  background: #2d89ef;
  border: 1px solid #2d89ef;
  color: #eff4ff;
}

.filter-btns button.active {
  background: #2d89ef;
  border: 1px solid #2d89ef;
  color: #eff4ff;
}
